.mfilter-selected-filters-cnt > a {
  display: block;
  margin: 5px 0 0 0;
}

.mfilter-close {
  margin: 0 0 0 5px;
  cursor: pointer;
}
.mfilter-close i {
  font-style: normal;
}

.item-category__body {
  background-color: #ffffff;
  border: 5px solid rgba(109, 139, 135, 0.2);
}

.item-category__img {
  height: 182px;
}

@media (max-width: 1439px) {
  .item-category__img {
    height: 117px;
  }
}

@media (max-width: 1199px) {
  .item-category__img {
    height: 91px;
  }
}

@media (max-width: 767px) {
  .item-category__img {
    height: 65px;
  }
}
