// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {
    
    &__row {
        @include row();
        margin-bottom: -20px;
    }

    &__feedback {
        @include make-col(4);
        @include col(xl, 12, 12, 20px);
        margin-bottom: 20px;

        @media (max-width: $screen-md) {
            flex: 0 0 calc(100% + 30px);
            max-width: calc(100% + 30px);
            margin-left: -15px;
        }

        .feedback__form .form__btn {
            align-self: flex-end;
            margin-top: auto;
        }
    }

    &__info {
        @include make-col(4);
        @include col(xl, 6, 12, 20px);
        margin-bottom: 20px;

        @media (max-width: $screen-md) {
            flex: 0 0 calc(100% + 30px);
            max-width: calc(100% + 30px);
            margin-left: -15px;
        }
    }

    &__map {
        flex: 1 0 33.33333%;
        min-height: 300px;
        margin-right: calc((100vw - 1520px) / -2);
        margin-left: -10px;
        margin-bottom: 20px;

        @media (max-width: 1580px) {
            margin-right: -30px;
        }

        @media (max-width: $screen-xl) {
            flex: 0 0 50%;
            max-width: 50%;
            margin-left: -10px;
        }

        @media (max-width: $screen-md) {
            flex: 0 0 calc(100% + 30px);
            max-width: calc(100% + 30px);
            margin-left: -15px;
        }
    }

    &__info-body {
        height: 100%;
        padding: 30px;
        background: $white;
        border: 1px solid #F0F0F0;
        border-radius: 4px 0px 0px 4px;

        @media (max-width: $screen-lg) {
            padding: 20px;
        }

        @media (max-width: $screen-md) {
            padding: 20px 15px;
            border-radius: 0;
        }
    }

    &__item {
        
        &:not(:last-child) {
            margin-bottom: 2em;
        }
    }

    &__text {
        line-height: 2;
    }

    &__subtitle {
        margin-top: 0;
    }
}
