// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form {

    &__fieldset {
        min-width: 0;
        margin: 0;
        border: 0;
        padding: 0;

        &:not(:last-of-type) { 
            margin-bottom: 80px;

            @media (max-width: 1439px) {
                margin-bottom: 60px;
            }

            @media (max-width: $screen-lg) {
                margin-bottom: 40px;
            }
        }
    }

    &__legend {
        display: block;
        width: 100%;
        max-width: 100%; // Привет IE
        margin-top: 0;
        margin-bottom: 0.5em;
        font-size: $font-size-h2;
        font-family: $font-family;
        font-weight: 600;
        line-height: $line-height;
        white-space: normal; // Привет IE
        color: currentColor;

        @media (max-width: 1439px) {
            font-size: 24px;
        }
    
        @media (max-width: $screen-md) {
            font-size: 20px;
        }        
    }

    &__btn {
        margin-top: 1em;
    }

    &__row {
        display: flex;

        @media (max-width: $screen-sm) {
            flex-direction: column;
        }

        & > * {
            flex-grow: 1;
            max-width: 100%;
            margin: 0;
        }

        & > *:not(:last-child) {
            margin-right: 20px;

            @media (max-width: $screen-sm) {
                margin-right: 0;
            }
        }
    }

    &__footer-order {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 80px;

        @media (max-width: 1439px) {
            margin-top: 60px;
        }

        @media (max-width: $screen-lg) {
            position: absolute;
            bottom: 0;
            left: 10px;
            width: calc(100% - 20px);
            margin-top: 0;
        }

        @media (max-width: $screen-sm) {
            flex-direction: column;
            align-items: flex-start;
        }

        .btn {
            flex-shrink: 0;

            @media (max-width: $screen-sm) {
                width: 100%;
            }
        }

        & > * {
            flex-grow: 1;
            max-width: 100%;
            margin: 0;
        }

        & > *:not(:last-child) {
            margin-right: 20px;

            @media (max-width: $screen-sm) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

    }


    &__promo {
        display: flex;
        margin-bottom: 1em;

        .field-text {
            flex-grow: 1;
            margin-bottom: 0;
            margin-right: 1em;
        }

        .btn {
            border-radius: 0;
        }

        & > * {
            margin: 0;
        }
    }

    &__text {

        @media (max-width: $screen-md) {
            font-size: 12px;
        }

        a {
            color: currentColor;
            font-weight: 500;
            text-decoration: none;
            border-bottom: 1px solid currentColor;

            &:hover,
            &:focus {
                color: currentColor;
                border-color: transparent;
            }
        }

        &--light {
            color: #C4C4C4;
        }
    }
}
