// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.85em 2.7em;
    background-color: $blue;
    color: $white;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid $blue;
    border-radius: 4px;
    outline: none;
    appearance: none;
    cursor: pointer;
    text-align: center;

    @media (max-width: 1439px) {
        padding: 0.85em 2em;
        font-size: 16px;
    }

    @media (max-width: $screen-lg) {
        border-width: 1px;
    }

    @media (max-width: $screen-md) {
        font-size: 16px;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-right: 0.5em;

        @media (max-width: $screen-lg) {
            width: 15px;
            height: 15px;
        }
    }

    span {
        margin-left: 0.2em;
    }

    &:hover,
    &:focus {
        border-color: darken($blue, 5%);
        background-color: darken($blue, 5%);
        color: $white;
    }

    &--black {
        border: 2px solid $text-color;
        background-color: $text-color;

        &:hover,
        &:focus {
            background-color: transparent;
            color: $text-color;
            border-color: $text-color;

            .icon {
                fill: $text-color;
            }
        }
    }

    &--transparent {
        background-color: transparent;
        border: 2px solid $text-color;
        color: $text-color;

        &:hover,
        &:focus {
            background-color: $text-color;
            border-color: $text-color;
            color: $white;
        }
    }

    &--white {
        background-color: $white;
        border: 2px solid $white;
        color: $text-color;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

        &:hover,
        &:focus {
            border-color: $blue;
            background-color: $blue;
            color: $white;
        }
    }

    &--green {
        background-color: $green-dark;
        border-color: $green-dark;

        &:hover,
        &:focus {
            border-color: darken($green-dark, 5%);
            background-color: darken($green-dark, 5%);
            color: $white;
        }
    }

    &--disabled {
        background-color: transparent;
        border-color: #C4C4C4;
        color: #C4C4C4;
        cursor: default;

        &:hover,
        &:focus {
            background-color: transparent;
            border-color: #C4C4C4;
            color: #C4C4C4;
        }
    }
}
