// В этом файле должны быть стили для БЭМ-блока main-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-slider {
    position: relative;
    max-height: 559px;
    overflow: hidden;

    .slick-dots {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    &__nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
        width: 1580px;
        max-width: 100%;
        padding: 0 30px;
        margin: 0 auto;

        @media (max-width: $screen-xl) {
            display: none;
        }
    }

    &__item {
        background: #F4F4F4;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1439px) {
        }

        @media (max-width: $screen-xl) {
        }

        @media (max-width: $screen-md) {
            flex-direction: column;
            padding: 30px 0 50px; 
        }

        & > * {
            max-width: 100%;
        }
    }

    &__info {
        display: none;
    }

    &__img {
        align-self: flex-start;
        margin-top: -30px;
        max-height: 100%;

        @media (max-width: $screen-md) {
            order: -1;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
        }

        img {
            max-height: 100%;

            @media (max-width: $screen-md) {
                max-height: 250px;
            }
        }
    }

    &__title {
        margin-bottom: 0.5em;
        font-family: 'Lora', sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 1.1;

        @media (max-width: 1439px) {
            font-size: 44px;
        }

        @media (max-width: $screen-lg) {
            font-size: 36px;
        }

        @media (max-width: $screen-md) {
            font-size: 32px;
        }
    }

    &__text {
        margin-bottom: 1.5em;
        font-size: 18px;
        font-weight: 500;

        @media (max-width: 1439px) {
            font-size: 16px;
        }

        @media (max-width: $screen-lg) {
            font-size: 14px;
        }
    }

    &__btn {
        border-radius: 0;
    }
}
