// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.

// stylelint-disable plugin/selector-bem-pattern

// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

    @-ms-viewport { // stylelint-disable-line
        width: device-width;
    }
}


/* stylelint-disable */
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
       url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
         url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
         url('../fonts/Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
         url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Partner';
    src: url('../fonts/Partner-Bold.woff2') format('woff2'),
         url('../fonts/Partner-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

/* stylelint-enable */


.page {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%; // stylelint-disable-line
    min-width: 375px;
    min-height: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow: hidden;
    }

    &__content {
        flex-grow: 1;
    }

    &__main {
        display: block;
    }

    &__footer-wrapper {
        flex-shrink: 0;

        .subscribe {
            margin-bottom: 0;
        }
    }

    &__cols {
        @include row();
        justify-content: space-between;

        @media (max-width: $screen-lg) {
            margin-left: -15px;
            margin-right: -15px;
        }

        .page__main {
            @include make-col(8);
            @include col(lg, 12, 12, 30px);
            margin-bottom: 100px;

            @media (max-width: $screen-xl) {
                margin-bottom: 80px;
            }
    
            @media (max-width: $screen-md) {
                margin-bottom: 60px;
            }

            & > * {
                margin-bottom: 0;

                @media (max-width: $screen-xl) {
                    margin-bottom: 0;
                }
        
                @media (max-width: $screen-md) {
                    margin-bottom: 0;
                }
            }
        }

        .item-blog {
            @include make-col(6);
            @include col(lg, 6, 12, 30px);
            @include col(md, 6, 12, 6px);
            @include col(sm, 12, 12, 6px);
        }
    }

    &__top {
        margin-bottom: 50px;

        @media (max-width: $screen-xl) {
            margin-bottom: 40px;
        }

        @media (max-width: $screen-lg) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        & > * {

            @media (max-width: $screen-lg) {
                margin-bottom: 0;
            }
        }
    }
}

.container {
    width: 1580px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;

    @media (max-width: $screen-md) {
        padding: 0 15px;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    position: relative;
    display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
    flex-direction: column;  // и прижимаем footer в IE 10-11
    min-height: 100%;
    margin: 0;
    word-break: break-word;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    text-align: left;
    color: $text-color;
    background-color: $body-bg;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0);
        pointer-events: none;
    }

    &.shadow {

        &:after {
            background-color: rgba(#000, 0.5);
            transition: all 0.5s;
            pointer-events: auto;
        }
    }
    

    @media (max-width: 1439px) {
        font-size: 14px;
    }
}

[tabindex='-1']:focus {
    outline: none !important; // stylelint-disable-line
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
    cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none; // stylelint-disable-line
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
    touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
    margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
    overflow: visible;    // Покажем торчащее в Edge
    text-transform: none; // Уберём наследование text transform в Firefox
}

// Коррекция проблем стилизации для Safari
button,
html [type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button; // stylelint-disable-line
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

// Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
    -webkit-appearance: listbox; // stylelint-disable-line
}

textarea {
    overflow: auto;   // Удаление верт. скролла в IE.
    resize: vertical; // Правильное изменение размеров
}

svg {
    fill: currentColor;

    a &,
    button & {
        pointer-events: none; // Мы любим Edge, это браузер! (почти)
    }

    &:not(:root) {
        overflow: hidden; // Скрыть выступающее за границы в IE
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a,
button,
.icon{
    transition: all 0.3s;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: $link-color;
    background-color: transparent;

    &:hover,
    &:focus {
        color: $link-color--hover;
    }

    // &:visited {
    //   color: $link-color--hover;
    // }
}

hr {
    box-sizing: content-box; // Проблема Firefox
    height: 0;               // Проблема Firefox
    border: 0;
    overflow: visible;       // Проблема Edge и IE
    margin-top: $typo-margin-vertical * 2;
    margin-bottom: $typo-margin-vertical * 2;
    border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: $font-family;
    font-weight: 600;
    line-height: 1.2;
    color: currentColor;
}

h1 { 
    font-size: $font-size-h1; 

    @media (max-width: 1439px) {
        font-size: 32px;
    }

    @media (max-width: $screen-lg) {
        font-size: 28px;
    }

    @media (max-width: $screen-md) {
        font-size: 24px;
    }
} 

h2 { 
    font-size: $font-size-h2; 

    @media (max-width: 1439px) {
        font-size: 24px;
    }

    @media (max-width: $screen-md) {
        font-size: 20px;
    }
} 

h3 { 
    font-size: $font-size-h3; 

    @media (max-width: 1439px) {
        font-size: 20px;
    }

    @media (max-width: $screen-md) {
        font-size: 18px;
    }
} 

h4 { 
    font-size: $font-size-h4;

    @media (max-width: 1439px) {
        font-size: 18px;
    }
}  

h5 { 
    font-size: $font-size-h5;
}


.page-title {
    flex-shrink: 0;
    margin-top: 0;

    &--line {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-family: 'Lora', sans-serif;
        text-transform: uppercase;
        font-size: $font-size-h2;

        @media (max-width: 1439px) {
            font-size: 24px;
        }
    
        @media (max-width: $screen-md) {
            font-size: 20px;
        }

        &:before {
            content: '';
            flex-shrink: 0;
            display: inline-block;
            width: 80px;
            height: 1px;
            margin-right: 20px;
            background-color: $blue;
    
            @media (max-width: 1439px) {
                width: 40px;
                margin-right: 10px;
            }
    
            @media (max-width: $screen-sm) {
                width: 30px;
            }
        }

    }
}

.color-blue {
    color: $blue;
}

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
    margin-top: 0;
    margin-bottom: $typo-margin-vertical;
}

p {
    margin: 0;

    & + p {
        margin-top: 1em;
    }
}

address {
    font-style: normal;
}

ul,
ol {
    margin-bottom: $typo-margin-vertical;
    padding-left: 1.5em;

    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}

li {
    line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
    font-size: $font-size-sm;
}

sub,
sup {
    font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
    font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

// samp,
code,
kbd,
pre {
    font-family: $font-family--monospace;
}

code {
    padding: 0.06em 0.3em;
    color: $text-color;
    background-color: rgba(#000, 0.08);
    border-radius: $border-radius;
}

kbd {
    padding: 0.06em 0.3em;
    color: $text-color;
    background-color: $gray-lightest;
    border-radius: $border-radius;

    kbd {
        padding: 0;
    }
}

pre {
    display: block;
    width: 100%;
    margin-bottom: $typo-margin-vertical;
    overflow-x: auto;
    tab-size: 2;
    background-color: rgba(#000, 0.08);

    code {
        background: transparent;
    }
}

section {
    margin-bottom: 100px;

    @media (max-width: 1439px) {
        margin-bottom: 80px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 60px;
    }
}

.seo {

    &__text {

        & > *:first-child {
            margin-top: 0;
        }
        
        &:not(:last-child) {
            margin-bottom: 60px;

            @media (max-width: $screen-xl) {
                margin-bottom: 50px;
            }

            @media (max-width: $screen-lg) {
                margin-bottom: 40px;
            }

            @media (max-width: $screen-md) {
                margin-bottom: 30px;
            }
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        width: 12px;
        height: 12px;
        margin: 0 8px;
        border: 2px solid $green-dark;
        cursor: pointer;
        transition: all 0.3s;

        @media (max-width: $screen-xl) {
            width: 8px;
            height: 8px;
            margin: 0 6px;
            border-width: 1px;
        }

        @media (max-width: $screen-sm) {
            width: 6px;
            height: 6px;
            margin: 0 5px;
        }

        &.slick-active {
            background-color: $green-dark;
        }
    }

    button {
        font-size: 0;
        padding: 0;
        border: none;
    }
}

.slick-slider {

    a {
        outline: none;
    }

    .item-product {
        @include make-col(12);
        @include col(lg, 12, 12, 30px);
        @include col(md, 12, 12, 6px);
        height: 100%;
        margin-bottom: 0;
    }
}