// В этом файле должны быть стили для БЭМ-блока field-radio, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-radio {

    $block-name:                &; // #{$block-name}__element

    display: block;

    & + & {
        margin-top: $typo-margin-vertical;
    }

    &__title {
        @include field-name;
    }

    &__name {
        display: inline-block;
        position: relative;
        padding-left: 1.6em;
        font-weight: 500;
        font-size: 20px;
        line-height: $line-height;
        color: $gray-darker;

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        @media (max-width: $screen-lg) {
            font-size: 16px;
        }
    }

    &__name-text {
        display: inline-block;
        cursor: pointer;

        // своя радиокнопка без картинки

        @at-root input:disabled ~ & {
            cursor: not-allowed;
        }

        &:before {
            content: '';
            position: absolute;
            top: 4px;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #949494;
            border-radius: 50%;
            transition: all 0.3s;
        }

        @at-root input:disabled ~ &:before {
            border-color: $gray-light;
            background: $gray-lighter;
        }

        &:after {
            content: '';
            position: absolute;
            top: 9px;
            left: 5px;
            width: 10px;
            height: 10px;
            opacity: 0;
            border-radius: 50%;
            background-color: currentColor;
            transition: opacity $transition-time;

            @at-root input:checked ~ & {
                opacity: 1;
            }

            @at-root input:checked:disabled ~ & {
                background-color: $gray-light;
            }
        }

        &:hover {

            &:before {
                border-color: $text-color;
            }
        }

        // / своя радиокнопка без картинки
    }

    &__input {
        position: absolute;
        top: 0.8em;
        left: 0;
        margin: 0;
        padding: 0;
        transform: translateY(-50%);

        &:focus,
        &:active {
            @include field-focus;
        }

        // сокрытие инпута в случае использования своей радиокнопки
        opacity: 0;
    }

    &__help-text-wrap {
        padding-left: 1.5em;
    }

    &__help-text {
        @include field-help-text;
    }

    &--error {

        #{$block-name}__name-text,
        #{$block-name}__help-text {
            color: $color-danger;
        }
    }

    &--size {
        display: inline-flex;
        width: calc(12.5% + 1px);
        min-width: 70px;
        margin-left: -1px;
        margin-bottom: -1px;
        
        @media (max-width: $screen-sm) {
            width: calc(25% + 1px);
        }

        & + & {
            margin-top: 0;
        }

        #{$block-name}__name {
            width: 100%;
            height: 100%;
            padding: 0;
            font-weight: 600;
        }

        #{$block-name}__name-text {
            width: 100%;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: $white;
            border: 1px solid #E4E4E4;
            transition: all 0.3s, position 0s;

            @media (max-width: 1439px) {
                font-size: 16px;
            }

            @media (max-width: $screen-lg) {
                font-size: 14px;
            }

            &:before,
            &:after {
                display: none;
            }

            &:hover {
                position: relative;
                z-index: 1;
                border-color: $text-color;
            }
        }

        input:checked  + .field-radio__name-text {
            color: $white;
            background-color: $text-color;
            border-color: $text-color;
        }
        
    }
}
