.tp-caption.lightgrey_divider {
text-decoration:none;
background-color:rgba(235, 235, 235, 1);
width:370px;
height:3px;
background-position:initial initial;
background-repeat:initial initial;
border-width:0px;
border-color:rgb(34, 34, 34);
border-style:none;
}

.tp-caption.large_bold_grey {
font-size:48px;
line-height:48px;
font-weight:900;
font-family:Verdana, Geneva, sans-serif;
color:#0a72a4;
text-decoration:none;
background-color:transparent;
text-shadow:none;
margin:0px;
padding:1px 4px 0px 4px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_thin_grey {
font-size:26px;
line-height:30px;
font-weight:300;
font-family:"Open Sans";
color:rgb(102, 102, 102);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
border-radius:30px 30px 30px 30px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.small_thin_grey {
font-size:18px;
line-height:26px;
font-weight:300;
font-family:"Open Sans";
color:rgb(117, 117, 117);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.large_bold_darkblue {
font-size:44px;
line-height:60px;
font-weight:600;
font-family:Verdana, Geneva, sans-serif;
color:rgb(0, 123, 188);
text-decoration:none;
background-color:rgba(0, 123, 188, 0);
text-align:center;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_bg_darkblue {
font-size:20px;
line-height:20px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(52, 73, 94);
padding:10px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_bold_red {
font-size:24px;
line-height:30px;
font-weight:800;
font-family:"Open Sans";
color:rgb(227, 58, 12);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_light_red {
font-size:21px;
line-height:26px;
font-weight:300;
font-family:"Open Sans";
color:rgb(227, 58, 12);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_bg_red {
font-size:20px;
line-height:20px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(227, 58, 12);
padding:10px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_bold_orange {
font-size:24px;
line-height:30px;
font-weight:800;
font-family:"Open Sans";
color:rgb(243, 156, 18);
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_bg_orange {
font-size:20px;
line-height:20px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(243, 156, 18);
padding:10px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_bg_asbestos {
font-size:36px;
line-height:20px;
font-weight:800;
font-family:"Open Sans";
text-decoration:none;
background-color:rgb(255, 255, 255);
padding:15px 10px;
border-radius:13px 13px 13px 13px;
border-width:0px;
border-color:rgb(243, 186, 237);
border-style:none;
}

.tp-caption.large_bold_white {
font-size:40px;
line-height:60px;
font-weight:800;
font-family:Verdana, Geneva, sans-serif;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_light_white {
font-size:15px;
line-height:36px;
font-weight:300;
font-family:Verdana, Geneva, sans-serif;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(0, 0, 0);
padding:3px 18px 4px;
border-radius:30px 30px 30px 30px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.grassfloor {
text-decoration:none;
background-color:rgba(160, 179, 151, 1);
width:4000px;
height:150px;
border-width:0px;
border-color:rgb(34, 34, 34);
border-style:none;
}

.tp-caption.mediumlarge_light_white {
font-size:34px;
line-height:40px;
font-weight:300;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.mediumlarge_light_white_center {
font-size:34px;
line-height:40px;
font-weight:300;
font-family:"Open Sans";
color:#ffffff;
text-decoration:none;
background-color:transparent;
padding:0px 0px 0px 0px;
text-align:center;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.black_heavy_60 {
font-size:48px;
line-height:50px;
font-weight:900;
font-family:Verdana, Geneva, sans-serif;
color:rgb(150, 0, 0);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(150, 0, 0);
border-style:none;
}

.tp-caption.black_bold_bg_20 {
font-size:20px;
line-height:20px;
font-weight:900;
font-family:Verdana, Geneva, sans-serif;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
padding:5px 8px;
text-shadow:none;
border-width:0px;
border-color:rgb(15, 53, 112);
border-style:none;
}

.tp-caption.green_bold_bg_20 {
font-size:18px;
line-height:20px;
font-weight:800;
font-family:Raleway;
text-decoration:none;
background-color:rgb(243, 186, 237);
padding:5px 8px;
text-shadow:none;
border-radius:10px 10px 10px 10px;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.greenishbg_heavy_70 {
font-size:70px;
line-height:70px;
font-weight:900;
font-family:Raleway;
color:rgb(255, 255, 255);
text-decoration:none;
padding:50px;
text-shadow:none;
background-color:rgba(40, 67, 62, 0.8);
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.borderbox_725x130 {
min-width:725px;
min-height:130px;
background-color:transparent;
text-decoration:none;
border-width:2px;
border-color:rgb(255, 255, 255);
border-style:solid;
}

.tp-caption.black_heavy_70 {
font-size:42px;
line-height:42px;
font-weight:600;
font-family:Verdana, Geneva, sans-serif;
color:rgb(0, 0, 0);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.light_heavy_70 {
font-size:70px;
line-height:70px;
font-weight:900;
font-family:Verdana, Geneva, sans-serif;
color:rgb(243, 89, 104);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.black_bold_40 {
font-size:40px;
line-height:40px;
font-weight:800;
font-family:Raleway;
color:rgb(0, 0, 0);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.white_bold_bg_20 {
font-size:15px;
line-height:20px;
font-weight:600;
font-family:Raleway;
color:#007bbc;
text-decoration:none;
background-color:rgba(255, 255, 255, 1);
padding:25px 15px 25px 15px;
text-shadow:none;
text-align:center;
box-shadow:0px 1px 4px 1px rgb(0, 0, 0);
border-radius:60px 60px 60px 60px;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.red_bold_bg_20 {
font-size:20px;
line-height:20px;
font-weight:900;
font-family:Raleway;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(224, 51, 0);
padding:5px 8px;
text-shadow:none;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.blue_bold_bg_20 {
font-size:14px;
line-height:20px;
font-weight:600;
font-family:Verdana, Geneva, sans-serif;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(0, 123, 188);
padding:6px 16px 8px;
text-shadow:none;
border-radius:18px 18px 18px 18px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.light_heavy_40 {
font-size:40px;
line-height:40px;
font-weight:900;
font-family:Raleway;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.white_thin_34 {
font-size:35px;
line-height:35px;
font-weight:200;
font-family:Raleway;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.light_heavy_70_shadowed {
font-size:40px;
line-height:50px;
font-weight:900;
font-family:Raleway;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
text-shadow:rgba(0, 0, 0, 0.25) 0px 0px 7px;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.light_medium_30_shadowed {
font-size:30px;
line-height:40px;
font-weight:700;
font-family:Raleway;
color:#ffffff;
text-decoration:none;
background-color:transparent;
text-shadow:rgba(0, 0, 0, 0.25) 0px 0px 7px;
text-align:center;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.bignumbers_white {
font-size:26px;
line-height:31px;
font-weight:800;
font-family:Verdana, Geneva, sans-serif;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
padding:0px;
text-shadow:rgba(0, 0, 0, 0.247) 0px 0px 7px;
text-align:center;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.bignumbers_whitefdf {
font-size:92px;
line-height:61px;
font-weight:500;
font-family:Raleway;
color:rgb(0, 123, 188);
text-decoration:none;
background-color:rgba(0, 123, 188, 0.008);
padding:0px;
text-shadow:rgba(0, 0, 0, 0.247) 0px 0px 7px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.simplegreat_text {
font-size:30px;
line-height:40px;
font-weight:normal;
font-family:"Open Sans";
color:#ffffff;
text-decoration:none;
background-color:transparent;
padding:0px 0px 0px 0px;
text-align:center;
text-transform:uppercase;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.black {
font-size:30px;
line-height:30px;
font-weight:600;
color:rgb(33, 33, 33);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(33, 33, 33);
border-style:none;
}

.tp-caption.revslider-big-text {
font-size:72px;
line-height:64px;
font-weight:400;
font-family:Montserrat;
color:rgb(46, 93, 96);
text-decoration:none;
letter-spacing:-4px;
background-color:transparent;
border-width:0px;
border-color:rgb(34, 34, 34);
border-style:none;
}

.tp-caption.revslider-excerpt-lower {
font-size:22px;
letter-spacing:-1px;
line-height:30px;
text-decoration:none;
color:#2e5d60;
background-color:transparent;
font-weight:300;
border-width:0px;
border-color:rgb(34, 34, 34);
border-style:none;
}

.tp-caption.medium_light_8080 {
font-size:30px;
line-height:36px;
font-weight:300;
font-family:Georgia, serif;
color:rgb(128, 128, 128);
font-style:italic;
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.large_bold_darkblue2 {
font-size:24px;
line-height:34px;
font-weight:400;
font-family:"Open Sans";
color:#34495e;
text-decoration:none;
background-color:transparent;
text-align:center;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_thin_grey2 {
font-size:26px;
line-height:30px;
font-weight:300;
font-family:"Open Sans";
color:rgb(18, 65, 135);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
border-radius:30px 30px 30px 30px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.black_bold_bg_20_2 {
font-size:42px;
line-height:52px;
font-weight:900;
font-family:Raleway;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(0, 0, 0);
padding:5px 8px;
text-shadow:none;
border-width:0px;
border-color:rgb(0, 107, 164);
border-style:none;
}

.tp-caption.bignumbers_white2 {
font-size:24px;
line-height:34px;
font-weight:300;
font-family:Raleway;
color:rgb(9, 114, 165);
text-decoration:none;
background-color:transparent;
padding:0px;
text-shadow:rgba(0, 0, 0, 0.247) 0px 0px 7px;
text-align:center;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.black_heavy_704 {
font-size:62px;
line-height:64px;
font-weight:600;
font-family:Verdana, Geneva, sans-serif;
color:rgb(0, 0, 0);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.tp-caption.black_heavy_604 {
font-size:24px;
line-height:34px;
font-weight:300;
font-family:Verdana, Geneva, sans-serif;
color:rgb(10, 114, 164);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(10, 114, 164);
border-style:none;
}

.tp-caption.black_heavy_604_2 {
font-size:24px;
line-height:34px;
font-weight:300;
font-family:Verdana, Geneva, sans-serif;
color:rgb(10, 114, 164);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(10, 114, 164);
border-style:none;
}

.tp-caption.blue_heavy_704 {
font-size:62px;
line-height:64px;
font-weight:700;
font-family:Verdana, Geneva, sans-serif;
color:rgb(0, 123, 188);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(0, 123, 188);
border-style:none;
}

.tp-caption.bignumbers_GREEN {
font-size:42px;
line-height:42px;
font-weight:800;
font-family:Verdana, Geneva, sans-serif;
color:rgb(62, 124, 111);
text-decoration:none;
background-color:transparent;
padding:0px;
text-shadow:rgba(0, 0, 0, 0.247) 0px 0px 7px;
text-align:center;
border-width:0px;
border-color:rgb(62, 124, 111);
border-style:none;
}

.tp-caption.black_heavy_60_pink {
font-size:28px;
line-height:19px;
font-weight:900;
font-family:Verdana, Geneva, sans-serif;
color:rgb(213, 83, 129);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(150, 0, 0);
border-style:none;
}

.tp-caption.black_heavy_60_pink_zagolovok {
font-size:48px;
line-height:30px;
font-weight:900;
font-family:Verdana, Geneva, sans-serif;
color:rgb(213, 83, 129);
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0px;
border-color:rgb(150, 0, 0);
border-style:none;
}

