//- Все примеси в этом файле должны начинаться c имени блока (details)

mixin details(mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +details('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' details--' + modsList[i].trim();
            }
        }
        
    section.details(class=allMods)&attributes(attributes)
        block

mixin item-details(data, mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +details('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' item-details--' + modsList[i].trim();
            }
        }
        
    .item-details(class=allMods)&attributes(attributes)
        .item-details__body
            .item-details__img
                img(src=data.img, alt='image')
            .item-details__text!= data.text
