// В этом файле должны быть стили для БЭМ-блока details, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.details {
    
    &__row {
        @include row();
        margin-bottom: -20px;

        @media (max-width: $screen-lg) {
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: -30px;
            
        }
    
        @media (max-width: $screen-md) {
            margin-right: -3px;
            margin-left: -3px;
            margin-bottom: -6px;
        }

        @media (max-width: $screen-sm) {
            margin-bottom: -20px;
        }
    }
}

.item-details {
    @include make-col(3);
    @include col(xl, 6, 12, 20px);
    @include col(lg, 6, 12, 30px);
    @include col(md, 6, 12, 6px);
    @include col(sm, 12, 12, 6px);
    margin-bottom: 20px;

    @media (max-width: $screen-lg) {
        margin-bottom: 30px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 6px;
    }

    @media (max-width: $screen-sm) {
        margin-bottom: 20px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 50px 45px;
        background: #F4F5F5;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        text-align: center;

        @media (max-width: 1439px) {
            padding: 30px 20px;
        }

        @media (max-width: $screen-xl) {
            padding: 30px 20px;
        }

        & > * {
            max-width: 100%;
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 140px;
        margin-bottom: 30px;

        @media (max-width: 1439px) {
            height: 100px;
        }

        @media (max-width: $screen-md) {
            margin-bottom: 20px;
        }

        img {
            max-width: 70%;
            max-height: 100%;
        }
    }

    &__text {
        color: #898989;
    }

}
