 .mobile_price_sale{
        color: #f84147;
        text-decoration: line-through;
        font-size: 20px !important;
 }

 @media (max-width: 1439px) {
     .item-product__prices {
         margin-top: 0;
     }
 }
 .mobile-banner{
     display: none;
 }
 @media (max-width: 767px) {
     .mobile-banner{
         display: block;
     }
     .desktop-banner{
         display: none;
     }
 }
 @media (max-width: 767px) {
     .main-slider__item {
         background-position: center;
         background-size: cover;
     }

 }

 #updown {
     /*height: 48px;*/
     position: fixed;
     left: 50px;
     bottom: 25px;
     /*width: 4.2%;*/
     width: 80px;
     z-index: 1;
     /*background: #ddd;*/
     border-radius: 50%;
 }
 #updown > button {
     background-color: rgba(200, 200, 200, 0);
     color: rgb(150, 150, 150);

     opacity: 0.7;
     transition: all 0.3s ease-out 0s;
     border-radius: 0 !important;
 }
 #updown > button:hover {
     /*background-color: rgba(150, 150, 150, 0.2);*/
     opacity: 1;
 }
 .updown {
     border: 0 none;
     cursor: pointer;
     display: none;
     height: 100%;
     padding: 0;
     width: 100%;
 }
 .fa.fa-angle-up, .fa.fa-angle-down {
     font-size: 32px;
     font-weight: bold;
     transition: all 0.9s ease-out 0s;
     color: black;
 }
 @media (max-width: 1439px){
     #updown{
         width: 7%;
         left: 25px;
     }
 }
 @media (max-width : 767px){
     #updown{
         left: 10px;
         bottom: 15px;
         width: 34px;

     }
 }
