// В этом файле должны быть стили для БЭМ-блока cart, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cart {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    @media (max-width: 1439px) {
        margin-bottom: 80px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 60px;
    }
    
    & > * {
        max-width: 100%;
    }

    &__items {
        
        &:not(:last-child) {
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #E4E4E4;
        }
    }
}

.footer-cart {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 470px;
    max-width: 100%;

    @media (max-width: $screen-sm) {
        width: 100%;
    }

    & > * {
        max-width: 100%;
    }

    &__btns {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -20px;
        margin-left: auto;

        @media (max-width: $screen-sm) {
            width: 100%;
            margin-left: 0;
        }

        & > * {
            margin-bottom: 20px;

            @media (max-width: $screen-sm) {
                width: 100%;
            }
        }

        & > *:not(:last-child) {
            margin-right: 20px;

            @media (max-width: $screen-sm) {
                margin-right: 0;
            }
        }
    }

    &__order {

        @media (max-width: $screen-sm) {
            order: -1;
        }
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 85%;

        @media (max-width: $screen-sm) {
            width: 100%;
        }

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }

    &__title {
        margin-right: 1em;
        font-size: 18px;
        font-weight: 600;
    }

    &__sale {
        color: $blue;
        font-weight: 600;

        span {
            font-size: 20px;

            @media (max-width: 1439px) {
                font-size: 18px;
            }
        }
    }

    &__price {
        font-weight: 600;

        span {
            font-size: 36px;

            @media (max-width: 1439px) {
                font-size: 28px;
            }
        }
    }
}

.item-cart {
    display: flex;
    align-items: center;

    @media (max-width: $screen-md) {
        align-items: stretch;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &__remove {
        flex-shrink: 0;
        display: flex;
        margin-right: 40px;

        @media (max-width: 1439px) {
            margin-right: 20px;
        }

        @media (max-width: $screen-md) {
            order: 1;
            margin-right: 0;
            margin-left: 20px;
            align-self: center;
        }

        .icon {
            fill: $text-color;

            @media (max-width: 1439px) {
                width: 25px;
                height: 25px;
            }

            @media (max-width: $screen-md) {
                width: 20px;
                height: 20px;
            }
        }

        &:hover,
        &:focus {

            .icon {
                fill: $green-dark;
            }
        }
    }

    &__info {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: $screen-md) {
            justify-content: flex-start;
        }
    }

    &__col {
        flex: 0 1 15%;
        text-align: center;
        padding: 0 10px;

        &:first-child {
            flex-grow: 1;
            text-align: left;

            @media (max-width: $screen-md) {
                flex: 0 0 100%;
                margin-bottom: auto;
            }
        }

        &:last-child {
            text-align: right;
            padding-right: 0;

            @media (max-width: $screen-md) {
                padding-right: 10px;
                flex: 0 0 100%;
                text-align: left;
            }
        }
    }

    &__info-title {
        color: #898989;
        font-weight: 500;
        white-space: nowrap;
        font-size: 20px;

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        @media (max-width: $screen-lg) {
            font-size: 16px;
        }

        @media (max-width: $screen-md) {
            font-size: 14px;
        }

        @media (max-width: $screen-sm) {
            font-size: 12px;
        }
    }

    &__info-text {
        font-weight: 600;
        white-space: nowrap;
        font-size: 20px;

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        @media (max-width: $screen-lg) {
            font-size: 16px;
        }

        @media (max-width: $screen-md) {
            font-size: 14px;
        }

        @media (max-width: $screen-sm) {
            font-size: 12px;
        }
    }

    &__price {
        font-weight: 600;
        white-space: nowrap;
        font-size: 20px;

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        @media (max-width: $screen-lg) {
            font-size: 16px;
        }

        @media (max-width: $screen-md) {
            font-size: 16px;
        }

        span {
            @media (max-width: $screen-md) {
                font-size: 20px;
            }
        }
    }

    &__img {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 180px;
        margin-right: 20px;
        border: 1px solid #E4E4E4;

        @media (max-width: $screen-lg) {
            margin-right: 10px;
        }

        @media (max-width: 1439px) {
            width: 120px;
            height: 120px;
        }

        @media (max-width: $screen-lg) {
            width: 100px;
            height: 100px;
        }

        @media (max-width: $screen-md) {
            margin-right: 10px;
        }

        img {
            flex-shrink: 0;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__name {
        font-size: 22px;
        font-weight: 600;

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        @media (max-width: $screen-lg) {
            font-size: 16px;
        }
    }
}