// В этом файле должны быть стили для БЭМ-блока footer-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-nav {

    @media (max-width: $screen-xl) {
        width: 100%;
    }

    &--wide {
        width: 50%;
        padding-right: 40px;

        @media (max-width: $screen-xl) {
            width: 60%;
        }

        @media (max-width: $screen-lg) {
            width: 100%;
            margin-bottom: 60px;
        }

        @media (max-width: $screen-sm) {
            padding-right: 0;
            margin-bottom: 0;
        }
    }

    &--narrow {
        width: 30%;
        padding-right: 40px;

        @media (max-width: $screen-xl) {
            width: 40%;
        }

        @media (max-width: $screen-lg) {
            width: 50%;
        }

        @media (max-width: $screen-sm) {
            width: 100%;
            padding-right: 0;
        }
    }

    &__list {
        margin: 0 0 -1em;
        padding: 0;
        list-style: none;

        @media (max-width: $screen-sm) {
            display: none;
            margin-bottom: 0;
        }

        &--col-3 {
            column-count: 3;
            column-gap: 80px;

            @media (max-width: 1439px) {
                column-gap: 40px;
            }

            @media (max-width: $screen-xl) {
                column-count: 2;
            }

            @media (max-width: $screen-sm) {
                column-count: 1;
            }
        }

        &--col-2 {
            column-count: 2;
            column-gap: 80px;

            @media (max-width: 1439px) {
                column-gap: 40px;
            }

            @media (max-width: $screen-sm) {
                column-count: 1;
            }
        }
    }

    &__item {
        margin-bottom: 1em;

        @media (max-width: 1430px) {
            margin-bottom: 0.5em;
        }

        @media (max-width: $screen-sm) {
            margin-bottom: 0;
        }
    }

    &__link {
        font-size: 18px;
        color: currentColor;
        text-decoration: none;

        @media (max-width: 1439px) {
            font-size: 16px;
        }

        @media (max-width: $screen-sm) {
            display: block;
            width: calc(100% + 30px);
            margin-left: -15px;
            padding: 1em;
            border-bottom: 1px solid #3F3F3F;
        }

        &:hover,
        &:focus {
            color: $blue;
        }
    }
}
