//- Все примеси в этом файле должны начинаться c имени блока (icon)
mixin icon(name, width, height, mods)
    - mods = mods || ''
    svg(class="icon icon-" + name + ' ' + mods, width=width, height=height)
        use(xlink:href="img/sprite.svg#" + name)