// В этом файле должны быть стили для БЭМ-блока article, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.article {
    font-size: 18px;

    @media (max-width: 1439px) {
        font-size: 16px;
    }

    @media (max-width: $screen-xl) {
        font-size: 14px;
    }

    img {
        margin: 40px auto;

        @media (max-width: 1439px) {
            margin: 30px 0;
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &:not(:last-child) {
        position: relative;
        padding-bottom: 40px;
        margin-bottom: 40px;

        @media (max-width: 1439px) {
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #E4E4E4;
        }
    }

    &__date {
        margin-bottom: 1em;
        font-size: 18px;
        font-weight: 500;
        color: rgba($text-color, 0.6);

        @media (max-width: 1439px) {
            font-size: 16px;
        }
    }

    &__cols {
        @include row();
        align-items: center;
        
        &:not(:last-child) {
            margin-bottom: 80px;

            @media (max-width: 1439px) {
                margin-bottom: 60px;
            }

            @media (max-width: $screen-lg) {
                margin-bottom: 30px;
            }
        }

        &--reverse {
            flex-direction: row-reverse;
        }
    }

    &__col {
        @include make-col(6);
        @include col(md, 12, 12, 30px);

        &:first-child {

            @media (max-width: $screen-lg) {
                margin-bottom: 30px;
            }
        }
    }
}
