//- Все примеси в этом файле должны начинаться c имени блока (alert)

mixin alert(title, mods)
    //- Принимает:
    //-   title {string} - заголовок
    //-   mods {string}  - стилевые модификаторы
    //- Вызов:
        +alert()
            p Текст
        +alert('Внимание', 'warning, some-mod-name')
            p Предупреждение
            +close('Закрыть', 'sm')(class='alert__close', aria-label='Закрыть')
        +alert('Внимание', 'danger')
            p Проблема
            +close('Закрыть', 'sm')(class='alert__close', aria-label='Закрыть')
        +alert('Внимание', 'success')
            p Успех
            +close('Закрыть', 'sm')(class='alert__close', aria-label='Закрыть')

    -
        //- список модификаторов
        var allMods = '';
        if(typeof(mods) === 'string') {
            var modsList = mods.split(',');

            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' alert--' + modsList[i].trim();
            }
        }

    .alert(class=allMods, role='alert')&attributes(attributes)
        if (typeof(title) !== 'undefined' && title !== '')
            h4.alert__header!= title
        block