// В этом файле должны быть стили для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.alert {
    position: relative;
    margin-top: $typo-margin-vertical;
    margin-bottom: $typo-margin-vertical;
    padding: 0.7em 1.5em 0.7em 1.4em;
    border-radius: $border-radius;
    color: $text-color;
    background-color: lighten($color-warning, 30%);

    & > * { // stylelint-disable-line  selector-combinator-disallowed-list
        margin-top: 0;
        margin-bottom: 0;
    }

    & > * + * { // stylelint-disable-line  selector-combinator-disallowed-list
        margin-top: $typo-margin-vertical;
    }

    &__header {
        display: block;
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-size: $font-size-h3;
        font-weight: 400;
        line-height: 1.2;
        color: inherit;

        & + * {
            margin-top: 0;
        }
    }

    &__close.close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }



    // &--warning {
    //   background-color: lighten($color-warning, 30%);
    //   color: $text-color;
    // }

    // &--danger {
    //   background-color: $color-danger;
    //   color: #fff;

    //   a {
    //     color: inherit;
    //     text-decoration: underline;

    //     &:hover,
    //     &:focus {
    //       text-decoration: none;
    //     }
    //   }
    // }

    // &--success {
    //   background-color: $color-success;
    //   color: #fff;

    //   a {
    //     color: inherit;
    //     text-decoration: underline;

    //     &:hover,
    //     &:focus {
    //       text-decoration: none;
    //     }
    //   }
    // }
}
