// В этом файле должны быть стили для БЭМ-блока requisites, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.requisites {
    
    &__row {
        @include row();
        margin-bottom: -20px;
    }

    &__block {
        @include make-col(6);
        @include col(xl, 12, 12, 20px);
        margin-bottom: 20px;
    }

    &__body {
        width: 100%;
        height: 100%;
        padding: 30px;
        background-color: $white;
        border: 1px solid #F0F0F0;
        border-radius: 4px;

        @media (max-width: $screen-md) {
            width: calc(100% + 30px);
            margin-left: -15px;
            padding: 30px 15px;
            border-radius: 0;
        }
    }

    &__list {
        
        &--col-2 {
            column-count: 2;
            column-gap: 30px;

            @media (max-width: $screen-sm) {
                column-count: 1;
            }
        }
    }

    &__item {
        break-inside: avoid-column;

        &:not(:last-child) {
            margin-bottom: 2em;

            @media (max-width: 1439px) {
                margin-bottom: 1.5em;
            }
        }
    }

    &__title {
        margin-top: 0;

        @media (max-width: $screen-md) {
            margin-bottom: 0.3em;
        }
    }

    &__text {
        color: $gray-darker;
    }
}
