// В этом файле должны быть стили для БЭМ-блока code, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.code {
    display: block;
    width: 100%;
    max-height: 500px;
    margin-top: $typo-margin-vertical;
    margin-bottom: $typo-margin-vertical;
    border-radius: $border-radius;
    border: 1px solid $gray-lighter;
    padding: 0.5em 1em;
    overflow-x: auto;
    background-color: $gray-lightest;
    white-space: normal;
    tab-size: 2;

    code {
        display: block;
        min-height: 1em;
        padding: 0;
        white-space: pre;
        background-color: transparent;

        p,
        div {
            display: inline-block;
            margin: 0;
        }
    }
}
