.mfilter-counter {
	background: #428bca;
	color: #ffffff;

}
.mfilter-counter:after {
	border-right-color: #428bca;

}
.mfilter-direction-rtl .mfilter-counter:after {
	left: 100%;
	right: auto;
	border-right-color: none;
	border-left-color: #428bca;

}

				.mfilter-search #mfilter-opts-search_button {
					background-color: #428bca;
				}
			
.mfilter-box-1 .mfilter-counter {
	background: #f8f8f8;
	color: #999999;

}
.mfilter-box-1 .mfilter-counter:after {
	border-right-color: #f8f8f8;

}
.mfilter-box-1.mfilter-direction-rtl .mfilter-counter:after {
	left: 100%;
	right: auto;
	border-right-color: none;
	border-left-color: #f8f8f8;

}

				.mfilter-box-1 .mfilter-search #mfilter-opts-search_button {
					background-color: #f8f8f8;
				}
			
.mfilter-box-2 .mfilter-counter {
	background: #f8f8f8;
	color: #999999;

}
.mfilter-box-2 .mfilter-counter:after {
	border-right-color: #f8f8f8;

}
.mfilter-box-2.mfilter-direction-rtl .mfilter-counter:after {
	left: 100%;
	right: auto;
	border-right-color: none;
	border-left-color: #f8f8f8;

}

				.mfilter-box-2 .mfilter-search #mfilter-opts-search_button {
					background-color: #428bca;
				}
			