.mfilter-content_top .mfilter-content > ul > li.mfilter-hide {
	display: none;
}

.mfilter-content_top .mfilter-tb .mfilter-tb.mfilter-hide {
	display: none;
}

.mfilter-content_top .mfilter-head-icon {
	display: none !important;
}

.mfilter-disabled .mfilter-counter {
	display: none;
}

.mfilter-vehicles .bootstrap-select_mf.btn-group.mfilter-hide,
.mfilter-hide-by-live-filter,
.mfilter-hide,
.mfilter-tb-as-tr.mfilter-hide,
.mfilter-tb-as-tr.mfilter-hide-by-live-filter {
	display: none;
}

.mfilter-hide-counter .mfilter-counter {
	display: none;
}

.mfilter-counter.mfilter-close:after {
	display: none;
}

.scroll-element {
    display: none;
}

.mfilter-slider-data {
	display: none;
}

.bootstrap-select_mf.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}

.bootstrap-select_mf.show-menu-arrow .dropdown-toggle:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}


.bootstrap-select_mf.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}

.mfilter-free-container {
	position: fixed;
	top: 40px;
	width: 228px;
	margin-left: -238px;
	display: none;
	background: #fff;
	border: 1px solid #ccc;
	z-index: 99999;
	padding: 0 0 0 8px;
}

select.bs-select-hidden,
select.selectpicker_mf {
  display: none !important;
}