// В этом файле должны быть стили для БЭМ-блока card-gallery, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card-gallery {
    display: flex;
    width: 100%;
    height: 492px;
    overflow: hidden;

    @media (max-width: 1439px) {
        height: 488px;
        flex-direction: column;
    }

    @media (max-width: $screen-lg) {
        height: 425px;
    }

    @media (max-width: $screen-md) {
        flex-direction: row;
        height: 402px;
    }

    @media (max-width: $screen-sm) {
        flex-direction: column;
        height: 413px;
    }

    &:not(:last-child) {
        margin-bottom: 40px;

        @media (max-width: 1439px) {
            margin-bottom: 30px;
        }

        @media (max-width: $screen-lg) {
            margin-bottom: 20px;
        }
    }

    &__thumbs {
        height: 100%;

        .card-gallery__img {
            width: 108px;
            height: 106px;

            @media (max-width: 1439px) {
                width: auto;
                height: 91px;
            }

            @media (max-width: $screen-lg) {
                height: 75px;
            }

            @media (max-width: $screen-md) {
                height: 91px;
            }

            @media (max-width: $screen-sm) {
                height: 60px;
            }
        }

        .slick-slide {
            margin-bottom: 20px;
            margin-right: 20px;
            outline: none;

            @media (max-width: 1439px) {
                margin-bottom: 0;
                margin-top: 10px;
                margin-right: 10px;
            }

            @media (max-width: $screen-md) {
                margin-top: 0;
                margin-bottom: 10px;
            }

            @media (max-width: $screen-sm) {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        .slick-list {

            @media (max-width: 1439px) {
                margin-right: -7px;
            }

            @media (max-width: $screen-md) {
                margin-right: 0;
            }

            @media (max-width: $screen-sm) {
                margin-right: -7px;
            }
        }

        .slick-track {
            margin: 0;
        }
    }

    &__main {
        flex-shrink: 0;
        width: calc(100% - 130px);

        @media (max-width: 1439px) {
            width: 100%; 
            order: -1;
        }

        @media (max-width: $screen-md) {
            order: 1;
            width: calc(100% - 100px);
        }

        @media (max-width: $screen-sm) {
            width: 100%;
            order: -1;
        }

        .card-gallery__img {
            height: 491px;

            @media (max-width: 1439px) {
                height: 384px;
            }

            @media (max-width: $screen-lg) {
                height: 335px;
            }

            @media (max-width: $screen-md) {
                height: 401px;
            }

            @media (max-width: $screen-sm) {
                height: 340px;
            }
        }
    }

    &__img {
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: $white;
        border: 1px solid #E4E4E4;

        img {
            flex-shrink: 0;
            max-width: 80%;
            max-height: 80%;
        }
    }

 
    .slick-list {
        height: 100%;
        padding: 1px;
    }
}

