// В этом файле должны быть стили для БЭМ-блока mobile-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.mobile-nav {
    
    @media (min-width: $screen-md) {
        display: none;
    }

    &__hidden {
        position: absolute;
        top: 0;
        left: -300px;
        z-index: 10;
        width: 300px;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        background-color: $white;
        overflow: auto;
        transition: all 0.3s;

        &--show {
            left: 0;
        }
    }

    &__header {
        display: flex;
        min-height: 60px;
        padding: 10px 15px;
        justify-content: space-between;
        background-color: $gray-darker;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &--lvl-2 {
            display: none;
            margin-bottom: 0.8em;
        }
    }

    &__item {
        border-bottom: 1px solid #E4E4E4;

        &--selected {

            .mobile-nav__link {
                color: $blue;
            }
        }

        &--has-child {

            & > .mobile-nav__link {
                
                &:after {
                    content: '';
                    display: inline-block;
                    width: 0.5em;
                    height: 0.5em;
                    margin-left: 1em;
                    margin-right: 0.5em;
                    border-left: 1px solid $text-color;
                    border-bottom: 1px solid $text-color;
                    pointer-events: none;
                    transform: rotate(-45deg);
                    transition: all 0.3s;
                }
            }
        }

        &--lvl-2 {
            border: none;
        }

        &--open {

            & > .mobile-nav__link {
                
                &:after {
                    transform: rotate(135deg);
                }
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8em 15px;
        text-decoration: none;
        font-weight: 500;
        color: $text-color;

        &--lvl-2 {
            padding: 0.5em 25px;
        }
    }

    &__close {

        span {

            &:before,
            &:after {
                background: $white;
            } 
        }
    }
}
