// В этом файле должны быть стили для БЭМ-блока video, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.video {
    position: relative;
    display: block;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: $white svg-load('../blocks/video/bg-img/play.svg') calc(50% + 2px) calc(50% + 2px) no-repeat;
        transition: all 0.3s;

        @media (max-width: 1439px) {
            width: 65px;
            height: 65px;
            background: $white svg-load('../blocks/video/bg-img/play.svg', width='20px', height='25px') calc(50% + 2px) calc(50% + 2px) no-repeat;
        }

        @media (max-width: $screen-lg) {
            width: 95px;
            height: 95px;
            background: $white svg-load('../blocks/video/bg-img/play.svg', width='28px', height='35px') calc(50% + 2px) calc(50% + 2px) no-repeat;
        }

        @media (max-width: $screen-md) {
            width: 65px;
            height: 65px;
            background: $white svg-load('../blocks/video/bg-img/play.svg', width='20px', height='25px') calc(50% + 2px) calc(50% + 2px) no-repeat;
        }

        @media (max-width: $screen-md) {
            width: 50px;
            height: 50px;
            background: $white svg-load('../blocks/video/bg-img/play.svg', width='15px', height='19px') calc(50% + 2px) calc(50% + 1px) no-repeat;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($text-color, 0.3);
        opacity: 0;
        transition: all 0.3s;
    }

    &:hover,
    &:focus {
        
        &:before {
            opacity: 1;
        }

        &:after {
            background: $white svg-load('../blocks/video/bg-img/play.svg' fill=$blue) calc(50% + 2px) calc(50% + 2px) no-repeat;
        }
    }
}
