// В этом файле должны быть стили для БЭМ-блока baron, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Оригинальные темы оформления: https://github.com/Diokuz/baron/blob/master/skins/styles.css
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.baron {

    $block-name:                &; // #{$block-name}__element

    $scrollbar-width:           14px;

    position: relative;
    overflow: hidden;

    &__scroller {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        margin: 0;
        border: 0;
        padding: 0;
        padding-right: $scrollbar-width;
        -webkit-overflow-scrolling: touch; // remove line to customize scrollbar in iOs

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &__track {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        width: $scrollbar-width;
        opacity: 0;
        background-color: $gray-lightest;

        #{$block-name}--scrollbar & {
            opacity: 1;
        }
    }

    &__free {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &__bar {
        box-sizing: border-box;
        display: none;
        position: absolute;
        z-index: 1;
        left: ($scrollbar-width * -1 + 1);
        width: ($scrollbar-width - 2);
        opacity: 1;
        pointer-events: auto;
        background: $gray-lighten;

        #{$block-name}--scrollbar & {
            display: block;
        }

        #{$block-name}--dragging &,
        &:hover {
            background-color: $gray-light;
        }
    }

    &__control {
        display: none;
    }
}
