//- Все примеси в этом файле должны начинаться c имени блока (quality)

mixin quality(mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +quality('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' quality--' + modsList[i].trim();
            }
        }
        
    section.quality(class=allMods)&attributes(attributes)
        .container.quality__container
            block
