// В этом файле должны быть стили для БЭМ-блока quality, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.quality {
    
    &__cols {
        @include row();
        align-items: center;
    }

    &__left{
        @include make-col(6);
        @include col(lg, 12, 12, 20px);

        @media (max-width: $screen-lg) {
            margin-bottom: 20px;
        }
    }

    &__right {
        @include make-col(5);
        @include col(xl, 5.7, 12, 20px);
        @include col(lg, 12, 12, 20px);
        margin: 0 auto;
    }

    &__video {
        width: 100%;
        border-radius: 1px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        overflow: hidden;

        @media (max-width: $screen-md) {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;
        }

        img {
            width: 100%;
        }
    }

    &__text {
        font-size: 18px;

        @media (max-width: 1439px) {
            font-size: 16px;
        }

        @media (max-width: $screen-lg) {
            font-size: 14px;
        }
    }
}
