// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.breadcrumbs {
    display: flex;
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: 0;
    color: $text-color;
    font-size: 18px;
    
    @media (max-width: 1439px) {
        font-size: 14px;
    }

    @media (max-width: $screen-md) {
        font-size: 12px;
    }

    a {
        color: #B1B1B1;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $text-color;
        }
    }

    &__item {
        display: inline-block;
        align-items: center;
        margin-right: 0.6em;
        white-space: nowrap;

        &:last-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:not(:last-child):after {
            content: '';
            display: inline-block;
            width: 0.5em;
            height: 0.5em;
            margin-left: 0.5em;
            border-left: 1px solid #B1B1B1;
            border-bottom: 1px solid #B1B1B1;
            pointer-events: none;
            transform: rotate(-135deg);
            transition: all 0.3s;
        }
    }
}
