//- Все примеси в этом файле должны начинаться c имени блока (page-header)

mixin header(mods)

    //- Принимает:
    //-   mods  {string} - список модификаторов
    //- Вызов:
          +page-header()
            p «Шапка»
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + 'header--' + modsList[i].trim();
            }
        }

    header.header(class=allMods, role='banner')&attributes(attributes)
        .header__top
            .container.header__container
                .header__wrapper
                    nav.main-nav.header__main-nav
                        ul.main-nav__list
                            li.main-nav__item
                                a(href=jv).main-nav__link О нас
                            li.main-nav__item
                                a(href=jv).main-nav__link Доставка
                            li.main-nav__item
                                a(href=jv).main-nav__link Оплата
                            li.main-nav__item
                                a(href=jv).main-nav__link Магазины
                            li.main-nav__item
                                a(href=jv).main-nav__link Контакты
                            li.main-nav__item.main-nav__item--selected
                                a(href=jv).main-nav__link Стать партнером
                    .header__links
                        a(href='tel:74957305114').header__phone 
                            +icon('phone', '20px', '20px')
                            |7 (495) 730-51-14
                        a(href=jv).header__user
                            +icon('user', '15px', '17px')
                            |Кабинет
        .header__main
            .container.header__container
                .header__wrapper
                    nav.mobile-nav.header__mobile-nav
                        +burger.mobile-nav__burger
                        .mobile-nav__hidden
                            .mobile-nav__header
                                +logo()(href=jv).mobile-nav__logo
                                    img(src='img/logo-white.svg' width='74px' height='40px' alt='Марказит')
                                +close().mobile-nav__close
                            .mobile-nav__body
                                ul.mobile-nav__list
                                    li.mobile-nav__item.mobile-nav__item--has-child
                                        a(href=jv).mobile-nav__link Каталог товаров
                                        ul.mobile-nav__list.mobile-nav__list--lvl-2
                                            li.mobile-nav__item.mobile-nav__item--lvl-2
                                                a(href=jv).mobile-nav__link.mobile-nav__link--lvl-2 Кольца
                                            li.mobile-nav__item.mobile-nav__item--lvl-2
                                                a(href=jv).mobile-nav__link.mobile-nav__link--lvl-2 Серьги
                                            li.mobile-nav__item.mobile-nav__item--lvl-2
                                                a(href=jv).mobile-nav__link.mobile-nav__link--lvl-2 Браслеты
                                            li.mobile-nav__item.mobile-nav__item--lvl-2
                                                a(href=jv).mobile-nav__link.mobile-nav__link--lvl-2 Часы
                                            li.mobile-nav__item.mobile-nav__item--lvl-2
                                                a(href=jv).mobile-nav__link.mobile-nav__link--lvl-2 Броши
                                            li.mobile-nav__item.mobile-nav__item--lvl-2
                                                a(href=jv).mobile-nav__link.mobile-nav__link--lvl-2 Колье
                                            li.mobile-nav__item.mobile-nav__item--lvl-2
                                                a(href=jv).mobile-nav__link.mobile-nav__link--lvl-2 Подвески
                                            li.mobile-nav__item.mobile-nav__item--lvl-2
                                                a(href=jv).mobile-nav__link.mobile-nav__link--lvl-2 Комплекты
                                            li.mobile-nav__item.mobile-nav__item--lvl-2.mobile-nav__item--selected
                                                a(href=jv).mobile-nav__link.mobile-nav__link--lvl-2 Акции
                                    li.mobile-nav__item
                                        a(href=jv).mobile-nav__link О нас
                                    li.mobile-nav__item
                                        a(href=jv).mobile-nav__link Доставка
                                    li.mobile-nav__item
                                        a(href=jv).mobile-nav__link Оплата
                                    li.mobile-nav__item
                                        a(href=jv).mobile-nav__link Магазины
                                    li.mobile-nav__item
                                        a(href=jv).mobile-nav__link Контакты
                                    li.mobile-nav__item
                                        a(href=jv).mobile-nav__link Стать партнером
                                    li.mobile-nav__item
                                        a(href=jv).mobile-nav__link Кабинет
                                    li.mobile-nav__item
                                        a(href=jv).mobile-nav__link Избранное
                                    li.mobile-nav__item
                                        a(href='tel:+74957305114').mobile-nav__link Тел. +7 (495)730-51-14
                    +logo()(href=jv).header__logo
                        img(src='img/logo.svg' width='130px' height='69px' alt='Марказит')
                    form.search.header__search
                        input(type='text' name='search' placeholder='Введите название необходимого изделия').search__field
                        button.search__btn
                            +icon('search', '20px', '20px')
                    .header__links
                        a(href=jv).header__favorite
                            .header__favorite-icon
                                +icon('heart', '25px', '20px')
                                span.header__favorite-number 2
                            |Избранное
                        a(href=jv).header__cart
                            .header__cart-icon
                                +icon('cart', '23px', '19px')
                            |Корзина пуста
                    nav.categories-nav.header__categories
                        a(href=jv).categories-nav__title
                            +icon('burger', '20px', '14px')
                            |Каталог
                        .categories-nav__dropdown
                            ul.categories-nav__list
                                li.categories-nav__item
                                    a(href=jv).categories-nav__link Кольца
                                li.categories-nav__item
                                    a(href=jv).categories-nav__link Серьги
                                li.categories-nav__item
                                    a(href=jv).categories-nav__link Браслеты
                                li.categories-nav__item
                                    a(href=jv).categories-nav__link Часы
                                li.categories-nav__item
                                    a(href=jv).categories-nav__link Броши
                                li.categories-nav__item
                                    a(href=jv).categories-nav__link Колье
                                li.categories-nav__item
                                    a(href=jv).categories-nav__link Подвески
                                li.categories-nav__item
                                    a(href=jv).categories-nav__link Комплекты
                                li.categories-nav__item.categories-nav__item--selected
                                    a(href=jv).categories-nav__link Акции

                