// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header {
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: $screen-md) {
            flex-wrap: nowrap;
        }
    }

    &__top {
        padding: 10px 0;
        background-color: $gray-darker;
        color: $white;

        @media (max-width: $screen-md) {
            display: none;
        }
    }

    &__main {
        padding: 20px 0;

        @media (max-width: 1439px) {
            padding: 15px 0;
        }

        @media (max-width: $screen-md) {
            padding: 10px 0;
            background-color: $gray-darker;
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        color: currentColor;
        text-decoration: none;

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        @media (max-width: $screen-xl) {
            font-size: 0;
        }

        &:not(:last-child) {
            margin-right: 40px;

            @media (max-width: 1439px) {
                margin-right: 20px;
            }
        }

        .icon {
            margin-right: 10px;

            @media (max-width: $screen-xl) {
                margin-right: 0;
            }
        }

        &:hover,
        &:focus {
            color: currentColor;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        color: currentColor;
        text-decoration: none;

        @media (max-width: $screen-xl) {
            font-size: 16px;
        }

        @media (max-width: $screen-lg) {
            font-size: 0;
        }

        &:not(:last-child) {
            margin-right: 40px;

            @media (max-width: 1439px) {
                margin-right: 20px;
            }
        }

        .icon {
            margin-right: 10px;

            @media (max-width: $screen-lg) {
                margin-right: 0;
            }
        }

        &:hover,
        &:focus {
            color: currentColor;
        }
    }

    &__logo {

        @media (max-width: $screen-md) {
            display: none;
        }

        &:not(:last-child) {
            margin-right: 50px;
        }

        img {

            @media (max-width: $screen-lg) {
                width: 100px;
                height: 54px;
            }
        }
    }

    &__search {
        width: 430px;
        margin-right: auto;

        @media (max-width: 1439px) {
            width: 370px;
        }
    
        @media (max-width: $screen-lg) {
            width: 300px;
        }

        @media (max-width: $screen-md) {
            margin-left: auto;
        }
    
        @media (max-width: $screen-sm) {
            width: 260px;
        }

        .search__field {
            
            @media (max-width: $screen-md) {
                padding-left: 10px;
                padding-right: 40px;
                border: none;
                border-radius: 1px;
            }
        }

        .search__btn {
            
            @media (max-width: $screen-md) {
                right: 10px;
            }
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__cart,
    &__favorite {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        color: rgba($text-color, 0.7);
        text-decoration: none;

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        @media (max-width: $screen-xl) {
            font-size: 16px;
        }

        @media (max-width: $screen-lg) {
            font-size: 0;
        }

        &:not(:last-child) {
            margin-right: 85px;

            @media (max-width: 1439px) {
                margin-right: 30px;
            }

            @media (max-width: $screen-lg) {
                margin-right: 25px;
            }
        }

        .icon {
            margin-right: 10px;
            fill: $green-dark;

            @media (max-width: $screen-lg) {
                margin-right: 0;
            }

            @media (max-width: $screen-md) {
                fill: $white;
            }
        }

        &:hover,
        &:focus {
            color: $green-dark;
        }
    }

    &__favorite {

        @media (max-width: $screen-sm) {
            display: none;
        }
    }

    &__cart-icon,
    &__favorite-icon {
        position: relative;
    }

    &__cart-number,
    &__favorite-number {
        position: absolute;
        top: -8px;
        right: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        background: #F84147;
        border: 1px solid $white;
        border-radius: 50%;
        font-size: 8px;
        font-weight: 600;
        color: $white;

        @media (max-width: $screen-lg) {
            right: -8px;
        }

        @media (max-width: $screen-md) {
            border-color: $gray-darker;
        }
    }
}
