//- Все примеси в этом файле должны начинаться c имени блока (link-more)

mixin link-more(text, mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +link-more('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' link-more--' + modsList[i].trim();
            }
        }
        
    if (attributes.href)
        a.link-more(class=allMods)&attributes(attributes)!= text
            +icon('arrow', '8px', '14px')
        
    else
        span.link-more(class=allMods)&attributes(attributes)!= text
            +icon('arrow', '8px', '14px')
