// В этом файле должны быть стили для БЭМ-блока link-more, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.link-more {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    color: rgba($text-color, 0.7);
    text-decoration: none;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 600;

    @media (max-width: $screen-xl) {
        font-size: 16px;
    }

    @media (max-width: $screen-md) {
        border-bottom: 1px solid $text-color;
    }

    .icon {
        margin-left: 10px;
        fill: $text-color;

        @media (max-width: $screen-md) {
            display: none;
        }
    }

    &:hover,
    &:focus {
        color: $text-color;
    }
}
