//- Все примеси в этом файле должны начинаться c имени блока (close)

mixin close(label, mods)

    //- Принимает:
    //-   label {string} - описание, значение атрибута aria-label
    //-   mods {string}  - стилевые модификаторы
    //- Вызов:
          +close('Закрыть')
          +close('Закрыть', 'sm')

    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' close--' + modsList[i].trim();
            }
        }

    button.close(class=allMods, type='button', aria-label=label, title=label)&attributes(attributes)
        span= label
