// В этом файле должны быть стили для БЭМ-блока order, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.order {
    margin-bottom: 100px;

    @media (max-width: $screen-xl) {
        margin-bottom: 80px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 60px;
    }


    @media (min-width: 1439px) {

        .item-cart__img {
            width: 120px;
            height: 120px;
        }
    
        .item-cart__name {
            font-size: 18px;
        }

        .item-cart__price {
    
            span {
                font-size: 20px;
            }
        }
    }

    @media (min-width: $screen-lg) {

        .item-cart__info {
            align-items: center;
        }

        .item-cart__img {
            width: 90px;
            height: 90px;
            margin-right: 10px;
        }
    
        .item-cart__name {
            font-size: 16px;
            font-weight: 500;
        }
    
        .item-cart__col {
    
            &:first-child {
                flex: 0 0 100%;
                padding: 10px;
            }
        }
    
        .item-cart__info-title,
        .item-cart__info-text {
            font-size: 16px;
        }
    
        .item-cart__info-title {
            font-weight: 500;
        }
    
        .item-cart__price {
            font-size: 16px;
    
            span {
                font-size: 18px;
            }
        }
    }

    .cart {
        margin-bottom: 0;
    }

    & > * {
        margin-bottom: 0;
    }
    
    &__steps {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: -20px;

        &:not(:last-child) {
            margin-bottom: 30px;

            @media (max-width: 1439px) {
                margin-bottom: 20px;
            }

            @media (max-width: $screen-md) {
                margin-bottom: 0;
            }
        }
    }

    &__step {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 20px;

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        @media (max-width: $screen-lg) {
            font-size: 16px;
        }

        &:not(:last-child) {
            margin-right: 50px;

            @media (max-width: 1439px) {
                margin-right: 40px;
            }

            @media (max-width: $screen-lg) {
                margin-right: 30px;
            }
        }

        &--active {

            .order__step-number {
                background-color: $blue;
            }

            .order__step-title {
                color: $text-color;
            }
        }
    }

    &__step-number {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 1em;
        border-radius: 50%;
        background-color: #C4C4C4;
        color: $white;

        @media (max-width: 1439px) {
            width: 35px;
            height: 35px;
        }

        @media (max-width: $screen-lg) {
            width: 30px;
            height: 30px;
        }
    }

    &__step-title {
        color: rgba($text-color, 0.7);
    }

    &__promotions {
        position: relative;
        padding: 0.8em 0;
        background-color: $blue;
        text-align: center;
        color: $white;
        font-size: 24px;
        font-weight: 700;

        @media (max-width: 1579px) {
            width: calc(100% + 60px);
            margin-left: -30px;
            padding-left: 30px;
            padding-right: 30px;
        }

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        @media (max-width: $screen-md) {
            font-size: 16px;
            text-align: left;
        }

        &:not(:last-child) {
            margin-bottom: 40px;

            @media (max-width: 1439px) {
                margin-bottom: 30px;
            }

            @media (max-width: $screen-md) {
                margin-bottom: 20px;
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            width: calc((100vw - 1520px) / 2);
            height: 100%;
            background-color: $blue;

            @media (max-width: 1579px) {
                display: none;
            }
        }

        &:before {
            left: calc((100vw - 1520px) / -2);     
        }

        &:after {
            right: calc((100vw - 1520px) / -2);
        }

        br {
            @media (min-width: $screen-sm) {
                display: none;
            }
        }
    }

    &__cols {
        position: relative;
        @include row(150px);

        @media (max-width: 1439px) {
            margin-left: -25px;
            margin-right: -25px;
        }

        @media (max-width: $screen-xl) {
            margin-left: -15px;
            margin-right: -15px;
        }

        &--padding-bottom {

            @media (max-width: $screen-lg) {
                padding-bottom: 70px;
            }

            @media (max-width: $screen-sm) {
                padding-bottom: 120px;
            }
        }
    }

    &__left {
        @include make-col(7, 12, 150px);
        @include col(xl, 7, 12, 30px);
        @include col(lg, 8, 12, 30px);
        @include col(md, 12, 12, 30px);
        @include col(sm, 12, 12, 20px);

        @media (max-width: 1439px) {
            padding-left: 25px;
            padding-right: 25px;
        }

        @media (max-width: $screen-xl) {
            margin-bottom: 40px;
        }
    }

    &__right {
        @include make-col(5, 12, 150px);
        @include col(xl, 5, 12, 30px);
        @include col(lg, 12, 12, 30px);
        @include col(sm, 12, 12, 20px);

        @media (max-width: 1439px) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &__info {
        margin-bottom: 80px;
        font-size: 20px;
        font-weight: 500;

        @media (max-width: 1439px) {
            margin-bottom: 60px;
            font-size: 18px;
        }

        @media (max-width: $screen-lg) {
            margin-bottom: 40px;
            font-size: 16px;
        }
    }

    &__tabs {
        margin-bottom: 80px;

        @media (max-width: 1439px) {
            margin-bottom: 50px;
        }

        @media (max-width: $screen-lg) {
            margin-bottom: 40px;
        }
    }

    &__title {
        margin-bottom: 0.5em;
        font-size: $font-size-h2;
        font-weight: 600;

        @media (max-width: 1439px) {
            font-size: 24px;
        }

        @media (max-width: $screen-md) {
            font-size: 20px;
        }
    }
}
