// В этом файле должны быть стили для БЭМ-блока privacy-policy, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.privacy-policy {
    
    font-size: 20px;
    color: $gray-darker;

    @media (max-width: 1439px) {
        font-size: 16px;
    }

    @media (max-width: $screen-xl) {
        font-size: 14px;
    }
}
