// В этом файле должны быть стили для БЭМ-блока card-advantages, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card-advantages {
    padding: 25px 40px;
    background: #F4F5F5;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    border-radius: 4px;

    @media (max-width: $screen-xl) {
        width: calc(100% + 60px);
        margin-left: -30px;
        padding: 25px 30px;
        border-radius: 0;
    }

    @media (max-width: $screen-md) {
        width: calc(100% + 30px);
        margin-left: -15px;
        padding: 20px 15px;
    }

    &__row {
        @include row();
        margin-bottom: -40px;

        @media (max-width: $screen-lg) {
            margin-bottom: -20px;
        }
    }

    &__item {
        @include make-col(6);
        @include col(sm, 12, 12, 20px);
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        @media (max-width: $screen-lg) {
            margin-bottom: 20px;
        }
    }

    &__icon {
        flex-shrink: 0;
        width: 46px;
        height: 46px;
        margin-right: 20px;

        @media (max-width: $screen-md) {
            width: 35px;
            height: 35px;
            margin-right: 10px;
        }

        .icon {
            max-width: 100%;
            max-height: 100%;
            fill: rgba($text-color, 0.7);
        }
    }

    &__text {
        color: #898989;
        font-weight: 500;
    }
}
