// В этом файле должны быть стили для БЭМ-блока account, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.account {
    @include row(50px);
    justify-content: space-between;
    margin-bottom: 100px;

    @media (max-width: $screen-xl) {
        margin-bottom: 80px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 60px;
    }

    &__main {
        @include make-col(8, 12, 50px);
        @include col(lg, 12, 12, 50px);
        @include col(sm, 12, 12, 20px);

        @media (max-width: 1439px) {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }

    &__sidebar {
        @include make-col(3, 12, 50px);
        @include col(sm, 12, 12, 20px);

        @media (max-width: $screen-lg) {
            order: -1;
            flex: 0 0 auto;
            max-width: 100%;
            min-width: 200px;
            margin-bottom: 30px;
        }

        @media (max-width: $screen-md) {
            flex: 0 0 100%;
        }
    }

    &__btns {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -20px;

        @media (max-width: $screen-xl) {
            margin-bottom: -10px;
        }

        &:not(:last-child) {
            margin-bottom: 20px;

            @media (max-width: 1439px) {
                margin-bottom: 10px;
            }
        }
    
        & > *:not(:last-child) {
            margin-right: 20px;

            @media (max-width: $screen-xl) {
                margin-right: 10px;
            }
        }

        & > * {
            margin-bottom: 20px;

            @media (max-width: $screen-xl) {
                margin-bottom: 10px;
            }
        }
    }

    &__row {
        @include row();

        @media (max-width: $screen-lg) {
            margin-left: -15px;
            margin-right: -15px;
        }

        @media (max-width: $screen-md) {
            margin-left: -10px;
            margin-right: -10px;
        }

        .account__item {
            @include make-col(6);
            @include col(lg, 6, 12, 30px);
            @include col(md, 12, 12, 20px);
        }

        &:not(:last-child) {
            margin-bottom: 40px;

            @media (max-width: 1439px) {
                margin-bottom: 30px;
            }
        }
    }

    &__form {
        width: 750px;
        max-width: 100%;
    }

    &__text {
        margin-bottom: 40px;
        font-size: 22px;
        font-weight: 500;

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        @media (max-width: $screen-lg) {
            font-size: 16px;
            margin-bottom: 1em;
        }

        &--center {
            text-align: center;
        }
    }

    &__subtitle {
        margin-bottom: 0.5em;
        font-weight: 600;
        font-size: $font-size-h2;

        @media (max-width: 1439px) {
            font-size: 24px;
        }
    
        @media (max-width: $screen-md) {
            font-size: 20px;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 40px;

            @media (max-width: 1439px) {
                margin-bottom: 30px;
            }
        }
    }
}
