//- Все примеси в этом файле должны начинаться c имени блока (field-num)

mixin field-num(props)

    //- Принимает:
    //-   props {
    //-     title: ''         {string} - текст с названием (выводится над полем)
    //-     helpText: ''      {string} - пояснение под полем
    //-     mods: ''          {string} - модификаторы блока
    //-     val:              {number} - количество в поле
    //-     attrs:            {object} - любые атрибуты для input
    //-       placeholder:    {string}
    //- Вызов:
          +field-num({
            title: 'Количество',
            helpText: 'От 1 до 10, шаг 1',
            mods: '',
            val: '9',
            attrs: {
              name: 'quantity',
              max: '10',
              min: '1',
              step: '1',
            }
          })
          +field-num({
            mods: 'error',
            attrs: {
              name: 'quantity',
            }
          })

    -
        if(typeof(props) === 'undefined') { var props = {}; }
        var allMods = '';
        if(typeof(props.mods) !== 'undefined' && props.mods) {
            var modsList = props.mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' field-num--' + modsList[i].trim();
            }
        }
        if(props.attrs.disabled) allMods = allMods + ' field-num--disabled';
        var val = parseInt(props.val);
        if(isNaN(val)) val = 0;

    .field-num(class=allMods)&attributes(attributes)
        if(typeof(props.title) !== 'undefined' && props.title)
            span.field-num__name!= props.title
        span.field-num__input-wrap
            span.field-num__input-and-btns
                button.field-num__btn.field-num__btn--minus(type='button') -
                button.field-num__btn.field-num__btn--plus(type='button') +
                input.field-num__input(type='number', value=val)&attributes(props.attrs)
            if(typeof(props.helpText) !== 'undefined' && props.helpText)
                span.field-num__help-text!= props.helpText
            block
