// В этом файле должны быть стили для БЭМ-блока label, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.label {
    display: inline-flex;
    padding: 5px 12px;
    border-radius: 0px 4px 4px 0px;
    background-color: $blue;
    color: $white;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 1439px) {
        font-size: 16px;
    }

    @media (max-width: $screen-sm) {
        font-size: 14px;
    }

    &--brown {
        background-color: #372924;
    }
}
