//- Все примеси в этом файле должны начинаться c имени блока (label)

mixin label(text, mods, tag)

    //- Принимает:
    //-   text  {string} - текст кнопки
    //-   mods  {string} - список модификаторов
    //-   tag   {string} - тег (если не span)
    //- Вызов:
          +label('Лейбл')
          +label('Лейбл', 'danger', 'div')
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' label--' + modsList[i].trim();
            }
        }

    if(typeof(tag) !== 'undefined' && tag)
        #{tag}.label(class=allMods)&attributes(attributes)!= text
        block
    else
        span.label(class=allMods)&attributes(attributes)!= text
