// В этом файле должны быть стили для БЭМ-блока categories-tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.categories-tabs {
    position: relative;

    &__select {
        position: relative;
        display: inline-flex;
        align-items: center;
        min-width: 140px;
        min-height: 35px;
        border-radius: 1px;
        border: 1px solid rgba($green-dark, 0.2);
        background-color: rgba($green-dark, 0.08);
        padding: 0.5em 1.5em 0.5em 0.8em;
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;

        @media (min-width: $screen-lg) {
            display: none;
        }

        .icon {
            margin-right: 5px;

            @media (max-width: $screen-lg) {
                width: 15px;
                height: 15px;
            }
        }

        &:hover,
        &:focus {
            color: $text-color;
        }

        &:before {
            content: '';
            position: absolute;
            display: block;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            background: svg-load('../blocks/categories-tabs/bg-img/select-arrow.svg', width='6px', height='6px') center center no-repeat;
            transition: all 0.3s;
        }

        &--active {

            &:before {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;

        @media (max-width: $screen-lg) {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            width: 100%;
            background-color: $white;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.14);
            border-radius: 0 0 1px 1px;
        }
    }
    
    &__item {

        &--active {

            .categories-tabs__link {
                background-color: rgba($green-dark, 0.08);
                border-color: rgba($green-dark, 0.2);
                color: $text-color;

                @media (max-width: $screen-lg) {
                    border: none;
                }

                &:hover,
                &:focus {
                    color: $text-color;
                    cursor: default;
                }
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        padding: 0.5em 0.8em;
        font-size: 18px;
        font-weight: 600;
        border: 1px solid transparent;
        border-radius: 1px;
        color: $gray-darker;
        text-decoration: none;

        @media (max-width: 1439px) {
            font-size: 14px;
        }

        @media (max-width: $screen-lg) {
            font-weight: 400;
        }

        .icon {
            flex-shrink: 0;
            margin-right: 5px;

            @media (max-width: $screen-lg) {
                width: 15px;
                height: 15px;
            }
        }

        &:hover,
        &:focus {
            color: $green-dark;
        }
    }

    &__content {
        display: none;
        width: 100%;

        &--active {
            display: block;
        }
    }

    &--btns {

        .categories-tabs__list {
            justify-content: flex-start;
            margin-bottom: -20px;

            @media (max-width: $screen-xl) {
                margin-bottom: -10px;
            }

            @media (max-width: $screen-lg) {
                margin-bottom: 0;
            }
        }

        .categories-tabs__item {
            margin-bottom: 20px;

            @media (max-width: $screen-xl) {
                margin-bottom: 10px;
            }

            @media (max-width: $screen-lg) {
                margin-bottom: 0;
            }

            &:not(:last-child) {
                margin-right: 20px;

                @media (max-width: $screen-xl) {
                    margin-right: 10px;
                }

                @media (max-width: $screen-lg) {
                    margin-right: 0;
                }
            }

            &--active {

                .categories-tabs__link {
                    background-color: $blue;
                    color: $white;
                    box-shadow: none;

                    @media (max-width: $screen-lg) {
                        background-color: rgba($green-dark, 0.08);
                        border-color: rgba($green-dark, 0.2);
                        color: $text-color;
                    }

                    &:hover,
                    &:focus {
                        color: $white;
                    }
                }
            }
        }

        .categories-tabs__link {
            justify-content: center;
            min-width: 240px;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
            border-radius: 4px;

            @media (max-width: 1439px) {
                min-width: 200px;
                font-size: 16px;
            }

            @media (max-width: $screen-lg) {
                justify-content: flex-start;
                min-width: 100%;
                box-shadow: none;
                border-radius: 0;
            }

            &:hover,
            &:focus {
                color: $blue;
            }
        }
    }
}


