<form action="<?php echo $action; ?>" method="post" class="eirano">
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" name="m_process" value="<?php echo $rbs_button_confirm; ?>" class="btn btn-primary" />
        </div>
    </div>
</form>