// В этом файле должны быть стили для БЭМ-блока field-toggler, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-toggler {

    $block-name:                &; // #{$block-name}__element

    display: block;

    &:not(:last-child) {
        margin-bottom: 2em;
    }

    &:not(:first-child) {
        margin-top: 2em;
    }

    &__title {
        @include field-name;
    }

    &__input-wrap {

        & + & {
            margin-top: $typo-margin-vertical;
        }

        &--error {

            #{$block-name}__name-text,
            #{$block-name}__help-text {
                color: $color-danger;
            }

            #{$block-name}__name-text:after {
                background: $color-danger;
            }
        }
    }

    &__name {
        display: inline-block;
        position: relative;
        padding-left: 4.5em;
        margin-right: 0.6em;
        font-weight: 400;
        line-height: $line-height;
    }

    &__name-text {
        display: inline-block;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s;

        @at-root input:disabled ~ & {
            cursor: not-allowed;
        }

        &:before {
            content: '';
            position: absolute;
            top: -3px;
            left: 0;
            width: 57px;
            height: 28px;
            background: #C4C4C4;
            border-radius: 111px;
            transition: all 0.3s;
        }

        @at-root input:disabled ~ &:before {
            background: $gray-lighter;
        }

        @at-root input:checked ~ &:before {
            background: $blue;
        }

        &:after {
            content: '';
            position: absolute;
            top: -1px;
            left: 2px;
            width: 24px;
            height: 24px;
            background-color: $white;
            border-radius: 50%;
            transition: all 0.3s;
        }

        @at-root input:checked ~ &:after {
            transform: translate(29px, 0);
        }

        @at-root input:disabled ~ &:after {
            background-color: $gray-light;
        }
    }

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }

    &__help-text-wrap {
        padding-left: 3.2em;
    }

    &__help-text {
        @include field-help-text;
    }
}
