// В этом файле должны быть стили для БЭМ-блока instagram, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.instagram {
    margin-bottom: 100px;

    @media (max-width: 1439px) {
        margin-bottom: 80px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 60px;
    }
    
    &__row {
        position: relative;
        display: flex;
        justify-content: center;
        margin-left: -10px;
        margin-right: -10px;

        @media (max-width: $screen-md) {
            margin-left: -5px;
            margin-right: -5px; 
        }
    }

    &__item {
        flex: 0 0 305px;
        max-width: 305px;
        height: 200px;
        padding-left: 10px;
        padding-right: 10px;

        @media (max-width: $screen-md) {
            flex: 0 0 196px;
            max-width: 196px;
            height: 118px;
            padding-left: 5px;
            padding-right: 5px; 
        }
    }

    &__img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($text-color, 0.5);
            transition: all 0.3s;
        }

        img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }

    &__block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        padding: 10px 60px 30px;
        background-color: $white;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;

        @media (max-width: $screen-md) {
            padding: 5px 30px 10px;
        }

        &:hover,
        &:focus {

            .instagram__name {
                color: $blue;
            }
        }
    }

    &__name {
        font-family: 'Partner', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: $text-color;
        text-decoration: none;
        transition: all 0.3s;

        @media (max-width: $screen-md) {
            font-size: 12px;
        }
    }

    &__logo {

        img {

            @media (max-width: $screen-md) {
                width: 102px;
                height: 36px;
            }
        }
    }
}
