//- Все примеси в этом файле должны начинаться c имени блока (instagram)

mixin instagram(mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +instagram('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' instagram--' + modsList[i].trim();
            }
        }
        
    section.instagram(class=allMods)&attributes(attributes)
        .container.instagram__container
            h2.page-title.page-title--line.instagram__title присоединяйтесь к&nbsp;нам в&nbsp;instagram
        .instagram__row
            .instagram__item
                .instagram__img
                    img(src='img/instagram-1.jpg' alt='image')
            .instagram__item
                .instagram__img
                    img(src='img/instagram-2.jpg' alt='image')
            .instagram__item
                .instagram__img
                    img(src='img/instagram-3.jpg' alt='image')
            .instagram__item
                .instagram__img
                    img(src='img/instagram-4.jpg' alt='image')
            .instagram__item
                .instagram__img
                    img(src='img/instagram-5.jpg' alt='image')
            .instagram__item
                .instagram__img
                    img(src='img/instagram-6.jpg' alt='image')
            .instagram__item
                .instagram__img
                    img(src='img/instagram-7.jpg' alt='image')
            .instagram__item
                .instagram__img
                    img(src='img/instagram-1.jpg' alt='image')
            a(href=jv).instagram__block   
                .logo.instagram__logo
                    img(src='img/instagram-logo.svg' width='200px' height='71px' alt='instagram')
                .instagram__name @marcasite

