// В этом файле должны быть стили для БЭМ-блока field-select, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-select {

    $block-name:                &; // #{$block-name}__element

    display: block;
    margin-bottom: $typo-margin-vertical;

    &__name {
        color: #7C7C7C;
        font-weight: 600;

        &:not(:last-child) {
            margin-right: 0.5em;
        }
    }

    &__help-text {
        @include field-help-text;
    }

    &--error {
        color: $color-danger;

        #{$block-name}__name,
        #{$block-name}__select,
        #{$block-name}__help-text {
            color: $color-danger;
        }

        #{$block-name}__select,
        .choices__inner,
        .choices:after {
            border-color: $color-danger;
            background-color: lighten($color-danger, 35%);
        }
    }
}



/** @define choices */
.choices {

    $block-name:                &; // #{$block-name}__element

    position: relative;

    &:focus {
        outline: 0;
    }

    &:after {
        content: '';
        position: absolute;
        top: 1em;
        right: 1em;
        width: 7px;
        height: 7px;
        border-left: 1px solid $text-color;
        border-bottom: 1px solid $text-color;
        pointer-events: none;
        transform: rotate(-45deg);
        transition: all 0.3s;
    }

    &.is-open:after {
        transform: translateY(3px) rotate(135deg);
    }

    .is-hidden {
        display: none;
    }

    &__inner {
        min-width: 200px;
        border: 1px solid #E4E4E4;
        border-radius: 1px;
        padding: 0.5em 2em 0.5em 1em;
        background: #fff;
        font-size: 1em;
        font-weight: 500;
        line-height: 1.5;
        cursor: pointer;
        

        #{$block-name}__item--selectable {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__list--dropdown {
        display: none;
        position: absolute;
        z-index: 1;
        top: 100%;
        width: 100%;
        margin-top: -1px;
        border: 1px solid #E4E4E4;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        background-color: #fff;
        overflow: hidden;

        #{$block-name}__item {
            padding: $field-padding-vertical $field-padding-horizontal;
            cursor: pointer;

            &.is-highlighted {
                background-color: rgba($green-dark, 0.08);
            }
        }
    }

    &__heading {
        padding: $field-padding-vertical $field-padding-horizontal;
        font-size: $font-size-sm;
        font-weight: 700;
        opacity: 0.5;
        cursor: default;
    }

    &.is-open {

        #{$block-name}__list--dropdown {
            display: block;
        }
    }

    &.is-disabled {

        #{$block-name}__inner {
            background-color:  #E4E4E4;
            cursor: default;
        }
    }
}
