.prmn-cmngr
{
    position: relative;
}

.prmn-cmngr a
{
    cursor: pointer;
    color: #0a72a5;
    text-decoration: underline;
}

.prmn-cmngr .prmn-cmngr__popup
{
    position: absolute;
    top: 25px;
    left: -50px;
    background: #FFF;
    padding: 15px 25px;
    min-width: 250px;
    max-width: 400px;
    z-index: 9999;
    border: 1px solid #dadada;
    -webkit-box-shadow: 0 2px 5px #5B5A5A;
    -moz-box-shadow: 0 2px 5px #5B5A5A;
    box-shadow: 0 2px 5px #5B5A5A;
}

.prmn-cmngr .prmn-cmngr__confirm
{
    line-height: 20px;
    font-size: 16px;
    text-align: center;
}

.prmn-cmngr .prmn-cmngr__confirm-city
{
    white-space: nowrap;
}

.prmn-cmngr .prmn-cmngr__confirm-btns
{
    margin-top: 15px;
}

.prmn-cmngr-cities a
{
    cursor: pointer;
}

.prmn-cmngr-cities .prmn-cmngr-cities__city
{
    margin-bottom: 5px;
}

.prmn-cmngr-cities .prmn-cmngr-cities__search-block
{
    margin-bottom: 15px;
}

.prmn-cmngr-cities .prmn-cmngr-cities__search-label
{
    font-size: 15px;
    font-weight: 500;
}

.prmn-cmngr-cities .prmn-cmngr-cities__search
{
    width: 250px;
}

/** THEME **/
.prmn-cmngr_top
{
    padding: 7px 12px;
    font-size: 12px;
}