// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

    $block-name:                &; // #{$block-name}__element

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
        display: block;
    }
}
