// В этом файле должны быть стили для БЭМ-блока confirm-order, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.confirm-order {
    font-size: 20px;

    @media (max-width: 1439px) {
        font-size: 18px;
    }

    @media (max-width: $screen-lg) {
        font-size: 16px;
    }
    
    &__title {
        margin-bottom: 1em;
        font-size: $font-size-h2;
        font-weight: 600;
        line-height: 1.3;

        @media (max-width: 1439) {
            font-size: 24px;
        }
    
        @media (max-width: $screen-md) {
            font-size: 20px;
        }
    }

    &__number {
        margin-bottom: 0.5em;
        font-size: 16px;
    }

    &__cost {
        margin-bottom: 40px;
        font-weight: 600;

        @media (max-width: $screen-lg) {
            margin-bottom: 30px;
        }

        @media (max-width: $screen-md) {
            margin-bottom: 20px;
        }
    }

    &__address,
    &__text {
        
        &:not(:last-child) {
            margin-bottom: 40px;

            @media (max-width: $screen-lg) {
                margin-bottom: 30px;
            }

            @media (max-width: $screen-md) {
                margin-bottom: 20px;
            }
        }
    }

    &__btns {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -20px;

        & > * {
            margin-bottom: 20px;

            @media (max-width: $screen-sm) {
                width: 100%;
            }
        }

        & > *:not(:last-child) {
            margin-right: 20px;

            @media (max-width: $screen-sm) {
                margin-right: 0;
            }
        }
    }

    &--success {
        display: none;
    }
}
