// В этом файле должны быть стили для БЭМ-блока categories-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.categories-nav {
    width: 100%;

    @media (max-width: $screen-lg) {
        width: auto;
    }

    @media (max-width: $screen-md) {
        display: none;
    }

    &__title {
        display: inline-flex;
        align-items: center;
        margin-left: 25px;
        font-size: 18px;
        color: $green-dark;
        font-weight: 500;
        text-decoration: none;

        @media (min-width: $screen-lg) {
            display: none;
        }

        .icon {
            margin-right: 10px;
        }

        &:hover,
        &:focus {
            color: $green-dark;
        }
    }

    &__dropdown {
        position: relative;
        margin-top: 20px;
        padding-top: 20px;

        @media (max-width: 1439px) {
            margin-top: 15px;
            padding-top: 15px;
        }


        @media (max-width: $screen-lg) {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            width: 100%;
            margin-top: 0;
            padding: 20px 30px;
            background-color: $white;
            display: none;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 1px;
            background-color: #E3E3E3;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;

        @media (max-width: $screen-lg) {
            justify-content: center;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-right: 20px;
        }

        &--selected {

            .categories-nav__link {
                padding: 11px 17px;
                border: 1px solid $blue;
                color: $blue;
                font-weight: 700;

                @media (max-width: 1439px) {
                    padding: 8px 12px;
                }

                @media (max-width: $screen-lg) {
                    padding: 0;
                    border: none;
                    font-weight: 500;
                }

                &:hover,
                &:focus {
                    background-color: $blue;
                    color: $white;
                }
            }

        }
    }

    &__link {
        font-size: 18px;
        font-weight: 500;
        color: currentColor;
        text-transform: uppercase;
        text-decoration: none;

        @media (max-width: 1439px) {
            font-size: 16px;
        }

        @media (max-width: $screen-xl) {
            font-size: 14px;
        }

        &:hover,
        &:focus {
            color: $blue;
        }
    }
}
