//- Все примеси в этом файле должны начинаться c имени блока (sets)

mixin sets(mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +sets('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' sets--' + modsList[i].trim();
            }
        }
        
    section.sets(class=allMods)&attributes(attributes)
        .container.sets__container
            block

mixin item-set(data, mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +item-set('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' item-set--' + modsList[i].trim();
            }
        }
        
    .item-set.sets__item(class=allMods)&attributes(attributes)
        .item-set__body
            .item-set__img
                img(src=data.img, alt=data.name)
            +btn('Выбрать комплект', 'transparent')(href=jv).item-set__btn

