// В этом файле должны быть стили для БЭМ-блока sets, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sets {

    &__row {
        @include row();
        margin-bottom: -20px;

        @media (max-width: $screen-lg) {
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: -30px;
        }

        @media (max-width: $screen-md) {
            margin-right: -3px;
            margin-left: -3px;
            margin-bottom: -6px;
        }
    }
}

.item-set {
    @include make-col(4);
    @include col(lg, 4, 12, 30px);
    @include col(md, 4, 12, 6px);
    @include col(sm, 6, 12, 6px);
    margin-bottom: 20px;

    @media (max-width: $screen-lg) {
        margin-bottom: 30px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 6px;
    }

    &:nth-child(n + 3) {

        @media (max-width: $screen-sm) {
            display: none;
        }
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 50px 40px;
        background-color: #F4F5F5;
        color: $text-color;
        transition: all 0.3s;

        @media (max-width: $screen-xl) {
            padding: 30px;
        }

        @media (max-width: $screen-lg) {
            padding: 25px 15px;
        }
        
        & > * {
            max-width: 100%;
        }

        &:hover,
        &:focus {
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 280px;
        margin-bottom: 50px;

        @media (max-width: 1439px) {
            height: 200px;
            margin-bottom: 30px;
        }

        @media (max-width: $screen-xl) {
            height: 180px;
        }

        @media (max-width: $screen-lg) {
            height: 140px;
            margin-bottom: 20px;
        }

        @media (max-width: $screen-md) {
            height: 100px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__btn {
        border-radius: 0;

        @media (max-width: $screen-xl) {
            width: 100%;
            padding: 0.8em 0.5em;
        }

        @media (max-width: $screen-lg) {
            font-size: 16px;
        }

        @media (max-width: $screen-md) {
            font-size: 14px;
        }
    }
}
