// В этом файле должны быть стили для БЭМ-блока burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.burger {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 25px;
    border: none;
    padding: 0;
    line-height: 25px;
    background: transparent;
    user-select: none;
    cursor: pointer;

    > span { // stylelint-disable-line  selector-combinator-blacklist
        display: inline-block;
        position: relative;
        width: 100%;
        height: 2px;
        vertical-align: middle;
        font-size: 0;
        color: transparent;
        background: $white;
        transition: background $transition-time $transition-time;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: $white;
            transform-origin: 50% 50%;
            transition: top $transition-time $transition-time, transform $transition-time;
        }

        &:before {
            top: -7px;
        }

        &:after {
            top: 7px;
        }
    }
}
