// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tabs {

    $block-name:                &; // #{$block-name}__element

    &__links {
        position: relative;
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow-y: auto;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 100%;
            background: linear-gradient(to right, rgba($white, 0), rgba($white, 1));
        }

        .no-js & {
            display: none;
        }
    }

    &__link-wrap {
        position: relative;

        &:not(:last-child) {
            margin-right: 1.5em;

            @media (max-width: $screen-sm) {
                margin-right: 1.2em;
            }
        }

        &--active {

            #{$block-name}__link {
                color: $text-color;
                border-color: $text-color;
            }
        }
    }

    &__link {
        display: block;
        height: 100%;
        font-size: 28px;
        font-weight: 500;
        color: rgba(#898989, 0.7);
        text-decoration: none;
        border-bottom: 1px solid transparent;
        line-height: 1.2;
        white-space: nowrap;

        @media (max-width: 1439px) {
            font-size: 22px;
        }

        @media (max-width: $screen-lg) {
            font-size: 20px;
        }

        @media (max-width: $screen-sm) {
            font-size: 18px;
        }

        &:hover,
        &:focus {
            color: currentColor;
        }
    }

    &__content-wrapper {
        display: block;
        margin-top: 1.5em;
    }

    &__content-item {

        .js & {
            display: none;
        }

        & > *:last-child { // stylelint-disable-line  selector-combinator-disallowed-list
            margin-bottom: 0;
        }

        &--active {

            .js & {
                display: block;
            }
        }
    }

    &--btns {

        .tabs__links {
            flex-wrap: wrap;
            margin-bottom: 80px;

            @media (max-width: 1439px) {
                margin-bottom: 50px;
            }

            @media (max-width: $screen-lg) {
                margin-bottom: 40px;
            }
        }

        .tabs__link-wrap {

            &--active {

                .tabs__link {
                    border-color: $blue;
                    color: $text-color;

                    .icon {
                        fill: $blue;
                    }
                }
            }
        }

        .tabs__link {
            display: flex;
            align-items: center;
            padding: 1.2em;
            border: 2px solid #C4C4C4;
            color: #C4C4C4;
            font-size: 20px;

            @media (max-width: 1439px) {
                padding: 0.7em;
                font-size: 18px;
            }

            @media (max-width: $screen-lg) {
                font-size: 16px;
                border-width: 1px;
            }

            @media (max-width: $screen-md) {
                font-size: 14px;
            }

            .icon {
                max-width: 28px;
                max-height: 28px;
                flex-shrink: 0;
                margin-right: 0.5em;
                fill: #C4C4C4;

                @media (max-width: 1439px) {
                    max-width: 22px;
                    max-height: 22px;
                }

                @media (max-width: $screen-md) {
                    display: none;
                }
            }

            &:hover,
            &:focus {
                color: $text-color;
            }
        }
    }
}
