// В этом файле должны быть стили для БЭМ-блока categories, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.categories {
    
    &__row {
        @include row();
        margin-bottom: -20px;

        @media (max-width: $screen-lg) {
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: -30px;
        }

        @media (max-width: $screen-md) {
            margin-right: -3px;
            margin-left: -3px;
            margin-bottom: -6px;
        }
    }
}

.item-category {
    @include make-col(4);
    @include col(lg, 6, 12, 30px);
    @include col(md, 6, 12, 6px);
    margin-bottom: 20px;

    @media (max-width: $screen-lg) {
        margin-bottom: 30px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 6px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 30px;
        background-color: #F4F5F5;
        text-align: center;
        color: $text-color;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $text-color;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
        }

        & > * {
            max-width: 100%;
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 140px;
        margin-bottom: 30px;

        @media (max-width: 1439px) {
            height: 90px;
        }

        @media (max-width: $screen-xl) {
            height: 70px;
        }

        @media (max-width: $screen-md) {
            height: 50px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__name {
        margin: 0;
    }
}
