//- Все примеси в этом файле должны начинаться c имени блока (categories)

mixin categories(mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +categories('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' categories--' + modsList[i].trim();
            }
        }
        
    section.categories(class=allMods)&attributes(attributes)
        .container.categories__container
            block

mixin item-category(data, mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +categories('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' item-category--' + modsList[i].trim();
            }
        }
        
    .item-category(class=allMods)&attributes(attributes)
        a(href=jv).item-category__body
            .item-category__img
                img(src=data.img, alt=data.name)
            h4.item-category__name!= data.name

