@font-face {
    font-family: 'partner-reg';
    src: url('../fonts/partner.otf');
    font-weight: normal;
    font-style: sans-serif;
}
body, .product-filter .list-options select, .blog-article .post .box .box-heading {color: #212121;}
a {color: #212121;}
/*a:hover, div.pagination-results ul li.active {color: #000;}*/
.product-info .radio-type-button span:hover, .product-info .radio-type-button span.active, .product-info .radio-type-button2 span:hover, .product-info .radio-type-button2 span.active, #main .mfilter-image ul li.mfilter-image-checked {border-color: #000;}
.product-info .radio-type-button2 span.active {background: #000;}
.compare-info .price-new, .product-grid .product .price, .product-list .actions > div .price, .product-info .price .price-new, ul.megamenu li .product .price, .mini-cart-total td:last-child, .cart-total table tr td:last-child, .mini-cart-info td.total, .advanced-grid-products .product .right .price, .product-list .name-actions > .price, .today-deals-products .product .price, .medic-last-in-stock .price, .architecture-products .product .right .price, .matrialarts-products .matrial-product .right .price, .today-deals-toys2-products .price, .today-deals-petshop2-products .price, .today-deals-shoes3-products .price, .today-deals-computer8-products .price, .today-deals-computer6-products .price, .holidays-products .product .right .price, .today-deals-computer6-products .countdown-section {color: #000000;}
.product-list .name-actions > .price .price-old, .product-grid .product .price .price-old, .today-deals-products .product .price .price-old, .architecture-products .product .right .price .price-old, .today-deals-toys2-products .price .price-old, .today-deals-petshop2-products .price .price-old, .today-deals-shoes3-products .price .price-old, .today-deals-computer8-products .price .price-old, .today-deals-computer6-products .price .price-old {color: #c31b1b;}
.product-info .price .price-old {color: #c31b1b;}
body, .standard-body .full-width #mfilter-content-container > span:before {background: #f8f8f8;}
.product-grid .product:hover:before, .product-list > div:hover {border-color: #000000;}
.product-grid .product .only-hover ul li a:hover, .architecture-products .product .right .only-hover ul li a:hover, .product-list .name-actions ul li a:hover, .today-deals-toys2-products .only-hover ul li a:hover, .today-deals-petshop2-products .only-hover ul li a:hover, .flower-product .right ul li a:hover {background-color: #000000;}
.product-grid .product .only-hover ul li a:hover, .architecture-products .product .right .only-hover ul li a:hover, .product-list .name-actions ul li a:hover, .today-deals-toys2-products .only-hover ul li a:hover, .today-deals-petshop2-products .only-hover ul li a:hover, .flower-product .right ul li a:hover {border-color: #000000;}
.product-grid .product .only-hover ul li a:hover, .architecture-products .product .right .only-hover ul li a:hover, .product-list .name-actions ul li a:hover, .today-deals-toys2-products .only-hover ul li a:hover, .today-deals-petshop2-products .only-hover ul li a:hover, .flower-product .right ul li a:hover {color: #fff;}
.dropdown-menu li a:hover, .dropdown-menu .mini-cart-info a:hover, .ui-autocomplete li a:hover, .ui-autocomplete li a.ui-state-focus {color: #000000 !important;}
.select:after, .product-filter .list-options .sort:after, .product-filter .list-options .limit:after {color: #000000;}
.box .box-heading, .product-block .title-block, .refine_search {color: #808080;}
.box .box-heading, .product-block .title-block, .refine_search, .market-products-categories > ul > li > a {border-bottom-color: #f1f1f1;}
.col-sm-3 .box-no-advanced.box .box-content, .col-sm-4 .box-no-advanced.box .box-content, .col-md-3 .box-no-advanced.box .box-content, .col-md-4 .box-no-advanced.box .box-content {border-color: #ffffff;}
.col-sm-3 .box-no-advanced.box .box-heading, .col-sm-4 .box-no-advanced.box .box-heading, .col-md-3 .box-no-advanced.box .box-heading, .col-md-4 .box-no-advanced.box .box-heading {border-color: #ffffff;}
.header-type-3 #top .search_form, .header-type-8 #top .search_form, .body-header-type-27 #top .search_form {border-color: #fff;}
.header-type-3 #top .search_form, .header-type-8 #top .search_form, .body-header-type-27 #top .search_form {background-color: #fff;}
.header-type-3 #top .search_form, .header-type-8 #top .search_form, .body-header-type-27 #top .search_form .button-search {color: #3bb0e5;}
.header-type-3 #top .search_form:hover, .header-type-8 #top .search_form:hover, .body-header-type-27 #top .search_form:hover {border-color: #000000;}
.header-type-3 #top .search_form:hover, .header-type-8 #top .search_form:hover, .body-header-type-27 #top .search_form:hover {background-color: #ffffff;}
.header-type-3 #top .search_form:hover, .header-type-8 #top .search_form:hover,.body-header-type-27 #top .search_form:hover .button-search {color: #fff;}
.top-bar {background: #ffffff;}
#top .welcome-text, .top-bar .welcome-text {color: #808080;}
#top .welcome-text a, .top-bar .welcome-text a {color: #808080;}
.megamenu-background {border-bottom: 4px solid #ffffff;}
.top-bar .menu li a, .header-type-9 #top #header-center .menu li a, .header-type-17 #top #header-left .menu li a, .header-type-26 #top .menu li a {color: #808080;}
.top-bar .menu li a:hover, .header-type-9 #top #header-center .menu li a:hover, .header-type-17 #top #header-left .menu li a:hover, .header-type-26 #top .menu li a:hover {color: #000000;}
#top .dropdown > a:after {color: #000000;}
#top .dropdown > a {color: #808080;}
#top .dropdown:hover > a {color: #000000;}
#top .dropdown:hover > a:after {color: #808080;}
#top .my-account, .rtl .header-type-10 #top .my-account {border-color: #f3f3f3;}
#top .my-account {background: #f3f3f3;}
#top .my-account, .header-type-23 .dropdown i {color: #171016;}
#top .my-account:hover, .rtl .header-type-10 #top .my-account:hover {border-color: #000000;}
#top .my-account:hover {background: #000000;}
#top .my-account:hover, .header-type-23 .dropdown:hover i {color: #fff;}
#top #cart_block .cart-heading .cart-icon, .cart-block-type-2 #top #cart_block .cart-heading, .cart-block-type-9 #top #cart_block .cart-heading, .cart-block-type-8 #top #cart_block .cart-heading, .cart-block-type-7 #top #cart_block .cart-heading, .cart-block-type-4 #top #cart_block .cart-heading, .cart-block-type-6 #top #cart_block .cart-heading, .cart-block-type-8 #top #cart_block .cart-heading p, .cart-block-type-4 #top #cart_block .cart-heading .cart-icon, .rtl .cart-block-type-8 #top #cart_block .cart-heading p, .rtl .header-type-10 #top #cart_block .cart-heading .cart-icon, .rtl .cart-block-type-4 #top #cart_block .cart-heading .cart-icon {border-color: #007BB9;}
#top #cart_block .cart-heading .cart-icon, .cart-block-type-2 #top #cart_block .cart-heading, .cart-block-type-9 #top #cart_block .cart-heading, .cart-block-type-8 #top #cart_block .cart-heading, .cart-block-type-7 #top #cart_block .cart-heading, .cart-block-type-4 #top #cart_block .cart-heading {background: #007BB9;}
#top #cart_block:hover .cart-heading .cart-icon, .cart-block-type-2 #top #cart_block:hover .cart-heading, .cart-block-type-9 #top #cart_block:hover .cart-heading, .cart-block-type-8 #top #cart_block:hover .cart-heading, .cart-block-type-7 #top #cart_block:hover .cart-heading, .cart-block-type-4 #top #cart_block:hover .cart-heading, .cart-block-type-6 #top #cart_block:hover .cart-heading, .cart-block-type-8 #top #cart_block:hover .cart-heading p, .cart-block-type-4 #top #cart_block:hover .cart-heading .cart-icon, .rtl .cart-block-type-8 #top #cart_block:hover .cart-heading p, .rtl .header-type-10 #top #cart_block:hover .cart-heading .cart-icon, .rtl .cart-block-type-4 #top #cart_block:hover .cart-heading .cart-icon {border-color: #ffffff;}
#top #cart_block:hover .cart-heading .cart-icon, .cart-block-type-2 #top #cart_block:hover .cart-heading, .cart-block-type-9 #top #cart_block:hover .cart-heading, .cart-block-type-8 #top #cart_block:hover .cart-heading, .cart-block-type-7 #top #cart_block:hover .cart-heading, .cart-block-type-4 #top #cart_block:hover .cart-heading {background: #007BB9;}
#top #cart_block .cart-heading .cart-count {color: #ffffff;	background-color: #007BB9;}
#top #cart_block .cart-heading p {color: #ffffff;}
#top #cart_block .cart-heading p:after {color: #ffffff;}
#top #cart_block:hover .cart-heading .cart-count {color: #ffffff;background-color: #007BB9;}
#top #cart_block:hover .cart-heading p {color: #ffffff;}
#top #cart_block:hover .cart-heading p:after {color: #ffffff;}
#main .mfilter-slider-slider .ui-slider-handle, #main #mfilter-price-slider .ui-slider-handle {background: #000000 !important;}
#main .mfilter-slider-slider .ui-slider-range, #main #mfilter-price-slider .ui-slider-range {background: #000000 !important;}
ul.megamenu > li.with-sub-menu > a strong:after {color: #000000;}
ul.megamenu > li.with-sub-menu:hover > a strong:after {color: #000000;}
ul.megamenu > li > a {color: #007BB9;}
ul.megamenu > li:hover > a, ul.megamenu > li.active > a, ul.megamenu > li.home > a {color: #000000;}
#main .vertical ul.megamenu > li:hover {background: #ffffff;}
ul.megamenu li .sub-menu .content a {color: #000000;}
ul.megamenu li .sub-menu .content a:hover, ul.megamenu li .sub-menu .content .hover-menu .menu ul li:hover > a {color: #000000;}
ul.megamenu li .sub-menu .content .hover-menu a.with-submenu:before {color: #000000;}
ul.megamenu li .sub-menu .content .static-menu a.main-menu{color: #201c1d;}
ul.megamenu li .sub-menu .content .static-menu a.main-menu:hover {color: #000000;}
ul.megamenu li .sub-menu .content .static-menu a.main-menu:after {background: #000000;}
.megamenuToogle-wrapper {background-color: #000000;}
@media (max-width: 991px) {.responsive .standard-body .full-width .megamenu-background .megaMenuToggle:before {background-color: #000000;}}
.megamenuToogle-wrapper .container {color: #fff;}
.megamenuToogle-wrapper .container > div span {background: #fff;}
.megamenuToogle-wrapper:hover, .active .megamenuToogle-wrapper {background-color: #000000;}
.megamenuToogle-wrapper:hover .container, .active .megamenuToogle-wrapper .container {color: #fff;}
.megamenuToogle-wrapper:hover .container > div span, .active .megamenuToogle-wrapper .container > div span {background: #fff;}
@media (max-width: 991px) {.responsive .horizontal .megamenu-wrapper {background: #000000 !important;}}
@media (max-width: 991px) {.responsive .horizontal .megamenu-wrapper {border: 1px solid #ffffff !important;border-top: none !important;}}
@media (max-width: 991px) {.responsive .horizontal ul.megamenu > li > a {color: #fff !important;}}
@media (max-width: 991px) {.responsive .horizontal ul.megamenu > li:hover > a, .responsive .horizontal ul.megamenu > li.active > a {color: #ffffff !important;}}
@media (max-width: 991px) {.responsive .horizontal ul.megamenu > li {border-top-color: #ffffff !important;}}
@media (max-width: 991px) {.responsive ul.megamenu > li:hover, .responsive ul.megamenu > li.active {background: #000000 !important;}}
@media (max-width: 991px) {.responsive ul.megamenu > li.with-sub-menu .open-menu, .responsive ul.megamenu > li.with-sub-menu .close-menu {color: #fff !important;}}
#main .breadcrumb .background {background: #f8f8f8;border-bottom: 1px solid #f8f8f8;background-image: none;border-top: 1px solid #f8f8f8;background-image: none;}
.breadcrumb .container h1 {color: #0c0c0c;border-bottom-color: #f8f8f8;}
.breadcrumb ul, .breadcrumb ul a {color: #858585;}
.breadcrumb ul a:hover {color: #000000;}
.next-product .right .price {color: #000000;}
.button-previous-next {color: #000000;}
.button-previous-next:hover {background: #000000;}
.button-previous-next:hover {border-color: #000000;}
.button-previous-next:hover {color: #fff;}
#main .box-category ul li > a {color: #007bbc;}
#main .box-category ul li > a:hover {color: #ffffff;}
#main .box-category ul li a.active {color: #ffffff;}
.box-category > ul li > a:hover, .box-category > ul li:hover > a, .box-category > ul li a.active {background: #007bbc;}
#main .box-category ul li .head a {color: #007bbc;}
.box > .prev:hover, .box > .next:hover, .product-info .thumbnails-carousel .owl-buttons .owl-prev:hover, .product-info .thumbnails-carousel .owl-buttons .owl-next:hover, div.pagination-results ul li:hover, .tab-content .prev-button:hover, .tab-content .next-button:hover {background: #000000;}
.box > .prev:hover, .box > .next:hover, .product-info .thumbnails-carousel .owl-buttons .owl-prev:hover, .product-info .thumbnails-carousel .owl-buttons .owl-next:hover, div.pagination-results ul li:hover, .tab-content .prev-button:hover, .tab-content .next-button:hover {color: #fff;}
.box > .prev:hover, .box > .next:hover, .product-info .thumbnails-carousel .owl-buttons .owl-prev:hover, .product-info .thumbnails-carousel .owl-buttons .owl-next:hover, div.pagination-results ul li:hover, .tab-content .prev-button:hover, .tab-content .next-button:hover {border-color: #000000;}
.htabs a.selected:before, .filter-product .filter-tabs ul > li.active > a:before {background: #000000;}
.filter-product .filter-tabs ul > li > a, .htabs a {color: #212121;}
.categories-wall .category-wall h3 {border-bottom-color: #000000;}
.categories-wall .category-wall .more-categories {color: #000000;}
.categories-wall .category-wall .more-categories:hover {background: #000000;color: #fff;border-color: #000000;}
.popup h4:after {background: #000000;}
body .popup-module .mfp-close {border-color: #000000;color: #000000;}
body .popup-module .mfp-close:hover {background: #000000;border-color: #000000;color: #fff;}
#slider .pattern {background: #f3f3f3;}
.spinner {background-color: #f3f3f3;}
.camera_wrap .owl-controls .owl-buttons .owl-prev:hover, .camera_wrap .owl-controls .owl-buttons .owl-next:hover, #main .tp-leftarrow.default:hover, #main .tp-rightarrow.default:hover, #main .post .post-media .media-slider .owl-controls .owl-buttons .owl-prev:hover, #main .post .post-media .media-slider .owl-controls .owl-buttons .owl-next:hover {background: #000000;}
.camera_wrap .owl-controls .owl-buttons .owl-prev:hover:before, .camera_wrap .owl-controls .owl-buttons .owl-next:hover:before, #main .tp-leftarrow.default:hover:before, #main .tp-rightarrow.default:hover:before, #main .post .post-media .media-slider .owl-controls .owl-buttons .owl-prev:hover:before, #main .post .post-media .media-slider .owl-controls .owl-buttons .owl-next:hover:before {color: #fff;}
.sale {border: 1px solid #ea1616;color: #ffffff;background: #ea1616;}
#main .new {color: #fff;background: #201c1d;}
.rating i.active {color: #ffbf00;}
.button:hover, .btn:hover {color: #ffffff !important;background: #333333 !important;}
.buttons .left .button:hover, .buttons .center .button:hover, .btn-default:hover, .input-group-btn .btn-primary:hover {color: #ffffff !important;background: #333 !important;}
.custom-footer .background, .standard-body .custom-footer .background {background: #ebebeb;}
.custom-footer .pattern {background: none;}
.footer .pattern,.footer .pattern a {color: #808080;}
.footer .pattern a {color: #656363;}
.footer .pattern a:hover {color: #000000;}
.footer h4 {color: #808080;border-bottom-color: #000000;}
.footer .background, .standard-body .footer .background, .copyright .background, .standard-body .copyright .background {background: #ebebeb;}
.footer .container > .row:before, .footer .advanced-grid .container > div > .row:before, .footer .container > .row > div:before, .footer .advanced-grid .container > div > .row > div:before, .footer-type-11 .footer .container > .row:nth-last-child(2) > div:before, .footer-type-11 .footer .advanced-grid .container > div > .row:nth-last-child(2) > div:before, .footer-type-16 .footer .container > .row:nth-last-child(2) > div:before, .footer-type-16 .footer .advanced-grid .container > div > .row:nth-last-child(2) > div:before, .footer-type-21 .footer .container > .row > div:last-child:after, .footer-type-21 .footer .advanced-grid .container > div > .row > div:last-child:after {background: #ffffff;}
.footer-type-11 .footer .container > .row:nth-last-child(2), .footer-type-11 .footer .advanced-grid .container > div > .row:nth-last-child(2), .footer-type-16 .footer .container > .row:nth-last-child(2), .footer-type-16 .footer .advanced-grid .container > div > .row:nth-last-child(2) {border-color: #ffffff;}
#main .post .date-published, #main .news.v2 .media-body .bottom, .cosmetics-news .media .date-published, .medic-news .media .date-published, .wine-news .media .date-published, .cameras-news .media .date-published {color: #201c1d;}
#main .post .meta > li a {color: #201c1d;}
#main .post .meta > li a:hover {color: #000000;}
#main .tagcloud a, #main .post .tags a, #main .news .media-body .tags a, #main .posts .post .tags a, .cosmetics-news .media .tags a, .cameras-news .media .tags a {color: #fff;}
#main .tagcloud a, #main .post .tags a, #main .news .media-body .tags a, #main .posts .post .tags a, .cosmetics-news .media .tags a, .cameras-news .media .tags a {background: #000000;}
#main .tagcloud a:hover, #main .post .tags a:hover, #main .news .media-body .tags a:hover, #main .posts .post .tags a:hover, .cosmetics-news .media .tags a:hover, .cameras-news .media .tags a:hover {color: #000000;}
#main .tagcloud a:hover, #main .post .tags a:hover, #main .news .media-body .tags a:hover, #main .posts .post .tags a:hover, .cosmetics-news .media .tags a:hover, .cameras-news .media .tags a:hover {background: #fff;}
#main .posts .button-more, .wine-news .button-more {color: #007bbc;}
#main .posts .button-more:hover, .wine-news .button-more:hover {background: #007bbc;}
#main .posts .button-more:hover, .wine-news .button-more:hover {border-color: #007bbc;}
#main .posts .button-more:hover, .wine-news .button-more:hover {color: #fff;}
body,	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select {font-size: 14px;font-weight: 400 !important;font-family: Montserrat;}
ul.megamenu .megamenu-label, #main .news .media-body h5, #main .posts .post .post-title {font-family: Montserrat;}
@media (max-width: 767px) {.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a,.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a {font-family: Montserrat;}}
.center-column .panel-heading h4 {font-family: Montserrat;}
.dropdown-menu, body .dropdown-menu > li > a, .top-bar .menu li a, #top .dropdown > a, .product-info .cart .add-to-cart p, .header-notice, .header-type-9 #top #header-center .menu li a, .welcome-text, .header-type-16 #top #header-left .menu li {font-size: 13px;}
.product-filter .options .product-compare a, .product-info .cart .links a, .button-previous-next, .footer-button, .button-white-with-red-text, table.attribute thead td, table.list thead td, .wishlist-product table thead td, .wishlist-info table thead td, .compare-info thead td, .checkout-product table thead td, .table thead td, .cart-info table thead td, .manufacturer-heading, .center-column .panel-heading h4, ul.box-filter > li > span, .popup .form-contact .contact-label label, .categories-wall .category-wall .more-categories, .mfilter-heading, .product-info .options2 > div > label {font-size: 11px !important;}
ul.megamenu li .sub-menu .content .static-menu a.main-menu {font-size: 20px;font-weight: 400 !important;font-family: Montserrat;text-transform: uppercase;line-height: 1.9;}
ul.megamenu > li > a strong, .megamenuToogle-wrapper .container {font-size: 12px;font-weight: 400 !important;font-family: 'partner-reg';text-transform: uppercase;}
.horizontal ul.megamenu > li > a,.megamenuToogle-wrapper .container {line-height: 1.9;}
.box .box-heading, .center-column h1, .center-column h2, .center-column h3, .center-column h4, .center-column h5, .center-column h6, .products-carousel-overflow .box-heading, .htabs a, .product-info .options h2, h3, h4, h6, .product-block .title-block, .filter-product .filter-tabs ul > li > a, .popup h4, .product-info .product-name a, legend {font-size: 18px;font-weight: 400 !important;font-family: Montserrat;}
.box-with-categories .box-heading, .vertical .megamenuToogle-wrapper .container {font-size: 15px;font-weight: 400 !important;font-family: Montserrat;}
.box-with-categories .box-heading, .vertical .megamenuToogle-wrapper .container {line-height: 1.9;}
.box-category ul li > a, .vertical ul.megamenu > li > a strong {font-size: 14px;font-weight: 500 !important;font-family: Montserrat;text-transform: uppercase;line-height: 1.9;}
.sale, #main .new {font-size: 11px;font-weight: 400 !important;font-family: Montserrat;line-height: 1.9;}
.footer h4, .custom-footer h4 {font-size: 17px;font-weight: 400 !important;font-family: Montserrat;text-transform: uppercase;}
.breadcrumb .container h1 {font-size: 18px;font-weight: 400 !important;font-family: Montserrat;text-transform: uppercase;}
.button, .btn, .footer-button {font-size: 14px !important;font-weight: 400 !important;font-family: Montserrat;text-transform: none;line-height: 1.9;}
.product-info .cart .add-to-cart #button-cart {font-size: 14px !important;}
.product-grid .product .price, .product-list .name-actions > .price, .product-info .price .price-new, ul.megamenu li .product .price, .advanced-grid-products .product .right .price, #top #cart_block .cart-heading p strong, .cart-total table tr td:last-child, .mini-cart-info td.total, .mini-cart-total td:last-child, .today-deals-products .product .price, .product-info .price .price-old, .architecture-products .product .right .price, .matrialarts-products .matrial-product .right .price, .today-deals-toys2-products .price, .today-deals-petshop2-products .price, .today-deals-shoes3-products .price, .today-deals-computer8-products .price, .today-deals-computer6-products .price {font-family: Montserrat;}
.product-grid .product .price, .advanced-grid-products .product .right .price, #top #cart_block .cart-heading p strong, .cart-total table tr td:last-child, .mini-cart-info td.total, .mini-cart-total td:last-child, .today-deals-products .product .price, .architecture-products .product .right .price, .matrialarts-products .matrial-product .right .price {font-size: 16px;font-weight: 600 !important;}
.product-info .price .price-new {font-size: 36px;font-weight: 600 !important;}
.product-list .name-actions > .price {font-size: 20px;font-weight: 600 !important;}
.price-old, .today-deals-products .product .price .price-old, .architecture-products .product .right .price .price-old {font-size: 14px;font-weight: 600;}
