body{background:#f8f8f8;font-family: "Verdana";}
body, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select {
    font-family: "Verdana";
} 
.iconprod { display:none; }
.lefttop { position: absolute;
display:block;
    left: 1rem;
top: 0.5rem; z-index:99;}

.righttop { position: absolute;
display:block;
    right: 1rem;z-index:99;
top: 0.5rem;}

.box .clear { display: none; }
.product-grid-type-8 .product-grid .product .name a { font-weight: 500;font-size: 15px; }
.footer-type-24 .footer ul li a { line-height: 30px; }
.footer-type-24 .footer { font-weight: 600; }
.tab-content:before,
.tab-content:after { display: none; }
body[class*="product-category-"].body-white .standard-body .full-width .center-column.content-without-background { padding-top: 8px; }
.list-group-item {border:none;}
..pull-right {border: none;}
.product-info .radio-type-button2 span.active {
    background: #ffffff;
    color: #333333;
}
.product-info .radio-type-button span:hover, .product-info .radio-type-button span.active, .product-info .radio-type-button2 span:hover, .product-info .radio-type-button2 span.active, #main .mfilter-image ul li.mfilter-image-checked {
        border: 1px solid #333333;
    background-color: #333333;
    color: #fff;
}
.htabs a {
    font-size: 15px;
    margin-right: 3px;
    background: #e8e8e8;
    border-radius: 5px 5px 0px 0px;
    color: #000;}
@media (min-width: 991px){body{top:55px;}.newproduct {
    background: #fff;
    border: 1px solid #ebebeb;
    margin: 0px 15px;
    text-align: center;
}}
@media (max-width: 991px) {
    #mfilter-content-container {
    margin-top: 0;
    padding: 0 1px;
}
ul.megamenu.shift-up > li.active > .sub-menu > .content{border: 1px solid #fff;background: #f8f8f8;}
    .newproduct {margin: 0px 1px;background: #fff;}
    #compare-total{margin-right: 15px;}.limit-mod {margin-left: 10px;}
  .catimg {float: left;max-width: 50%;border-left: 1px solid #e8d5d1;}
  .catimg1 {float: left;max-width: 50%;margin-top: 5px;border-right: 1px solid #e8d5d1;}
.htabs a {font-size:14px;padding: 6px 4px;}
.block-share-rating, .block-shipping{font-size:13px;}
.standard-body .full-width.main-content .pattern > .container{padding: 5px;}}
#button-quote {
    background: #fff;
    padding: 12px 25px;
    border: 1px solid #05699a;
    border-radius: 40px;
    margin: 10px;}
    #button-call {
    background: #fff;
    margin-bottom: 10px;
    width: 190px;
    height: 44px;
    border: 1px solid #333333;
    vertical-align: middle;
    padding: 8px 0;
    text-align: center;
    border-radius: 40px;
    background-color: #fff;
    color: #000;
    margin-top: -16px;
}
.calldiv {    display: block;
    text-align: left;
    padding: 10px 0;
    font-size: 16px;
    display: block;
    width: 50%;
    /* text-align: left; */
    padding: 10px 0;
    font-size: 16px;
    float: right;
}
span.newoffers {
    font-size: 12px;
}
i.fa.fa-heart-o {
    color: #4d4d4d;
    padding: 11px;
    background: #fff;
    border-radius: 50%;
    font-size: 22px;
    border: 1px solid #eee;
}
i.fa.fa-refresh {
    color: #4d4d4d;
    padding: 13px;
    background: #fff;
    border-radius: 50%;
    font-size: 19px;
    border: 1px solid #eee;
}
.pds-link > img {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
i.fa.fa-heart-o:hover {
    background: #333333;
    color: #fff;
}
i.fa.fa-refresh:hover {
    background: #333333;
    color: #fff;
}
.col-sm-12 h3 {
    text-align: center;
    padding: 25px 0 0 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #212121;
}h2.refine_search {
    display: none;
}.image_block img {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}.newproduct:hover {
    box-shadow: 0px 0px 5px #ccc;
}.mini-cart-info a {color: #333333;}
ul.megamenu > li > a strong:hover {
    color: #333333;
}
#newsletter4923.box-content {
    text-align: center;
    font-size: 18px;
    display: inline-block;
}
a.button.subscribe {
    background: #333333;
    color: #fff;
    padding: 8px 40px;
    border-radius: 30px;
}.price-weight-box {
    display: none;
}.box-content.newsletterf {
    display: inline-block;
    text-align: center;
}.zoomContainer {
    margin-top: -75px;
}
.fa-video-camera {
    font-size: 24px;
    color: #000;
}
.fa-gift {
    font-size: 24px;
    color: red;
}
#video-total {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #333333;
    margin-right: 10px;
}
.select:after{top: 18px;right: 10px;font-size: 11px;}
#cd-dropdown {
    height: 35px;
    background: none;
    border-color: #333333;
    padding: 0px 20px;
    border-radius: 25px;
}.mfilter-heading-text::after {
    content: " ↴";
    margin-left: 5px;
    color: #000;}
.i4ewOd-pzNkMb-haAclf {
    background-color: rgb(9, 98, 142);
}i.fa.fa-fire {
    font-size: 28px;
    color: #E25822;
}
.category-list-text-only a {
    background: #fff;
    padding: 1px 8px 2px 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #616161;}
.catmenu{width:100%;overflow:hidden;text-align:left;margin-bottom: 10px;}
.ulli{display: inline-block;}
.ullia{font-size: 16px;display: block; color: #616161;text-decoration: none;padding: 0 10px;}
.i4ewOd-pzNkMb-haAclf {
    background-color: rgb(10, 114, 165);
}
#color_options{margin: 5px 0;line-height:auto;}
#color_options .heading{font-weight:500;display:block;font-size: 17px;color: #232323;padding: 5px 11px;}
#color_options .color_option{display: inline-block;padding: 0 10px 0 0; line-height:auto;position:relative;}
#color_options:nth-child(1) .color_option{padding-left: 15px!important;}
#color_options .color_option.disabled{opacity:.4}
#color_options .color_option.active{border-radius: 15px;border: 1px solid #fff;}
#color_options .color_option a{text-decoration: none;color: #000;}
#color_options .color_option .color_block{width: 20px;height: 20px;border-radius: 20px;float: left;box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);border: 1px solid #fff;}
#color_options .color_option .color_name{margin-left: 25px;}
#color_options .color_option.img,#color_options .color_option.photos{border:none;text-align:center;}
#color_options .color_option.img .color_name {margin: 0;}
#popupColorKits .disabled h4 a {color: #B9B9B9;}
/*#color_options .color_option.photos{border:1px solid #e4e4e4;}*/
#color_options .color_option.active.photos img{border:1px solid #333333;border-radius:5px;}
.color_list .color_option{position:relative;}
.color_list {position:relative;z-index:100;}
.color_list .color_items {position:absolute;bottom:20px;left:0;right:0;margin-left: auto;margin-right:auto;padding:5px;}
#color_options .preview-block {position:absolute;top:-100px;left:-50px;background:#fff;border:1px solid #e4e4e4;z-index:100;width:200px;}
.color_list {position:relative;z-index:100;}
.color_list .color_heading{display:block;margin-top: 20px;margin-bottom: -15px;}
.color_list .color-item{display:inline-block;width:23%;font-size:10px;}
.color_list .color_items{position:absolute;bottom: 4px;left: 0;right: 0;margin-left: auto;margin-right: auto;opacity: 1 !important;}
#color_options .color_option .price{color:#19a1df;font-weight:600 !important;font-size:16px;}
#color_options .color_option .name{padding-top:15px;padding-bottom:5px;color:#808080;font-size:14px;font-weight:400 !important;}
.tab-content .image a span {top: 8px;background-color: #bd3010 !important}