.close_filter_btn{
    display: none;
}
.botttom-pannel-menu ul>li>a>i{
    font-size:22px;
}
.cat_hidden_list{
    width: 96%;
    height: 45px;
    vertical-align: middle;
    white-space: nowrap;
    overflow-x: scroll;
    margin-top: 15px;
}
.link_block_sell::-webkit-scrollbar{
    height: 0;
    background:transparent !important;
}
.link_block_sell::-webkit-scrollbar-thumb {
    background: #f8f8f8;
}
.link_block_sell{
    width: 100%;
    height: auto;
    vertical-align: middle;
    white-space: nowrap;
    overflow-x: scroll;
}
.cat_hidden_list::-webkit-scrollbar{
    height: 0;
    background:transparent !important;
}
.cat_hidden_list::-webkit-scrollbar-thumb {
    background: #f8f8f8;
}
.custom_link_block::-webkit-scrollbar{
    height: 0;
    background:transparent !important;
}
.custom_link_block::-webkit-scrollbar-thumb {
    background: #f8f8f8;
}
.list_block_cat,.custom_scroll_block{
    vertical-align: middle;
    white-space: nowrap;
    display:inline-block;
}
.link_block_sale_in{
    vertical-align: middle;
    white-space: nowrap;
    display:inline-block;
}
.top_category_list a{
    background: #fff;
padding: 1px 10px 2px 10px;
    border: 1px dotted #ccc;
    border-radius: 10px;
    color: #333;
    display: inline-block;

}
.custom_link_block{
    text-align: left;
    /*padding: 0  0 0 49px;*/
    width: 96%;
    height: auto;
    vertical-align: middle;
    white-space: nowrap;
    overflow-x: scroll;
    margin-top: 15px;
    margin-left: 20px;
}
.custom_link_block a{
    background: #fff;
    padding: 1px 8px 2px 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #616161;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}
.list_block_cat .col-xs-6,.list_block_cat .col-xs-3{
    display: inline-block !important;
    width: auto !important;
    margin: 0 4px;
    vertical-align: middle;
    float: none !important;
}
.category_top_content{
    width: 96%;
    overflow-x: scroll;
    height: 40px;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 10px;
    position: relative;
    margin-left: 15px;
}
.category_top_content::-webkit-scrollbar{
    height: 0;
        background:transparent !important;
}
.category_top_content::-webkit-scrollbar-thumb {
    background: #f8f8f8;
}
.panel_navigation_cat{
    position: relative;
}
.next_btn_cat{
    position: absolute;
    right: 0;
    top: -7px;
    cursor: pointer;
    color: #999;
    font-size: 20px;
    z-index: 2;
    padding: 7px 3px;
}
.prev_btn_cat{
    position: absolute;
    left: 0;
    top: -7px;
    cursor: pointer;
    color: #999;
    font-size: 20px;
    z-index: 2;
    padding: 7px 3px;
}
.top_category_list{
    vertical-align: middle;
    white-space: nowrap;

}
.top_category_list li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
@media screen and (max-width:991px){
.custom_link_block{
	padding-left:5px !important;
}
.cat_hidden_list{
	padding-left:0 !important;
}
.box-content.mfilter-content{

	overflow:scroll;
padding-bottom:100px !important;
}
#mfilter-box-1.is-open{
	position:fixed;
}
.box-content.mfilter-content::-webkit-scrollbar{
    width: 0;
        background:transparent !important;
}
.box-content.mfilter-content::-webkit-scrollbar-thumb {
    background: #f8f8f8;
}
    .show_mobail_block{
        display: block !important;
    }
    .panel_navigation_cat{
        display: none !important;
    }
    .cq {
    margin-left: 0px!important;
    margin-top: -3px!important;
}
    .container-megamenu{
        background: #ffffff;
        height: 50px;
    }
    .mobile-header-new .mobile-logo-new img{
        max-width: 100%;
    }
    .container-megamenu.menu-2,.container-megamenu.menu-3{
        display: none;
    }
    .megamenuToogle-wrapper .container,.megamenuToogle-wrapper:hover .container, .active .megamenuToogle-wrapper .container{
        color: #eee;
    }
    .megamenuToogle-wrapper .container > div span,.megamenuToogle-wrapper:hover .container > div span, .active .megamenuToogle-wrapper .container > div span{
        background: #000000;
    }
    .mobile-header-new .mobile-logo-new{
        margin-left: 50%;
        transform: translate(-50%,0);
        margin-top:8px; 
    }
    .menu_mobail{
        position: absolute;
        left: 10px;
        z-index: 1000;
        top: 14px;
    }
    .mobile-header-new .mobile-menu-new{
        width: 60px;
        color: #eee;
        display: none;
    }
    .responsive .megaMenuToggle{
        display: none;
    }
    .banners.banners-with-padding-30 > div{
        padding: 5px 10px;
    }
    .banners.banners-with-padding-30 .coll-sm-3{
        padding-top: 0; 
    }
    .home .background .pattern .container .row .col-md-12 .row .col-md-12 .banners-with-padding-30{
        margin: 0 -5px;
    }
    .catimg1{
        margin: 0 2% 0 0;
        max-width: 49%;
    }
    .catimg{
        margin: -10px 0 0 0;
        max-width: 49%;
    }
    .mobile-header-sub-new{
        background: #eeeeee;
        line-height: 40px;
        text-align: center;
        height: 40px;
        border-top: 0;
    }
    .mobile-header-sub-new ul li{
        margin: 0 ;
        position: relative;
       
    }
    .footer .container > .row:before, .footer .advanced-grid .container > div > .row:before, .footer .container > .row > div:before, .footer .advanced-grid .container > div > .row > div:before, .footer-type-11 .footer .container > .row:nth-last-child(2) > div:before, .footer-type-11 .footer .advanced-grid .container > div > .row:nth-last-child(2) > div:before, .footer-type-16 .footer .container > .row:nth-last-child(2) > div:before, .footer-type-16 .footer .advanced-grid .container > div > .row:nth-last-child(2) > div:before, .footer-type-21 .footer .container > .row > div:last-child:after, .footer-type-21 .footer .advanced-grid .container > div > .row > div:last-child:after{
        background: transparent;
    }
    .footer .pattern a{

        font-size: 12px;
    }
    #button-filter-open{
        width: 50px;
        height: 36px;
        color: #0a73a3;
        top: 54px;
        right: 0;
        overflow: hidden;
        background: #000;
        font-size: 11px !important;
        position: fixed;
        z-index:1001;
    }
    #button-filter-open i{
        font-size: 35px !important;
        color: #fff;
    }
    .mfilter-heading-content{
        border-bottom: 1px solid #ddd;
        margin-bottom: 15px;
        
    }
    .filter_change_pos{
     
        top:6px !important;
    }
    .mobile-header-new{
        padding-top:0 !important; 
    }
    .mfilter-heading-text{
        padding: 15px 30px;
        font-size: 16px;
        color: #212121;
        position: relative;
    }
    .mfilter-heading.mfilter-collapsed .mfilter-heading-text::after {
        content: url('/catalog/view/theme/marcjewelry/img/arr_f.png');
        margin-left: 0;
        color: #0b73a5;
        position: absolute;
        right: 25px;
        top: 15px;
    }
    .mfilter-heading .mfilter-heading-text::after {
        content: url('/catalog/view/theme/marcjewelry/img/arr_f2.png');
        margin-left: 0;
        color: #0b73a5;
        position: absolute;
        right: 25px;
        top: 15px;
    }
    #mfilter-box-1{
        top: 50px;
        background: #f8f8f8;
    }
    .center-column .btn-filter:hover {
        background: transparent !important;
        color: #0a73a3!important;
    }
    .mobile-header-sub-new ul li a{
        padding: 0 15px;
        border-right: 1px solid #d6d6d6;
        font-size: 11px;
    }
    .mobile-header-sub-new ul li:last-child a{

        border-right:0;
    }
    .ulli{
        line-height: 35px;
    }
    .product-compare-mod ul{
        padding-left: 0;
        padding-bottom: 10px;
        border-bottom:1px solid #dddddd;
    }
    .product-compare-mod {
        text-align: center;
    }
    .product-compare-mod {
        display: none;
    }
    #compare-total{
        margin: 15px 20px;
        width: auto;
        padding: 8px 20px;
        text-align: center;
    }
    .newproduct .right div:nth-child(2) {
        min-height: 60px;
    }
    .newproduct .mob_right {
    display: none;
	}
    .close_fixed_menu{
        position: absolute;
        right: 15px;
        top: 10px;
        color: #212121;
        font-size: 22px;
    }
    .back-btn{
        display: none;
    }
    .breadcrumb .container h1{
        font-weight: 700 !important;
    }
    .breadcrumb .container ul{
        display: none;
    }
    #main .box-category ul li > a{
        color: #fff;
        padding: 6px 24px;
        border-radius: 19px;
        background: #000000;
        margin: 5px 4px;
        text-transform: none;
    }
    .standard-body .full-width .center-column.content-with-background{
        padding: 15px 10px;
    }
    .megamenuToogle-pattern .container{
        color: #eee;
    }
    .advanced-grid.advanced-grid-54946208{
        text-align: center;

    }
    .img_garant{
        display: none;
    }
    .info_btn_garant{
        width: 170px;
        margin: 0 auto;
        background: #000000 !important;
        line-height: 40px;
        border-radius: 20px !important;
    }
    .text_garant_mobail{
        font-size: 14px  !important;
        text-align: center !important;
        color: black;
    }
    .title_garant_mobail{
        text-align: center !important;
        font-size: 18px !important;
        font-weight: 400 !important;
        color: black;
    }
    .btn_garant_block{
        text-align: center !important;
        position: relative;
    }
    .block_main_video{
        padding: 10px 15px !important;
        text-align:  left !important;
    }
    .block_main_video a{
        font-size: 11px !important
    }
    .block_main_video a span{
        font-size: 16px !important;
    }
    .block_main_video img{
        position: absolute;
        left: 125px;
        top: 16px;
    }
    .predl_title{
        font-size: 18px !important;
    }
    .predl_text{
        font-size: 18px !important;
    }
    .media-body h5 a{
        font-size: 16px !important;
    }
    .sp-form-control {
        width: 100% !important;
        height: 40px !important;
        border-radius:20px !important;
        text-align:center !important;
        font-size: 14px !important;
        border:none !important;
    }
    .sp-form .sp-button{
        width: 100% !important;
        height: 40px !important;
        border-radius: 20px !important;
        text-transform: uppercase;
        background: #000000 !important;
        padding: 0 20px !important;
        font-size: 14px !important;
    }
    .sp-form .sp-button-container{
        margin: 0 auto !important;
    }
    .botttom-pannel-menu>ul{
        display: flex;
        justify-content: flex-start;
    }
    .botttom-pannel-menu>ul>li{
        float: none;
        width: 20%;
        text-align: center;
        color: #000000;
        font-size: 10px;
        border: 0 !important;
        padding-top: 3px;
    }
    .botttom-pannel-menu ul>li>a{
        border: 0;
        color: #000000;
    }
    .botttom-pannel-menu ul>li>a>i{
        font-size: 22px;
        margin-bottom: 5px;
        display: inline-block;
        padding-top: 7px;
    }
    .botttom-pannel-menu{
        border: 0 !important;
        height: 56px;
    }
    .menu_new_mobail{
        background: rgba(0,0,0,0.8);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 25000;
    }
    .content_menu_new{
        position: fixed;
        height: 100%;
        left: 0;
        top: 0;
        width: 265px;
        z-index: 26000;
        background: #ffffff;
        overflow-y:scroll; 
    }
    .content_menu_new::-webkit-scrollbar{
        width: 1px;
    }
    .back_btn{
        cursor: pointer;
        padding-left: 45px !important;
        font-size: 15px;
        color: #017bba;
        line-height: 30px;
        border-bottom: 1px solid #017bba;
    }
    .top_box_menu{
        text-align: center;
        background: #fff;
        padding: 12px 0 15px 0;
    }
    .logo_menu_box{
        margin-bottom: 24px;
        display: block;
    }
    .link_auth-mb{
        padding: 0 15px;
        font-size: 14px;
        color: #34373d;
        text-decoration: none;
    }
    .item_menu_new_link{
        display: block;
        padding-left: 18px;
        position: relative;
        color: #232323;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 70px;
    }
    .item_menu_new_link:hover{
        color: #017bba;
        background: #fff;
    }
    .item_menu_new_link i{
        font-size: 18px;
        
        position: relative;
        bottom: -3px;
        min-width: 45px
    }
    @font-face {
        font-family: 'Avesome';
        src: url('/catalog/view/theme/marcjewelry/css/fa-solid-900.ttf');
        
    }
    /*
    .icon_catal:hover:before{
        content: url('/catalog/view/theme/marcjewelry/img/ico_m1-h.png');
    }
    .icon_catal:before{
        content: url('/catalog/view/theme/marcjewelry/img/ico_m1.png');
        position: absolute;
        left: 10px;
        top: 4px;
    }
    .icon_info:hover:before{
        content: url('/catalog/view/theme/marcjewelry/img/ico_m2-h.png');
    }
    .icon_info:before{
        content: url('/catalog/view/theme/marcjewelry/img/ico_m2.png');
        position: absolute;
        left: 10px;
        top: 4px;
    }
    .icon_cab:hover:before{
        content: url('/catalog/view/theme/marcjewelry/img/ico_m3-h.png');
    }
    .icon_cab:before{
        content: url('/catalog/view/theme/marcjewelry/img/ico_m3.png');
        position: absolute;
        left: 10px;
        top: 4px;
    }
    .icon_opt:hover:before{
        content: url('/catalog/view/theme/marcjewelry/img/ico_m4-h.png');
    }
    .icon_opt:before{
        content: url('/catalog/view/theme/marcjewelry/img/ico_m4.png');
        position: absolute;
        left: 10px;
        top: 4px;
    }
    .icon_blog:hover:before{
        content: url('/catalog/view/theme/marcjewelry/img/ico_m5-h.png');
    }
    .icon_blog:before{
        content: url('/catalog/view/theme/marcjewelry/img/ico_m5.png');
        position: absolute;
        left: 10px;
        top: 4px;
    }
    */
    .ct_me_menu{
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        z-index: 24000;
        width: 100%;
        padding-left: 0;

    }
    .ct_me_menu>li>a{
        padding-left: 55px;
        text-transform: uppercase;
        font-size: 14px;
        color: #212121;
        line-height: 50px;
        display: block;
    }
    .ct_me_menu li{
        padding-left: 0;
        font-size: 14px;
        font-weight: 400px;
    }
    .ct_me_menu .sub-menu .menu > ul{
        padding: 0 !important;
    }
    .ct_me_menu .sub-menu .menu > ul > li{
        list-style: none;
        display: block;
        margin-bottom: 1px;
        position: relative;
    }
    .ct_me_menu .sub-menu .menu > ul > li > a{
        display: block;
        background: #ffffff;
        position: relative;
        padding-left: 55px;
        color: #000000;
        font-size: 14px;
        line-height: 50px;
    }
    .ct_me_menu .fashion6-megamenu > ul,.ct_me_menu .fashion6-megamenu {
        padding: 3px 0 1px 0;
    }
    .ct_me_menu .fashion6-megamenu > ul > li{
        margin-bottom: 1px;
    }
    .ct_me_menu .fashion6-megamenu > ul > li > a{
        display: block;
        background: #017bba;
        position: relative;
        padding-left: 55px;
        color: #fff;
        font-size: 14px;
        line-height: 50px;
    }
    .ct_me_menu .sub-menu .menu > ul > li > ul{
        padding: 0 !important;
        display: none;
    }
    .ct_me_menu .sub-menu .menu > ul > li > ul > li{
        list-style: none;
    }
    .ct_me_menu .sub-menu .menu > ul > li > ul > li > a{
        display: block;
        background: #fff;
        position: relative;
        padding-left: 95px;
        color: #017bba;
        font-size: 14px;
        line-height: 50px;
    }
    .ct_me_menu .sub-menu .menu ul li .open-categories{
        position: absolute;
        right: 50px;
        top:18px;

    }
    .ct_me_menu .sub-menu .menu ul li .open-categories:before{
        content: "\f105";
        font-size: 18px;
        color: #000000;
        font-family: Avesome;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        text-align: center;
        line-height: 26px;
        border:1px solid #000000;
        display: block;
        position: absolute;
        left: 0;
        top: -7px;
        padding-top: 1px;
        padding-left: 2px;
    } 
    .ct_me_menu .sub-menu .menu ul li.active .open-categories:before{
        content: "\f105";
        
        display: none;
    }   
    .ct_me_menu .sub-menu .menu  ul  li .close-categories{
        position: absolute;
        right: 50px;
        top: 18px;
    }
    
    .ct_me_menu .sub-menu .menu  ul  li.active .close-categories:before{
        content: "\f107";
        font-size: 18px;
        color: #fff;
        font-family: Avesome;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        text-align: center;
        line-height: 26px;
        border:1px solid #fff;
        display: block;
        position: absolute;
        left: 0;
        top: -7px;
        padding-top: 1px;
        padding-left: 2px;
    }
    .mfilter-tb{
        padding:0 36px;
    }
    .mfilter-tb-as-tr{
        padding: 10px 0;
    }
    .mfilter-box.left .mfilter-option label{
        font-size: 14px;
        color: #212121;
        margin: 5px 0;
    }
    .pattern #column-left{
        position: static;
    }
    #mfilter-box-1{
        position: absolute;
    }
    .mfilter-button.mfilter-button-bottom a{
        background: #000000;
        color: #fff;
        font-size: 14px;
        line-height: 34px;
        border-radius: 17px;
        padding: 0 20px;
    }
    .mfilter-option.mfilter-price {
        padding:  0 35px !important;
    }
    #main .mfilter-slider-slider .ui-slider-handle, #main #mfilter-price-slider .ui-slider-handle{
        background: #000000 !important;
    }
    .mfilter-price-inputs input{
        border-radius: 0;
    }
    .mfilter-button-bottom{
        display: inline-block;
        position: fixed;
        bottom: 14px;
        right: 20px;
    }
    .mfilter-button-reset{
        display: inline-block !important;
        position: fixed;
        left: 20px;
        bottom: 16px;
        background: #dddddd;
        color: #000000;
        font-size: 14px;
        line-height: 34px;
        border-radius: 17px;
        padding: 0 20px;
        z-index: 30000;
    }
    .mfilter-button-reset i{
        display: none;
    }
    .close_filter_btn{
        display: inline-block !important;
        position: fixed;
        left: 120px;
        bottom: 16px;
        background: #dddddd;
        color: #000000;
        font-size: 14px;
        line-height: 34px;
        border-radius: 17px;
        padding: 0 20px;
        z-index: 30000;
    }
    .modal-body{
        overflow-x: scroll; 
    }
    .table-desctop_wishlist{
        display: none;
    }
    .block_wishlist_mobail{
        display: block !important;
    }
    .item_wishlit_elem{
        background: #eceaea;
        padding: 23px 10px;
        border:1px solid #c6c6c6;
    }
    .item_wishlit_elem .name_wishlist{
        color: #34373d;
        font-size: 14px;
        display: block;
        margin-bottom: 20px;
    }
    .bottom_wishlist_elem{
        display: flex;
        justify-content: flex-start;

    }
    .img_wishlist{
        width: 50%;
        text-align: center;
    }
    .price_wishlist{
        width: 50%;
        text-align: center;
        padding: 0 5px;
        text-align: center;
    }
    .price_wishlist .price{
        color: #212121;
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 700;
    }
    .price_wishlist .price span{
        font-weight: 400;
    }
    .btn_add_card{
        background: #000000;
        color: #fff;
        font-size: 13px;
        line-height: 34px;
        border-radius: 17px;
        padding: 0px;
        width: 100%;
        margin-bottom: 10px;
    }
    .btn_dell_card{
        background: #ddd;
        color: #000000;
        border:1px solid #d3d3d3;
        font-size: 13px;
        line-height: 34px;
        border-radius: 17px;
        padding: 0px;
        width: 100%;
        margin-bottom: 10px;
        display: block;
    }
    .full_wishlist{
        width: 100% !important;
        height: 40px !important;
        border-radius: 20px !important;
        text-transform: uppercase;
        background: #000000 !important;
        padding: 0 20px !important;
        font-size: 14px !important;
        color: #fff;
        line-height: 40px;
    }
    .modal-header{
        background: #000000 !important;
        border-radius: 5px 5px 0 0 !important;
        font-weight: 700 !important;
    }
    .standard-body .full-width .center-column.content-with-background{
        margin-top: 0;
    }
    .product-info .product-image{
        margin: 0;
        text-align: center;
    }
    .block-cart-left{
        display: block;
    }
    .product-info .price,.block-cart-right{
        display: block;
        text-align: center;
        margin: 0;
        max-width: 100%;
    }
    .block-share-rating, .block-shipping{
        /*text-align: center;*/
        display: block;
        width: 50%;
        padding: 10px 0;
        font-size: 14px;
    }
    #button-call {
    background: #fff;
    margin-bottom: -5px;
    width: 100%;
    height: 100%;
    border: 1px solid #0a72a5;
    vertical-align: middle;
    padding: 16px 0;
    text-align: center;
    border-radius: 40px;
    background-color: #fff;
    color: #000;
    line-height: 1.25;
    margin-top: -11px;
}
.pnew1 {
    margin-top: -30px;
    margin-left: 30px;
    /* width: 111px; */
    display: block;
}
span.newoffers {
    font-size: 10px;
}
.newoffers img {
     padding: 0px; 
}
.pnew {
    margin-top: -35px;
    margin-left: 32px;
    width: 141px;
    display: block;
}
/*    #button-quote{
        background: #d1d1d1;
        border: 0;
        margin-top: 26px;
        width: 100%;
        margin-bottom: 25px;
        color: #212121;
    }*/
    .htabs a{
        font-size: 13px;
        background: #000000;
        border-radius: 8px 8px 0 0;
        color: #fff;
    }
    .quantity input[name="quantity"]{
        padding:0;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-align: center;
        font-size: 16px;
        background: #fff;
    }
    i.fa.fa-heart-o,i.fa.fa-refresh{
        color: #000000;
    }
    #button-cart,#main .button-product-question{
        width: 215px;
    }
    .block-cart-left .checked-options{
        display: none;
    }
    .hidden_mobail{
        display: none !important;
    }
    .additional-sale{
        font-size: 14px;
        color: #212121;
        margin-top: 15px;
        text-decoration: none;
    }
    .price.pds{
        display: none !important;
    }
    .additional-sale span{
        font-weight: 700;
        color: #000000;
    }
    i.fa.fa-plus{
        padding: 3px 4px;
    }
    i.fa.fa-minus{
        padding: 3px 4px;
    }
    .options2{
        padding-bottom: 30px;
        border-bottom: 1px solid #dddddd;
    }
    body{
        padding-top: 50px;
    }
    .product-info .options > div > label{
        font-size: 14px;
        font-weight: 600;
        color: #212121;
    }
    .mobile-header-new, .back-btn{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
    }
}