﻿.back-btn{display:none;position:fixed;left:0;top:8px;z-index:10000;background:#0a72a5;color: #ffffff;border-radius: 16px 0px;border:1px solid #0a72a5;text-align:center;padding:0 20px;font-size:16px}
.mobile-header-new{display:none;padding:3px 0 0;width:100%;top:0;left:0;background:#fff;z-index:10000}
.mobile-header-new .mobile-logo-new{float:left;margin-left:40%;width:150px;position:relative;z-index:1000}
.mobile-header-new .mobile-logo-new img{max-width:50%;margin-left:15px}
.mobile-header-new .mobile-menu-new{float:right;width:150px;text-align:center;font-size:21px;line-height:52px;cursor:pointer}
.mobile-header-new .mobile-menu-new-item{position:relative;z-index:100}
.mobile-header-new .mobile-menu-new-item .container-megamenu{margin:0!important;padding:0!important;position:static!important;font-weight:400!important}
.mobile-header-new .mobile-menu-new-item .container-megamenu .megamenuToogle-wrapper{background:none!important;position:static!important;margin:0!important}
.mobile-header-new .mobile-menu-new-item .container-megamenu .megamenuToogle-wrapper .megamenuToogle-pattern{background:none!important}
.mobile-header-new .mobile-menu-new-item .container-megamenu .container,.mobile-header-new .mobile-menu-new-item .container-megamenu ul.megamenu > li > .sub-menu .content{margin:0!important;padding:0!important;position:static!important;font-weight:400!important}
.mobile-header-new .mobile-menu-new-item .container-megamenu ul.megamenu > li > .sub-menu .content{margin:0!important;padding:0!important;position:static!important;font-weight:400!important;overflow:hidden;width:100%}
.mobile-header-new .mobile-menu-new-item .container-megamenu .megamenu-pattern{height:400px;overflow-x:scroll}
.mobile-header-new .mobile-menu-new-item .container-megamenu .megamenu-pattern .col-sm-4{width:50%!important;padding:0!important;margin:0 0 20px!important;float:left}
.mobile-header-new .mobile-menu-new-item .container-megamenu .megamenu-pattern .fashion6-megamenu{margin:0!important;padding:0!important;position:static!important;font-weight:400!important;line-height:0}
.mobile-header-new .mobile-menu-new-item .container-megamenu .megamenu-pattern .fashion6-megamenu h3{font-size:16px;text-align:center}
.mobile-header-new .mobile-menu-new-item .container-megamenu .megamenu-pattern .fashion6-megamenu ul{padding:0!important;position:static!important;margin:0!important}
.mobile-header-new .mobile-menu-new-item .container-megamenu .megamenu-pattern .furniture-contact .col-sm-3{text-align:center}
.mobile-header-sub-new{top:60px;width:100%;height:27px;background:#f8f8f8;border-top:2px solid #e7e7e7;z-index:10000;border-bottom:1px solid #e7e7e7;box-shadow:0 5px 8px -3px rgba(17,17,17,0.13);display:none}
.mobile-header-sub-new ul{display:block;margin:0 auto}
.mobile-header-sub-new ul li{list-style:none;float:left;margin-left:10px}
.mobile-header-sub-new ul li a{line-height:20px;padding:10px 5px;color:#333}
.mobile-header-sub-new ul li a:hover{color:#000}@media (max-width: 991px){.mobile-header-new,.mobile-header-sub-new,.back-btn{display:block}
.slider-header{display:none}
#slider{margin-top:0}
.category_wrapper .product-hover{height:350px!important}
.category_wrapper .product-hover .only-hover{background:transparent!important;top:147px!important;visibility:visible!important;opacity:1!important;padding:0!important;height:70px;position:static!important;margin-top:10px}
.category_wrapper .product-hover .only-hover ul{position:static!important}
.category_wrapper .product-hover .price,.product-grid .product-hover .name{visibility:visible!important;opacity:1!important}
.category_wrapper .product .only-hover ul{transform:scale(1)!important;-moz-transform:scale(1)!important;-webkit-transform:scale(1)!important;opacity:1!important}
.category_wrapper .product .only-hover ul li a{border:none!important}}.mobile-enabled ul li{margin-left:3px}#button-filter-open{display:none;position:fixed;right:0;top:110px;z-index:999999}.center-column .btn-filter:hover{background:#19a1df!important;color:#fff!important}.mfilter-free-button{display:none!important}.filter_change_pos{top:10px!important}@media (max-width: 991px){.mfilter-free-container{position:fixed;top:0!important;width:98%!important;margin-left:0!important;display:none!important;height:100vh!important}.mfilter-free-container.active-filter{display:block!important}#button-filter-open{display:block;padding:0px 10px;text-transform:none;margin-top:0;border-radius: 18px 0px;color: #fff;background: #0a72a5;}}.mfilter-ajax-loader-container{cursor:wait;z-index:999999;margin:0;width:100%!important;padding:0;position:fixed;left:0!important;top:0!important;text-align:center}
@media (min-width: 991px){.botttom-pannel-menu{position:fixed;top:0px;box-shadow: 1px 1px 10px #ede5de;left:0;width:100%;z-index:1000;display:block;height:70px;background:#007bbc;}
.botttom-pannel-menu ul{padding:0!important;margin:auto;background: #e8e8e8;width: 80%;}.modal-body a.btn.btn-default{padding:5px 20px;border-radius:17px;color:#ffffff;}
.botttom-pannel-menu > ul > li{float:left;list-style:none;width:20%;position:relative}
.botttom-pannel-menu ul > li > a{display: table-cell;width: 1%;height: 70px;color: #0a72a5;text-align: center;vertical-align: middle;border-right: 1px solid #ffffff;font-size: 16px;}
.botttom-pannel-menu ul > li > a > span{margin-left: 5px;}
.botttom-pannel-menu ul > li > a img{display:inline-block;width:10%;margin-right:5px;}
.botttom-pannel-menu ul > li.active a{color:#fff!important}}
@media (max-width: 990px){.botttom-pannel-menu{position:fixed;bottom:0;left:0;width:100%;z-index:1000;display:block;height:51px;background:#f8f8f8;color:#000;box-shadow:0 5px 6px -2px #ccc;border-top:1px solid #017bba;border-bottom:4px solid #017bba}
.botttom-pannel-menu ul{padding:0!important;margin:auto}.modal-body a.btn.btn-default{padding:5px 20px}
.botttom-pannel-menu > ul > li{float:left;list-style:none;width:20%;position:relative}
.botttom-pannel-menu ul > li > a{text-align:center;display:table-cell;width:1%;height:50px;color:#373830;text-align:center;vertical-align:middle;border-right:1px solid #017bb9}
.botttom-pannel-menu ul > li > a i{display:block;color:#017bb9;font-size:16px}
.botttom-pannel-menu ul > li.active a{color:#fff!important}}
@media (max-width: 991px){.botttom-pannel-menu{display:block}
.modal-body .box-with-links,.modal-body .box-with-links .box-content{padding-top:0!important}}