.tp-bullets.tp-thumbs{padding:0px !important;background:none !important;}
.tp-bullets.tp-thumbs .bullet.selected{border:2px solid #acdd13;}
.tp-bullets.tp-thumbs .bullet{margin-right:10px !important;-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-o-filter:grayscale(100%);-ms-filter:grayscale(100%);filter:grayscale(100%);}
.tp-bullets.tp-thumbs .bullet.selected{-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);-o-filter:grayscale(0%);-ms-filter:grayscale(0%);filter:grayscale(0%);}
.tp-mask{width:370px !important;}
@media (max-width:1270px){.responsive .tp-bullets.tp-thumbs{display:none !important;}
}
.tp-leftarrow.default,
.tp-rightarrow.default{width:33px;height:33px;border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px;background:#fff;color:#333;transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;padding:8px 0px 0px 12px;text-align:left;font-size:13px;font-family:Poppins;}
.buttons-prev-next-type-2 .tp-leftarrow.default,
.buttons-prev-next-type-2 .tp-rightarrow.default{border-radius:0px;-webkit-border-radius:0px;-moz-border-radius:0px;}
.tp-leftarrow.default:hover,
.tp-rightarrow.default:hover{background:#d9121f;border-color:#d9121f;color:#ffff;}
.tp-rightarrow.default{padding:8px 0px 0px 14px;}
.tp-leftarrow.default:before,
.tp-rightarrow.default:before{content:"\f053";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:11px;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;}
.tp-rightarrow.default:before{content:"\f054";}
.tp-leftarrow.default:hover:before,
.tp-rightarrow.default:hover:before{color:#fff;}
.tp-bullets.simplebullets.round .bullet{width:13px;height:13px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background:#fff;opacity:0.1;transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;margin-left:7px;}
.tp-bullets.simplebullets.round .bullet.selected{opacity:1;}