// В этом файле должны быть стили для БЭМ-блока field-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-text {

    $block-name:                &; // #{$block-name}__element

    position: relative;
    display: block;
    
    &:not(:last-child) {
        margin-bottom: $typo-margin-vertical;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s; /* выставляется желаемая задержка */
        -webkit-text-fill-color: $text-color;
        caret-color: $text-color;
    }

    &__name {
        @include field-name;
    }

    &__input-wrap {
        display: block;
    }

    &__input {
        @include field-text;

        @at-root textarea#{&} {

            height: 50px ;
            resize: vertical;
            padding: 0.7em 0;

            @media (max-width: $screen-md) {
                height: 45px;
            }
        }

        &:focus{

            & + .field-text__help-text {
                top: 0;
                transform: translateY(0);
                font-size: 12px;
            }
        }
    }

    &__help-text {
        @include field-help-text;
    }

    &--error {

        #{$block-name}__name,
        #{$block-name}__input,
        #{$block-name}__help-text {
            color: $color-danger;
        }

        #{$block-name}__input {
            border-color: $color-danger;
            background-color: lighten($color-danger, 35%);
        }
    }

    &--error,
    &--fix {

        .field-text__help-text {
            top: 0;
            transform: translateY(0);
            font-size: 12px;
        }
    }

    &--title {

        .field-text__input-wrap {
            display: flex;
        }

        .field-text__input {
            font-size: 20px;

            @media (max-width: 1439px) {
                font-size: 1em;
            }

            & + .field-text__help-text {
                font-size: 20px;
                top: 0;
                transform: none;

                @media (max-width: 1439px) {
                    font-size: 1em;
                }
            }
        }

        .field-text__help-text {
            order: -1;
            flex-shrink: 0;
            position: static;
            top: 0;
            transform: none;
            display: inline-flex;
            align-items: center;
            min-height: 50px;
            padding-top: 0;
            padding-right: 15px;
            border-bottom: 1px solid #E3E3E3;
            font-size: 20px;
            font-weight: 500;
            color: rgba($text-color, 0.5);

            @media (max-width: 1439px) {
                font-size: 1em;
            }
        }
    }
}
