// В этом файле должны быть стили для БЭМ-блока card-main, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card-main {

    &__cols {
        @include row(60px);

        @media (max-width: $screen-xl) {
            margin-left: -10px;
            margin-right: -10px;
        }

        @media (max-width: $screen-lg) {
            margin-left: -15px;
            margin-right: -15px;
        }

        @media (max-width: $screen-md) {
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    &__left {
        @include make-col(5.1, 12, 60px);
        @include col(xl, 5.1, 12, 20px);
        @include col(lg, 6, 12, 30px);
        @include col(md, 12, 12, 20px);

        @media (max-width: $screen-md) {
            margin-bottom: 20px;
        }
    }

    &__right {
        @include make-col(6.9, 12, 60px);
        @include col(xl, 6.9, 12, 20px);
        @include col(lg, 6, 12, 30px);
        @include col(md, 12, 12, 20px);
    }

    &__info {
        display: flex;
        flex-direction: column;
        height: 100%;

        & > * {
            max-width: 100%;
        }
    }

    &__sizes {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.5em;
    }

    &__title {
        margin-bottom: 0.5em;
        font-size: 32px;

        @media (max-width: 1439px) {
            font-size: 28px;
        }

        @media (max-width: $screen-xl) {
            font-size: 24px;
        }

        @media (max-width: $screen-lg) {
            font-size: 22px;
        }

        @media (max-width: $screen-md) {
            font-size: 20px;
        }
    }

    &__subtitle {
        margin-bottom: 0.5em;
        font-size: $font-size-h3;
        font-weight: 600;

        @media (max-width: 1439px) {
            font-size: 20px;
        }
    
        @media (max-width: $screen-md) {
            font-size: 18px;
        }
    }

    &__info-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    &__weight {
        color: $green-dark;

        @media (max-width: $screen-lg) {
            font-size: 12px;
        }
    }

    &__choice-size {
        text-decoration: none;

        @media (max-width: $screen-lg) {
            font-size: 12px;
        }
    }

    &__descr {
        margin-bottom: 1em;
        color: $green-dark;
    }

    &__prices {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-bottom: 2em;

        @media (max-width: 1439px) {
            margin-bottom: 1em;
        }

        @media (max-width: $screen-sm) {
            flex-direction: column;
        }

        & > * {
            max-width: 100%;
        }

        & > *:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__price {
        font-size: 24px;
        font-weight: 600;

        @media (max-width: $screen-lg) {
            font-size: 20px;
        }

        @media (max-width: $screen-md) {
            font-size: 24px;
        }

        span {
            font-size: 32px;

            @media (max-width: $screen-lg) {
                font-size: 28px;
            }

            @media (max-width: $screen-md) {
                font-size: 40px;
            }
        }
    }

    &__old-price {
        font-size: 12px;
        color: $red;
        text-decoration: line-through;

        @media (max-width: $screen-md) {
            font-size: 20px;
        }

        span {
            font-size: 16px;

            @media (max-width: $screen-md) {
                font-size: 24px;
            }
        }
    }

    &__btns {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -20px;

        @media (max-width: $screen-xl) {
            margin-bottom: -10px;
        }

        & > * {
            margin-bottom: 20px;

            @media (max-width: $screen-xl) {
                margin-bottom: 10px;
            }
        }

        & > *:not(:last-child) {
            margin-right: 20px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

            @media (max-width: $screen-xl) {
                margin-right: 10px;
            }

            @media (max-width: $screen-sm) {
                margin-right: 0;
            }
        }
    }

    &__btns-group {
        display: flex;

        & > *:not(:last-child) {
            margin-right: 20px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

            @media (max-width: $screen-xl) {
                margin-right: 10px;
            }
        }
    }

    &__btn {
        height: 60px;

        @media (max-width: 1439px) {
            height: 50px;
        }

        @media (max-width: $screen-lg) {
            padding: 0.8em 1em;
        }

        @media (max-width: $screen-sm) {
            width: 100%;
        }
    }

    &__favorite,
    &__share {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 4px;

        @media (max-width: 1439px) {
            width: 50px;
            height: 50px;
        }

        .icon {
            max-width: 30%;
            max-height: 30%;
        }

        &:hover,
        &:focus {

            .icon {
                fill: $blue;
            }
        }
    }

    &__favorite {

        .icon {
            fill: $text-color;
        }
    }

    &__share {
        background-color: $text-color;

        .icon {
            fill: $white;
        }
    }
}

.card-set {

    &:not(:last-child) {
        margin-bottom: 1em;
    }

    &__items {
        @include row();

        @media (max-width: 1439px) {
            margin-left: -5px;
            margin-right: -5px;
        }
    }

    &__item {
        display: inline-flex;
        align-items: center;
        flex: 0 0 130px;
        max-width: 130px;
        padding-left: 10px;
        padding-right: 10px;
        height: 110px;
        margin-bottom: 20px;

        @media (max-width: 1439px) {
            flex: 0 0 110px;
            max-width: 100px;
            padding-right: 5px;
            padding-left: 5px;
            height: 90px;
            margin-bottom: 10px;
        }

        @media (max-width: $screen-lg) {
            flex: 0 0 80px;
            max-width: 80px;
            height: 70px;
        }

        &:not(:last-child) {
            margin-right: 2em;

            &:after {
                content: '+';
                font-size: 2.8em;
                margin-left: 0.35em;

                @media (max-width: 1439px) {
                    margin-left: 0.3em;
                    font-size: 2.5em;
                }
            }
        }

        &--active {

            .card-set__body {
                border-color: $text-color;
            }
        }
    }

    &__body {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #E4E4E4;

        &:hover,
        &:focus {

            .card-set__info {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
            flex-shrink: 0;
            max-width: 80%;
            max-height: 80%;
        }
    }

    &__info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 200px;
        border: 1px solid #E4E4E4;
        background-color: $white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;

        @media (max-width: $screen-lg) {
            width: 180px;
            padding: 10px;
        }

        .card-set__img {
            margin-bottom: 10px;
            height: 120px;

            @media (max-width: $screen-lg) {
                height: 100px;
            }
        }
    }

    &__name {
        margin-bottom: 1em;
        color: $green-dark;
    }

    &__price {
        color: $blue;
        font-size: 20px;
        font-weight: 600;

        @media (max-width: $screen-lg) {
            font-size: 18px;
        }
    }

    &__total-price {
        font-size: $font-size-h4;
        font-weight: 600;

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        span {
            font-size: 28px;

            @media (max-width: 1439px) {
                font-size: 24px;
            }
        }
    }
}

.card-another {

    &__items {
        @include row();
        margin-bottom: -20px;

        @media (max-width: 1439px) {
            margin-left: -5px;
            margin-right: -5px;
            margin-bottom: -10px;
        }
    }

    &__item {
        flex: 0 0 110px;
        max-width: 110px;
        padding-left: 10px;
        padding-right: 10px;
        height: 90px;
        margin-bottom: 20px;

        @media (max-width: 1439px) {
            flex: 0 0 100px;
            max-width: 100px;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 10px;
        }

        @media (max-width: $screen-lg) {
            flex: 0 0 80px;
            max-width: 80px;
            height: 70px;
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 1px solid #E4E4E4;

        img {
            flex-shrink: 0;
            max-width: 80%;
            max-height: 80%;
        }
    }

}
