// В этом файле должны быть стили для БЭМ-блока filters, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filters {
    margin-bottom: 100px;

    @media (max-width: $screen-xl) {
        margin-bottom: 80px;
    }

    @media (max-width: $screen-md) {
        position: absolute;
        top: 0;
        left: -300px;
        z-index: 10;
        width: 300px;
        flex: 0 0 300px;
        max-width: 300px;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        padding: 0;
        margin-bottom: 0;
        background-color: $white;
        overflow: auto;
        transition: all 0.3s;
    }

    &__header {
        display: flex;
        min-height: 60px;
        padding: 10px 15px;
        justify-content: space-between;
        background-color: $gray-darker;

        @media (min-width: $screen-md) {
            display: none;
        }
    }

    &__close {

        span {

            &:before,
            &:after {
                background: $white;
            } 
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7em 15px;
        border-bottom: 1px solid #E3E3E3;

        @media (min-width: $screen-md) {/*
            display: none;*/
        }

        @media (min-width: $screen-lg) {

            & + .filters__group {
                padding-top: 0;
            }
        }
    }

    &__main-title {
        font-size: 18px;
        font-weight: 700;
    }

    &__reset {
        padding: 0;
        background-color: transparent;
        border: none;
        font-family: $font-family;
        font-size: 16px;
        font-weight: 600;
        color: $gray-darker;
        outline: none;
    }

    &__range-slider {
        margin-bottom: 20px;

        .irs-to,
        .irs-from,
        .irs-max,
        .irs-min,
        .irs-single {
            display: none;
        }

        .irs-line {
            height: 2px;
            background-color: #E3E3E3;
        }

        .irs-bar {
            height: 2px;
            background-color: $text-color;
        }

        .irs-handle {
            width: 20px;
            height: 20px;
            border: 3px solid $text-color;
            background-color: $text-color;
            border-radius: 50%;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            transition: border 0.3s, transform 0.3s;

            &.state_hover,
            &:hover,
            &:focus {
                transform: scale(1.2);
                background-color: $text-color;
                border-color: rgba($green-dark, 0.7);
            }
        }
    }

    &__extra-controls {
        position: relative;
        display: flex;
        justify-content: space-between;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
            width: 10px;
            height: 1px;
            background-color: #C4C4C4;
        }

        input {
            width: 160px;
            max-width: 50%;
            height: 40px;
            padding: 0 0.5em;
            text-align: center;
            border: 1px solid #E3E3E3;
            background-color: $white;
            border-radius: 1px;
            outline: none;
            font-size: 20px;
            font-family: $font-family;
            appearance: none;

            @media (max-width: 1439px) {
                width: 120px;
                font-size: 14px;
            }

            @media (max-width: $screen-lg) {
                width: 100px;
            }

            @media (max-width: $screen-md) {
                width: 120px;
            }
        }
    }

    &__group {
        padding-top: 0.7em;
        border-bottom: 1px solid #E3E3E3;

        @media (max-width: $screen-md) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &__title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.7em;
        font-size: 20px;
        font-weight: 600;
        color: currentColor;
        text-decoration: none;

        @media (max-width: 1439px) {
            font-size: 16px;
        }

        &:hover,
        &:focus {
            color: $text-color;
        }

        &--dropdown {

            &:after {
                content: '';
                display: block;
                flex-shrink: 0;
                width: 7px;
                height: 7px;
                margin-left: 1em;
                margin-right: 2px;
                border-left: 1px solid $text-color;
                border-bottom: 1px solid $text-color;
                pointer-events: none;
                transform: rotate(-45deg);
                transition: all 0.3s;
            }
        }

        &--open {
            transition: margin 0s;

            &:after {
                transform: rotate(135deg);
            }
        }
    }

    &__show-more {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-size: 20px;
        color: currentColor;
        font-weight: 500;
        text-decoration: none;

        @media (max-width: 1439px) {
            font-size: 16px;
        }

        &:before {
            content: '';
            width: 7px;
            height: 7px;
            margin-top: -7px;
            margin-right: 1.2em;
            border-left: 1px solid $text-color;
            border-bottom: 1px solid $text-color;
            pointer-events: none;
            transform: rotate(-45deg);
            transition: all 0.3s;
        }

        &:hover,
        &:focus {
            color: $blue;

            &:before {
                border-color: $blue;
            }
        }

        &--open {

            &:before{
                margin-top: 0;
                transform: rotate(135deg);
            }
        }
    }

    &__dropdown {
        display: none;
        padding-bottom: 0.7em;

        &--open {
            display: block;
        }
    }

    &__items {

        &:not(:last-child) {
            margin-bottom: $typo-margin-vertical;
        }

        &--hidden {

            .field-checkbox:nth-child(n + 7) {
                display: none;
            }
        }
    }

    &--show {

        @media (max-width: $screen-md) {
            left: 0;
        }
    }
}
