<div id="search" class="search header__search">
<input class="search__field" type="text" name="search" value="<?php echo $search; ?>" placeholder="Введите название необходимого изделия" /><button class="search__btn"><svg class="icon icon-search " width="20px" height="20px">
                    <use xlink:href="img/sprite.svg#search"></use>
                  </svg></button>
</div>