// В этом файле должны быть стили для БЭМ-блока feedback, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feedback {

    @media (max-width: $screen-md) {
        width: calc(100% + 30px);
        margin-left: -15px;
    }

    .field-text__input {
        border-color: #C4C4C4;
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 30px;
        background: #F4F5F5;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        border-radius: 4px;

        @media (max-width: $screen-xl) {
            border: 1px solid #F0F0F0;
            box-shadow: none;
        }

        @media (max-width: $screen-lg) {
            padding: 20px;
        }

        @media (max-width: $screen-md) {
            padding: 20px 15px;
            border-radius: 0;
        }

        & > * {
            max-width: 100%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .form__btn {
            align-self: center;
            margin-top: 20px;

            @media (max-width: $screen-sm) {
                align-self: flex-start;
            }
        }

        & > * {
            max-width: 100%;
        }
    }

    &__subtitle {
        margin-top: 0;
    }
}
