// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        text-decoration: none;
        text-align: center;
        color: $text-color;

        & + & {
            border-left: 0;
        }

        &:hover,
        &:focus {
            text-decoration: none;
            color: $text-color;
        }

        @at-root a#{&} {

            &:hover,
            &:focus {
                color: $blue;
            }
        }

        @at-root span#{&} {
            cursor: default;
        }

        &--active {

            @at-root a#{&} {
                background-color: $blue;
                color: $white;

                &:hover,
                &:focus {
                    background-color: $blue;
                    color: $white;
                    cursor: default;
                }
            }
        }

        &--arrow {
            background-color: #DEE0E7;

            .icon {
                fill: #B1B1B1;
            }

            &:hover,
            &:focus {

                .icon {
                    fill: $text-color;
                }
            }

            &:first-child {
                transform: scaleX(-1);
            }
        }
    }
}
