//- Все примеси в этом файле должны начинаться c имени блока (pagination)

mixin pagination(mods)

    //- Принимает:
    //-   mods  {string} - список модификаторов
    //- Вызов:
          +pagination()
            +pagination-item('1', '/1')
            +pagination-item('...')
            +pagination-item('4', '/4')
            +pagination-item('5', '/5', true)
            +pagination-item('6', '/6')
            +pagination-item('...')
            +pagination-item('999', '/999')
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' pagination--' + modsList[i].trim();
            }
        }

    .pagination(class=allMods, aria-label='Page navigation')&attributes(attributes)
        block



mixin pagination-item(text, href, active, mods)

    //- Принимает:
    //-   text   {string} - содержимое пункта
    //-   href   {string} - ссылка этого пункта (если пустая, то это не ссылка, а span)
    //-   active {bool}   - флаг «это активный пункт»
    //-   mods   {string} - список модификаторов
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' pagination__item--' + modsList[i].trim();
            }
        }
        if(typeof(active) !== 'undefined' && active) {
            allMods = allMods + ' pagination__item--active';
        }

    if(typeof(href) !== 'undefined' && href)
        a.pagination__item(class=allMods, href=href)&attributes(attributes)!= text
            block
    else
        span.pagination__item(class=allMods)&attributes(attributes)!= text
            block
