// В этом файле должны быть стили для БЭМ-блока card-descr, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card-descr {
    
    &__cols {
        @include row();
    }

    &__left {
        @include make-col(6);
        @include col(xl, 12, 12, 20px);
    }

    &__right {
        @include make-col(6);
        @include col(xl, 12, 12, 20px);
    }

    &__info {
        font-size: 20px;

        @media (max-width: 1439px) {
            font-size: 16px;
        }

        @media (max-width: $screen-lg) {
            font-size: 14px;
        }
    }

    &__list {

        &--col-2 {
            column-count: 2;

            @media (max-width: $screen-sm) {
                column-count: 1;
            }
        }
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 0.3em;
        }
    }

    &__title {
        margin-right: 0.3em;
        color:#8B8B8B;
    }

    &__text {
        font-weight: 600;
    }

    &__advantages {
        margin-top: 2em;
    }
}
