// В этом файле должны быть стили для БЭМ-блока search, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search {
    $block-name: &; // #{$block-name}__element
    position: relative;
    max-width: 100%;

    &__field {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        min-height: 40px; // Привет, IE
        margin: 0;
        border: none;
        border-bottom: 1px solid $green-dark;
        border-radius: 0;
        padding: 0 30px 0 0;
        line-height: $line-height;
        font-size: 1em;
        font-family: inherit;
        background-color: #fff;
        -moz-appearance: textfield; // stylelint-disable-line
        appearance: textfield;
        outline: none;

        &::placeholder {
            color: #ADADAD;
            text-overflow: ellipsis;
            white-space: nowrap; 
            overflow: hidden; 
        }

        &:placeholder-shown {
            text-overflow: ellipsis;
            white-space: nowrap; 
            overflow: hidden; 
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: 0;
        font-size: 0;
        border: none;
        background: none;
        cursor: pointer;

        &:hover,
        &:focus {

            .icon {
                fill: $green-dark;
            }
        }
    }
}
