// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {
    $block-name:                &; // #{$block-name}__element
    margin-right: auto;

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 40px;

            @media (max-width: $screen-lg) {
                margin-right: 20px;
            }
        }

        &--active {

            & > #{$block-name}__link { // stylelint-disable-line  selector-combinator-blacklist
                color: $white;
            }
        }

        &--selected {

            & > #{$block-name}__link { // stylelint-disable-line  selector-combinator-blacklist
                padding: 9px 15px;
                color: $white;
                background-color: rgba($blue, 0.15);
                border: 1px solid rgba($blue, 0.4);

                @media (max-width: $screen-xl) {
                    padding-top: 6px;
                    padding-bottom: 6px;
                }

                &:hover,
                &:focus {
                    background-color: rgba($blue, 0.4);
                }
            }
        }
    }

    &__link {
        display: inline-block;
        font-size: 18px;
        color: rgba($white, 0.7);
        font-weight: 600;
        text-decoration: none;

        @media (max-width: 1439px) {
            font-size: 16px;
        }

        &:hover,
        &:focus {
            color: $white;
        }
    }
}
