// В этом файле должны быть стили для БЭМ-блока products, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.products {
    position: relative;
    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        @media (max-width: 1439px) {
            margin-bottom: 30px;
        }

        & > * {
            margin-bottom: 0;
        }
    }

    &__tabs {
        margin: 0 20px;

        @media (max-width: $screen-md) {
            margin-right: 0;
            margin-left: auto;
        }
    }
    
    &__row {
        @include row();
        margin-bottom: -20px;

        @media (max-width: $screen-lg) {
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: -30px;
        }

        @media (max-width: $screen-md) {
            margin-right: -3px;
            margin-left: -3px;
            margin-bottom: -6px;
        }

        &:not(:last-child) {
            margin-bottom: 20px;

            @media (max-width: $screen-lg) {
                margin-bottom: 20px;
            }
    
            @media (max-width: $screen-md) {
                margin-bottom: 20px;
            }
        }

        &.slick-slider {
            margin-bottom: 0;

            .slick-list {
                padding: 20px 0;
                margin-top: -20px;
            }

            .slick-track {
                display: flex;
                min-width: 100%;
            }

            .slick-slide {
                height: auto;

                & > div {
                    height: 100%;
                }
            }
        }

        &--4 {

            .item-product {
                @include make-col(3);
                @include col(xl, 4, 12, 20px);
                @include col(lg, 6, 12, 30px);
                @include col(md, 4, 12, 6px);
                @include col(sm, 6, 12, 6px);
            }
        }

        &--3 {

            .item-product {
                @include make-col(4);
                @include col(lg, 4, 12, 30px);
                @include col(md, 4, 12, 6px);
                @include col(sm, 6, 12, 6px);
            }
        }
    }

    &__link-more {

        @media (max-width: $screen-md) {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__footer {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        & > * {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__pagination-text {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        max-width: calc((100% - 320px) / 2);
        text-align: right;
        line-height: 1.2;

        @media (max-width: $screen-xl) {
            font-size: 14px;
        }

        @media (max-width: $screen-lg) {
            position: static;
            top: 0;
            left: 0;
            transform: none;
            width: 100%;
            max-width: 100%;
            margin-top: 1em;
            text-align: center;
        }

        @media (max-width: $screen-md) {
            display: none;
        }
    }

    &__sort {
        margin-left: auto;

        .field-select {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            &__name {

                @media (max-width: $screen-md) {
                    display: none;
                }
            }
        }
    }

    &__options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        & > * {
            margin-bottom: 0;
        }

        .field-select {
            margin-bottom: 0;
        }
    }

    &__filters-link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: currentColor;

        .icon {
            margin-right: 0.5em;
        }

        @media (min-width: $screen-md) {
            display: none;
        }
    }

    &__btn-more {
       align-self: center;
       margin-bottom: 30px;

        @media (min-width: $screen-md) {
            display: none;
        }
    }

    &--link-more {

        @media (max-width: $screen-md) {
            padding-bottom: 40px;
        }
    }
}

.item-product {
    @include make-col(2.4);
    @include col(lg, 4, 12, 30px);
    @include col(md, 4, 12, 6px);
    @include col(sm, 6, 12, 6px);
    position: relative;
    margin-bottom: 20px;

    @media (max-width: 1365px) {
        flex: 0 0 25%;
        max-width: 25%;
    }

    @media (max-width: $screen-lg) {
        margin-bottom: 30px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 6px;
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        border: 2px solid rgba(109, 139, 135, 0.2);
        border-radius: 1px;
        text-decoration: none;
        color: $text-color;

        @media (max-width: $screen-sm) {
            border-width: 1px;
        }

        & > * {
            max-width: 100%;
        }

        &:hover,
        &:focus {
            color: $text-color;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 220px;

        @media (max-width: 1439px) {
            height: 190px;
        }

        @media (max-width: $screen-xl) {
            height: 150px;
        }

        img {
            max-width: 70%;
            max-height: 70%;
        }
    }

    &__info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px 20px;

        @media (max-width: $screen-md) {
            padding: 0 15px 15px;
        }

        & > * {
            max-width: 100%;
        }
    }

    &__name {
        margin-bottom: 1em;

        @media (max-width: 1439px) {
            font-size: 14px;
        }

        @media (max-width: $screen-md) {
            font-size: 12px;
        }
    }

    &__prices {
        margin-top: auto;
    }

    &__old-price {
        font-size: 18px;
        font-weight: 500;
        color: $blue;
        text-decoration: line-through;

        @media (max-width: 1439px) {
            font-size: 16px;
        }
    }

    &__price {
        font-weight: 600;

        span {
            font-size: 32px;

            @media (max-width: 1439px) {
                font-size: 24px;
            }
        }
    }

    &__label {
        position: absolute;
        top: 20px;
        left: -2px;

        @media (max-width: $screen-md) {
            top: 15px;
            left: -1px;
        }
    }

    &__favorite,
    &__cart,
    &__remove {
        position: absolute;
        top: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: $white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        @media (max-width: $screen-xl) {
            top: 24px;
            width: 30px;
            height: 30px;
        }

        @media (max-width: $screen-md) {
            top: 18px;
            width: 25px;
            height: 25px;
        }

        .icon {
            fill: $text-color;

            @media (max-width: $screen-xl) {
                width: 13px;
                height: 10px;
            }
        }

        &:hover,
        &:focus {

            .icon {
                fill: $blue;
            }
        }
    }

    &__remove,
    &__favorite {
        right: 30px;

        @media (max-width: $screen-md) {
            right: 18px;
        }
    }

    &__cart {
        left: 30px;

        @media (max-width: $screen-md) {
            left: 18px;
        }
    }

    &--border-wide {

        .item-product__body {
            border-width: 5px;

            @media (max-width: $screen-md) {
                border-width: 3px;
            }
        }

        .item-product__label {
            left: -5px;

            @media (max-width: $screen-md) {
                left: -3px;
            }
        }
    }
}
