//- Все примеси в этом файле должны начинаться c имени блока (products)

mixin products(mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +products('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' products--' + modsList[i].trim();
            }
        }
        
    section.products(class=allMods)&attributes(attributes)
        .container.products__container
            block


mixin item-product(data, mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +item-product('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' item-product--' + modsList[i].trim();
            }
        }
        
    .item-product(class=allMods)&attributes(attributes)
        a(href=jv).item-product__body
            .item-product__img
                img(src=data.img, alt=data.name)
            .item-product__info
                if (data.labeltext !== undefined && data.labeltext)
                    +label(data.labeltext, data.labelmod).item-product__label
                .item-product__name!= data.name
                .item-product__prices
                    if (data.oldprice !== undefined && data.oldprice)
                        .item-product__old-price!= data.oldprice
                    .item-product__price
                        span!= data.price 
                        |руб
        if (data.favorite !== undefined && data.favorite)
            a(href=jv).item-product__cart
                +icon('cart-1', '16px', '16px')
            a(href=jv).item-product__remove
                +icon('trash', '19px', '19px')
