<!-- <section class="sets">
        <div class="container sets__container">
          <h2 class="page-title page-title--line sets__title">комплекты</h2>
          <div class="sets__row">
            <?php foreach ($banners as $banner) { ?>
			<div class="item-set sets__item">
              <div class="item-set__body">
                <div class="item-set__img"><img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" /></div><a class="btn  btn--transparent item-set__btn" href="<?php echo $banner['link']; ?>">Выбрать комплект</a>
              </div>
            </div>
            <?php } ?>
          </div>
        </div>
</section> -->
