<fieldset class="form__fieldset simplecheckout-block" id="simplecheckout_customer" <?php echo $hide ? 'data-hide="true"' : '' ?> <?php echo $display_error && $has_error ? 'data-error="true"' : '' ?>>
                    
					<legend class="form__legend">Получатель</legend>
					
					  <?php foreach ($rows as $row) { ?>
      <?php echo $row ?>
    <?php } ?>
		
					
       
					
</fieldset>
       