//- Все примеси в этом файле должны начинаться c имени блока (subscribe)

mixin subscribe(mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +subscribe('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' subscribe--' + modsList[i].trim();
            }
        }
        
    .subscribe(class=allMods)&attributes(attributes)
        .container.subscribe__container
            .subscribe__wrapper
                .subscribe__title Подпишись на&nbsp;рассылку и&nbsp;плати меньше!
                +form(data-check-form='true').subscribe__form
                    +field-text({
                        isTextarea: false,
                        mods: '',
                        attrs: {
                            type: 'email',
                            name: 'email',
                            placeholder: 'Введите ваш E-mail',
                            'data-check-pattern': '[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?',
                        }
                    })
                    +btn('Подписаться', 'white').subscribe__btn
