// В этом файле должны быть стили для БЭМ-блока subscribe, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.subscribe {
    padding: 30px 0;
    background-color: $text-color;
    color: $white;
    margin-bottom: 100px;

    @media (max-width: 1439px) {
        margin-bottom: 80px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 60px;
    }

    .field-text__input {
        background-color: $white;
    }

    &__wrapper {
        display: flex;
        align-items: center;

        @media (max-width: $screen-md) {
            flex-wrap: wrap;
        }
    }

    &__title {
        flex-shrink: 1;
        font-size: 20px;
        font-weight: 700;

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        @media (max-width: $screen-xl) {
            font-size: 16px;
        }

        @media (max-width: $screen-md) {
            width: 100%;
            text-align: center;
        }

        &:not(:last-child) {
            margin-right: 80px;

            @media (max-width: $screen-xl) {
                margin-right: 30px;
            }

            @media (max-width: $screen-lg) {
                margin-right: 25px;
            }

            @media (max-width: $screen-md) {
                margin-right: 0;
                margin-bottom: 0.5em;
            }
        }
    }

    &__form {
        flex-shrink: 0;
        display: flex;

        @media (max-width: $screen-md) {
            width: 100%;
        }

        .field-text {
            width: 480px;
            min-width: 290px;
            max-width: 100%;
            margin: 0 45px 0 0;

            @media (max-width: $screen-xl) {
                margin-right: 30px;
            }

            @media (max-width: $screen-lg) {
                width: 290px;
                margin-right: 25px;
            }

            @media (max-width: $screen-md) {
                flex-grow: 1;
                margin-right: 0;
                min-width: 0;
            }

            &--error {

                .field-text__input {
                    color: $color-danger;
                }
        
                .field-text__input {
                    border-color: $color-danger;
                    color: $color-danger;
                    background-color: lighten($color-danger, 35%);
                }
            }

            &__input {
                padding: 0 30px;
                border: none;

                @media (max-width: $screen-xl) {
                    padding: 0 15px;
                }
            }
        }
    }

    &__btn {
        flex-shrink: 0;
        padding: 0.7em 2.7em;
        border-radius: 0;

        @media (max-width: $screen-xl) {
            padding: 0.7em 2.5em;
        }

        @media (max-width: $screen-lg) {
            padding: 0.7em 1em;
        }

        @media (max-width: $screen-md) {
            background-color: $blue;
            border-color: $blue;
            color: $white;
        }
    }
}
