// В этом файле должны быть стили для БЭМ-блока advantages, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.advantages {
    
    &__row {
        @include row();
        margin-bottom: -20px;

        @media (max-width: $screen-lg) {
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: -30px;
        }

        @media (max-width: $screen-md) {
            margin-right: -3px;
            margin-left: -3px;
            margin-bottom: -6px;
        }

        @media (max-width: $screen-sm) {
            margin-bottom: -20px;
        }
    }
}

.item-advantage {
    @include make-col(3);
    @include col(lg, 6, 12, 30px);
    @include col(md, 6, 12, 6px);
    @include col(sm, 12, 12, 6px);
    margin-bottom: 20px;

    @media (max-width: $screen-lg) {
        margin-bottom: 30px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 6px;
    }

    @media (max-width: $screen-sm) {
        margin-bottom: 20px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 30px;
        border: 1px solid $green-dark;
        text-align: center;

        @media (max-width: $screen-xl) {
            padding: 20px;
        }

        & > * {
            max-width: 100%;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 65px;
        margin-bottom: 20px;

        @media (max-width: 1439px) {
            width: 65px;
            height: 30px;
            margin-bottom: 10px;
        }

        .icon {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__text {

        @media (max-width: $screen-xl) {
            font-size: 14px;
        }
    }
}
