//- Все примеси в этом файле должны начинаться c имени блока (advantages)

mixin advantages(mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +advantages('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' advantages--' + modsList[i].trim();
            }
        }
        
    section.advantages(class=allMods)&attributes(attributes)
        .container.advantages__container
            block