// В этом файле должны быть стили для БЭМ-блока slider-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider-nav {
    $block-name: &; // #{$block-name}__element

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__prev,
    &__next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 1px solid $green-dark;

        .icon {
            max-width: 60%;
            max-height: 60%;
            fill: $green-dark;
        }

        &:hover,
        &:focus {
            background-color: $green-dark;

            .icon {
                fill: $white;
            }
        }
    }

    &__prev {
        transform: scaleX(-1);
    }
}
