// В этом файле должны быть стили для БЭМ-блока sidebar, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sidebar {
    @include make-col(4);
    @include col(lg, 12, 12, 30px);
    margin-bottom: 100px;

    @media (max-width: $screen-xl) {
        margin-bottom: 80px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 60px;
    }

    & > *:last-child {
        margin-bottom: 0;
    }

    .item-blog {
        @include make-col(12);
        @include col(lg, 4, 12, 30px);

        @media (max-width: $screen-md) {
            margin-bottom: 20px;
        }

        &__body {
            flex-direction: row;
            align-items: center;
            border: none;

            @media (max-width: $screen-lg) {
                flex-direction: column;
                align-items: flex-start;
            }

            &:hover,
            &:focus {

                box-shadow: none;

                .item-blog__img img {
                    transform: none;
                }

                .item-blog__title {
                    color: $blue;
                }
            }
        }

        &__img {
            width: 195px;
            height: 110px;
            margin-right: 1em;
            border-radius: 4px;
            border: 1px solid #F0F0F0;

            @media (max-width: 1439px) {
                width: 120px;
            }

            @media (max-width: $screen-lg) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 1em;
            }

            @media (max-width: $screen-md) {
                height: 140px;
            }

            img {
                transform: none;
            }
        }

        &__info {
            padding: 0;
        }

        &__date {
            margin-bottom: 0.5em;
        }

        &__title {
            font-size: 18px;
            transition: all 0.3s;

            @media (max-width: 1439px) {
                font-size: 14px;
            }
        }
    }

    &__title {
        margin-bottom: 1em;
        font-size: 20px;
        font-weight: 600;
    }

    &__group {

        &:not(:last-child) {
            margin-bottom: 50px;

            @media (max-width: 1439px) {
                margin-bottom: 40px;
            }

            @media (max-width: $screen-lg) {
                margin-bottom: 30px;
            }
        }

        &--mobile-hidden {

            @media (max-width: $screen-lg) {
                display: none;
            }
        }
    }

    &--narrow {
        @include make-col(3);
    }
}
