// В этом файле должны быть стили для БЭМ-блока field-checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-checkbox {

    $block-name:                &; // #{$block-name}__element

    display: block;

    & + & {
        margin-top: $typo-margin-vertical;
    }

    &__title {
        @include field-name;
    }

    &__name {
        display: inline-block;
        position: relative;
        padding-left: 1.6em;
        margin-right: 0.6em;
        font-weight: 500;
        font-size: 20px;
        line-height: $line-height;
        color: $gray-darker;

        @media (max-width: 1439px) {
            font-size: 16px;
        }
    }

    &__name-text {
        display: inline-block;
        cursor: pointer;

        // свой чекбокс без картинок

        @at-root input:disabled ~ & {
            cursor: not-allowed;
        }

        &:before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #949494;
            border-radius: 2px;
            transition: all 0.3s;
        }

        @at-root input:disabled ~ &:before {
            border-color: $gray-light;
            background: $gray-lighter;
        }

        &:after {
            content: '';
            position: absolute;
            top: 9px;
            left: 5px;
            width: 10px;
            height: 6px;
            opacity: 0;
            border-left: 2px solid currentColor;
            border-bottom: 2px solid currentColor;
            transform: rotate(-45deg);
            transition: opacity $transition-time;
            box-shadow: 1px 2px 0 #fff, inset 0 -2px 0 #fff;

            @at-root input:checked ~ & {
                opacity: 1;
            }

            @at-root input:checked:disabled ~ & {
                border-color: $gray-light;
            }
        }

        &:hover {

            &:before {
                border-color: $text-color;
            }
        }

        // / свой чекбокс без картинок
    }

    &__input {
        position: absolute;
        top: 0.7em;
        left: 0;
        margin: 0;
        padding: 0;
        transform: translateY(-50%);

        &:focus,
        &:active {
            @include field-focus;
        }

        // сокрытие инпута в случае использования своего чекбокса
        opacity: 0;
    }

    &__help-text-wrap {
        padding-left: 1.5em;
    }

    &__help-text {
        @include field-help-text;
    }

    &--error {

        #{$block-name}__name-text,
        #{$block-name}__help-text {
            color: $color-danger;
        }
    }

    &--bold {

        #{$block-name}__name-text {
            font-weight: 600;
        }
    }
}
