// В этом файле должны быть стили для БЭМ-блока blog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.blog {
    
    &__row {
        @include row();
        margin-bottom: -20px;

        @media (max-width: $screen-lg) {
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: -30px;
        }

        @media (max-width: $screen-md) {
            margin-right: -3px;
            margin-left: -3px;
            margin-bottom: -6px;
        }

        @media (max-width: $screen-sm) {
            margin-bottom: -20px;
        }

        &:not(:last-child) {
            margin-bottom: 20px;

            @media (max-width: $screen-lg) {
                margin-bottom: 20px;
            }
    
            @media (max-width: $screen-md) {
                margin-bottom: 20px;
            }
        }
    }

    &--preview {

        .item-blog {

            &:nth-child(n + 3) {

                @media (max-width: $screen-lg) {
                    display: none;
                }
        
                @media (max-width: $screen-sm) {
                    display: flex;
                }
            }
        }
    }
}

.item-blog {
    @include make-col(4);
    @include col(lg, 6, 12, 30px);
    @include col(md, 6, 12, 6px);
    @include col(sm, 12, 12, 6px);
    margin-bottom: 20px;

    @media (max-width: $screen-lg) {
        margin-bottom: 30px;
    }

    @media (max-width: $screen-md) {
        margin-bottom: 6px;
    }

    @media (max-width: $screen-sm) {
        margin-bottom: 20px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        border: 1px solid #F0F0F0;
        border-radius: 4px;
        overflow: hidden;
        color: $text-color;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $text-color;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);

            .item-blog__img img{
                transform: scale(1.1);
            }
        }

        & > * {
            max-width: 100%;
        }
    }

    &__img {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 210px;
        overflow: hidden;

        @media (max-width: 1439px) {
            height: 180px;
        }

        @media (max-width: $screen-md) {
            height: 145px;
        }

        img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            transition: all 0.5s;
        }
    }

    &__info {
        padding: 20px;

        @media (max-width: $screen-xl) {
            padding: 15px;
        }

        @media (max-width: $screen-md) {
            padding: 10px;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.3;

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }
    }

    &__date {
        margin-bottom: 1em;
        font-size: 14px;
        font-weight: 500;
        color: #7C7C7C;

        @media (max-width: $screen-md) {
            font-size: 12px;
        }
    }

    &--xl-img {

        .item-blog__img {
            height: 300px;

            @media (max-width: 1439px) {
                height: 210px;
            }

            @media (max-width: $screen-lg) {
                height: 180px;
            }
        }
    }
}
