//- Все примеси в этом файле должны начинаться c имени блока (blog)

mixin blog(mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +blog('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' blog--' + modsList[i].trim();
            }
        }
        
    section.blog(class=allMods)&attributes(attributes)
        .container.blog__container
            block

mixin item-blog(data, mods)

    //- Принимает:
        //-   mods    {string} - список модификаторов
        //- Вызов:
            +blog('some-mod')
            
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' item-blog--' + modsList[i].trim();
            }
        }
        
    .item-blog(class=allMods)&attributes(attributes)
        a(href=jv).item-blog__body
            .item-blog__img
                img(src=data.img, alt=data.name)
            .item-blog__info
                .item-blog__date!= data.date
                h4.item-blog__title!= data.title
                if (data.text !== undefined && data.text)
                    .item-blog__text!= data.text