// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer {
    background: #252424 url(../img/bg-footer.svg) 0 0 repeat;
    color: $white;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 0 20px;

        @media (max-width: $screen-sm) {
            padding-top: 0;
        }
    }

    &__bottom {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 20px;
        margin-top: 50px;

        @media (max-width: $screen-xl) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 40%;
            margin-top: 110px;
        }

        @media (max-width: $screen-lg) {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding-top: 20px;
            margin-top: 50px;
        }

        @media (max-width: $screen-sm) {
            padding-top: 0;
            margin-top: 20px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 1px;
            background-color: rgba($green-dark, 0.3);

            @media (max-width: $screen-xl) {
                display: none;
            }

            @media (max-width: $screen-lg) {
                display: block;
            }

            @media (max-width: $screen-sm) {
                display: none;
            }
        }
    }

    &__privacy-policy {
        color: currentColor;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $blue;
        }
    }

    &__copyright {

        @media (max-width: $screen-xl) {
            margin-bottom: 0.5em;
            flex-grow: 0;
        }

        @media (max-width: $screen-lg) {
            width: 50%;
            margin-bottom: 0;
        }

        @media (max-width: $screen-sm) {
            width: 100%;
            margin-bottom: 1em;
        }

        br {

            @media (min-width: $screen-lg) {
                display: none;
            }
        }
    }

    &__social {
        margin-bottom: 1em;
    }

    &__social-text {
        margin-bottom: 1em;
    }

    &__write {
        margin-top: auto;
        font-size: 18px;
        color: currentColor;
        text-decoration: none;

        @media (max-width: 1439px) {
            font-size: 14px;
        }
    }

    &__info {
        flex-shrink: 0;

        @media (max-width: $screen-xl) {
            display: flex;
            align-items: flex-start;
            width: 60%;
            margin-top: 80px;
        }

        @media (max-width: $screen-lg) {
            width: 50%;
            margin-top: 0;
        }

        @media (max-width: $screen-sm) {
            flex-direction: column;
            width: 100%;
            margin-top: 20px;
        }

        & > * {
            max-width: 100%;
        }
    }

    &__info-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: $screen-xl) {
            width: 50%;
            margin-left: auto;
        }

        @media (max-width: $screen-lg) {
            width: 100%;
            margin-left: auto;
        }

        & > * {
            max-width: 100%;
        }
    }

    &__logo {
        margin-top: -30px;

        @media (min-width: $screen-xl) {
            display: none;
        }

        @media (max-width: $screen-lg) {
            display: none;
        }

        @media (max-width: $screen-sm) {
            display: flex;
            order: 1;
            margin-top: 20px;
        }

        img {

            @media (max-width: $screen-sm) {
                width: 130px;
                height: 69px;
            }
        }
    }

    &__nav-title {

        @media (max-width: $screen-sm) {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-bottom: 0;
            padding: 0.7em 15px;
            font-size: 18px;
            border-bottom: 1px solid #B4B4B4;
        }

        &:after {

            @media (max-width: $screen-sm) {
                display: none;
            }
        } 
    }

    &__info-title {

        &:after {

            @media (max-width: $screen-sm) {
                display: block;
            }
        } 
    }

    &__develop {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: auto;
        text-decoration: none;
        color: $white;

        @media (max-width: $screen-xl) {
            margin-left: 0;
        }

        span {
            margin-right: 1em;
        }

        &:hover,
        &:focus {
            color: $blue;
        }
    }

    &__develop-logo {

        svg {

            @media (max-width: $screen-xl) {
                width: 50px;
                height: 30px;
            }

            path {
                fill: $blue;
            }
        }
    }

    &__bottom-group {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 80px;

        @media (max-width: $screen-xl) {
            margin-left: 0;
            flex-grow: 0;
        }

        @media (max-width: $screen-lg) {
            width: 50%;
            margin-bottom: 0;
            flex-direction: column;
            align-items: flex-start;
        }

        @media (max-width: $screen-sm) {
            width: 100%;
            margin-bottom: 1em;
        }
    }
}

.footer-title {
    position: relative;
    margin-bottom: 1.5em;
    font-size: $font-size-h3;
    font-weight: 700;

    @media (max-width: 1439px) {
        margin-bottom: 1em;
        font-size: 20px;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.2em;
        width: 50px;
        height: 1px;
        background-color: $blue;

        @media (max-width: $screen-xl) {
            display: none;
        }
    }
}