//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin footer(mods)

    //- Принимает:
    //-   mods  {string} - список модификаторов
    //- Вызов:
          +footer()
            p «Подвал»
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + 'footer--' + modsList[i].trim();
            }
        }

    footer.footer(class=allMods, role='contentinfo')&attributes(attributes)
        .container.footer__container
            .footer__wrapper
                nav.footer-nav.footer-nav--wide.footer__group
                    .footer-title.footer__nav-title Меню
                    ul.footer-nav__list.footer-nav__list--col-3
                        li.footer-nav__item
                            a(href=jv).footer-nav__link О нас
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Блог
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Выставки
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Реквизиты
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Наши контакты
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Доставка и оплата
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Публичная оферта
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Карта сайта
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Вакансии
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Акции
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Партнерская программа
                nav.footer-nav.footer-nav--narrow.footer__group
                    .footer-title.footer__nav-title Каталог
                    ul.footer-nav__list.footer-nav__list--col-2
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Кольца
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Серьги
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Браслеты
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Часы
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Броши
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Колье
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Подвески
                        li.footer-nav__item
                            a(href=jv).footer-nav__link Комплекты
                .footer__info
                    +logo(href=jv).footer__logo
                        img(src='img/logo-white.svg' width='161px' height='86px' alt='Марказит')
                    .footer__info-group
                        .footer-title.footer__info-title Всегда с вами
                        .footer__social
                            .footer__social-text Добро пожаловать в наши
                                br
                                |группы в соцсетях:
                            +social().footer__social-list
                                +social-link('https://www.instagram.com')(title='instagram')
                                    +icon('instagram', '31px', '32px')
                                +social-link('https://www.facebook.com')(title='facebook')
                                    +icon('facebook', '34px', '35px')
                                +social-link('https://www.twitter.com')(title='twitter')
                                    +icon('twitter', '35px', '30px')
                                +social-link('https://www.youtube.com')(title='youtube')
                                    +icon('youtube', '36px', '27px')
                        a(href=jv).footer__write Написать руководству
                        
                .footer__bottom
                    .footer__copyright 2010-2020 Markazit. 
                        br
                        |Все права защищены.
                    .footer__bottom-group
                        a(href=jv).footer__privacy-policy Политика конфиденциальности
                        a(href='http://x-on.ru' target='_blanck').footer__develop 
                            span Проектирование и дизайн сайта:
                            .footer__develop-logo
                                svg(width='63' height='40' viewbox='0 0 63 40' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M45.2229 34.1316C41.969 37.3875 37.6921 39.41 33.1203 39.8547C28.5485 40.2994 23.9646 39.1387 20.1492 36.5703C16.3337 34.002 13.5226 30.1847 12.1945 25.7685C10.8664 21.3524 11.1035 16.6104 12.8653 12.35C14.6271 8.08967 17.8048 4.57439 21.8572 2.40276C25.9096 0.231125 30.5862 -0.462578 35.0906 0.43977C39.595 1.34212 43.6488 3.78473 46.5616 7.35166C49.4744 10.9186 51.0661 15.3893 51.0658 20.0025C51.0656 22.6279 50.5494 25.2275 49.5467 27.6521C48.544 30.0766 47.0747 32.2786 45.2229 34.1316ZM31.1503 39.0329C35.542 39.0438 39.8015 37.5246 43.2027 34.7342C46.604 31.9438 48.9364 28.055 49.8025 23.7307C50.6685 19.4065 50.0145 14.9143 47.9519 11.0201C45.8894 7.12596 42.5459 4.07076 38.4916 2.37535C34.4373 0.679947 29.923 0.449283 25.7182 1.72268C21.5135 2.99608 17.8786 5.69472 15.4332 9.35857C12.9879 13.0224 11.8833 17.4247 12.3079 21.8149C12.7325 26.2052 14.66 30.3116 17.7617 33.4343C19.5162 35.2072 21.6022 36.6145 23.8998 37.5753C26.1974 38.5361 28.6614 39.0315 31.1503 39.0329Z' fill='white')
                                    path(d='M31.1501 4.07179H31.0488L23.6552 2.41763C23.5624 2.36339 23.4892 2.28095 23.446 2.18219C23.4029 2.08344 23.3921 1.97347 23.4152 1.86815C23.4383 1.76284 23.4941 1.66762 23.5746 1.59623C23.6551 1.52484 23.7561 1.48097 23.863 1.47095L31.1501 3.08438L38.4424 1.47095C38.5489 1.48186 38.6492 1.52638 38.729 1.59813C38.8088 1.66987 38.8639 1.76514 38.8864 1.87028C38.9089 1.97542 38.8977 2.08502 38.8543 2.18335C38.811 2.28168 38.7377 2.3637 38.6451 2.41763L31.2566 4.07179H31.1501Z' fill='white')
                                    path(d='M38.5437 38.5494H38.4424L31.1501 36.9258L23.863 38.5393C23.7561 38.5292 23.6551 38.4854 23.5746 38.414C23.4941 38.3426 23.4383 38.2474 23.4152 38.1421C23.3921 38.0367 23.4029 37.9268 23.446 37.828C23.4892 37.7293 23.5624 37.6468 23.6552 37.5926L31.0488 35.9588C31.1172 35.9434 31.1882 35.9434 31.2566 35.9588L38.6451 37.5926C38.7406 37.6375 38.8197 37.7113 38.8715 37.8035C38.9233 37.8958 38.9451 38.002 38.9339 38.1073C38.9228 38.2126 38.8792 38.3118 38.8093 38.3911C38.7393 38.4703 38.6465 38.5257 38.5437 38.5494Z' fill='white')
                                    path(d='M49.1554 27.9119C49.0397 27.9219 48.9244 27.8892 48.8311 27.8198C48.7378 27.7505 48.6729 27.6493 48.6486 27.5353L47.0371 20.1094C47.0228 20.0406 47.0228 19.9695 47.0371 19.9007L48.6486 12.4748C48.6582 12.409 48.6811 12.3459 48.716 12.2895C48.751 12.233 48.7971 12.1843 48.8516 12.1466C48.9061 12.1088 48.9677 12.0828 49.0327 12.07C49.0977 12.0573 49.1645 12.0581 49.2292 12.0725C49.2938 12.0869 49.3548 12.1145 49.4083 12.1536C49.4618 12.1927 49.5067 12.2425 49.5402 12.2999C49.5737 12.3572 49.5951 12.4209 49.603 12.4869C49.6109 12.5529 49.6051 12.6198 49.5861 12.6835L48 20.0025L49.6013 27.3266C49.6155 27.3884 49.6172 27.4525 49.6065 27.5151C49.5958 27.5776 49.5728 27.6374 49.5388 27.6909C49.5049 27.7444 49.4606 27.7906 49.4087 27.8268C49.3568 27.863 49.2983 27.8885 49.2365 27.9017H49.13' fill='white')
                                    path(d='M13.1759 27.912H13.0745C12.9527 27.8795 12.8473 27.8026 12.7789 27.6962C12.7104 27.5899 12.684 27.4618 12.7046 27.3369L14.3009 20.0026L12.6995 12.6836C12.7095 12.5762 12.7532 12.4748 12.8242 12.394C12.8953 12.3131 12.9901 12.2571 13.095 12.2339C13.1998 12.2106 13.3093 12.2215 13.4077 12.2648C13.506 12.3081 13.5881 12.3817 13.6421 12.4749L15.2637 19.9008C15.278 19.9696 15.278 20.0407 15.2637 20.1095L13.6421 27.5354C13.614 27.6405 13.553 27.7338 13.4682 27.8016C13.3834 27.8694 13.2791 27.9081 13.1708 27.912' fill='white')
                                    path(d='M49.0944 12.9685C49.0012 12.9678 48.91 12.9414 48.8309 12.8921L42.4559 8.82036C42.3972 8.78188 42.3472 8.73162 42.3089 8.67275L38.2548 2.2699C38.2201 2.21692 38.1962 2.15752 38.1845 2.09516C38.1728 2.03281 38.1736 1.96874 38.1868 1.90669C38.2 1.84464 38.2254 1.78585 38.2614 1.73374C38.2974 1.68163 38.3434 1.63724 38.3967 1.60315C38.5064 1.53925 38.6359 1.51896 38.7598 1.54628C38.8836 1.57361 38.9927 1.64656 39.0656 1.75075L43.0741 8.03654L49.3629 12.0778C49.4586 12.1515 49.5249 12.2571 49.55 12.3756C49.5751 12.4941 49.5573 12.6177 49.4998 12.7242C49.4567 12.793 49.3969 12.8497 49.326 12.8889C49.255 12.9281 49.1753 12.9485 49.0944 12.9481' fill='white')
                                    path(d='M23.6657 38.5087C23.5853 38.5064 23.5066 38.4848 23.4361 38.4459C23.3656 38.4069 23.3053 38.3517 23.2603 38.2847L19.2569 31.9684L12.9732 27.9323C12.9189 27.8991 12.8719 27.8552 12.835 27.8034C12.7981 27.7515 12.7719 27.6926 12.7582 27.6303C12.7445 27.5681 12.7434 27.5037 12.7551 27.441C12.7668 27.3783 12.791 27.3186 12.8262 27.2655C12.8989 27.1626 13.0071 27.0906 13.1298 27.0633C13.2525 27.036 13.3809 27.0555 13.49 27.1179L19.865 31.1897C19.9246 31.2248 19.975 31.2737 20.012 31.3322L24.0661 37.735C24.1297 37.8452 24.1499 37.9753 24.1227 38.0997C24.0955 38.2241 24.0228 38.3337 23.9191 38.4069C23.8414 38.4553 23.7521 38.4817 23.6607 38.4832' fill='white')
                                    path(d='M13.2112 12.9686C13.1072 12.9684 13.0061 12.9343 12.923 12.8715C12.8399 12.8088 12.7793 12.7206 12.7502 12.6204C12.7211 12.5201 12.7251 12.4131 12.7616 12.3153C12.7981 12.2175 12.8652 12.1342 12.9527 12.0779L19.2568 8.0367L23.2602 1.72546C23.334 1.63315 23.4389 1.57125 23.5551 1.55147C23.6714 1.5317 23.7908 1.55543 23.8907 1.61818C23.9907 1.68092 24.0642 1.77831 24.0974 1.89189C24.1307 2.00548 24.1213 2.12736 24.071 2.23443L19.9916 8.65255C19.956 8.7136 19.9054 8.76443 19.8446 8.80015L13.4696 12.8719C13.3919 12.9203 13.3026 12.9467 13.2112 12.9483' fill='white')
                                    path(d='M38.6404 38.5088C38.5472 38.5081 38.456 38.4817 38.3768 38.4324C38.2739 38.3584 38.2023 38.2485 38.1761 38.1241C38.1498 37.9998 38.1708 37.8701 38.2349 37.7606L42.289 31.3577C42.3288 31.3015 42.3787 31.2532 42.436 31.2152L48.811 27.1434C48.9206 27.0795 49.0502 27.0592 49.174 27.0866C49.2978 27.1139 49.407 27.1868 49.4799 27.291C49.542 27.4007 49.5614 27.5296 49.5343 27.6528C49.5071 27.776 49.4354 27.8847 49.3329 27.9578L43.0745 31.9685L39.0458 38.2848C39.0007 38.3518 38.9405 38.407 38.87 38.446C38.7995 38.4849 38.7208 38.5064 38.6404 38.5088Z' fill='white')
                                    path(d='M31.1505 10.5663H25.713C25.6709 10.5713 25.6284 10.5713 25.5863 10.5663L19.4596 8.8562C19.3956 8.84241 19.335 8.81566 19.2817 8.77757C19.2283 8.73948 19.1832 8.69086 19.1492 8.63468C19.1152 8.5785 19.0929 8.51594 19.0838 8.45083C19.0747 8.38571 19.0789 8.31942 19.0961 8.25599C19.1134 8.19256 19.1433 8.13333 19.1842 8.08192C19.225 8.03052 19.2758 7.98801 19.3336 7.95701C19.3913 7.92601 19.4547 7.90716 19.5199 7.90162C19.5852 7.89608 19.6509 7.90396 19.713 7.92478L25.794 9.5993H31.1657C31.2418 9.57417 31.3227 9.56753 31.4019 9.57991C31.4811 9.5923 31.5562 9.62336 31.6211 9.67055C31.686 9.71773 31.7388 9.7797 31.7752 9.85137C31.8117 9.92303 31.8307 10.0024 31.8307 10.0828C31.8307 10.1633 31.8117 10.2426 31.7752 10.3143C31.7388 10.3859 31.686 10.4479 31.6211 10.4951C31.5562 10.5423 31.4811 10.5733 31.4019 10.5857C31.3227 10.5981 31.2418 10.5915 31.1657 10.5663' fill='white')
                                    path(d='M25.7128 10.5662C25.6198 10.5696 25.5278 10.5455 25.4483 10.497C25.3687 10.4485 25.3051 10.3776 25.2652 10.2931C25.2253 10.2087 25.2109 10.1143 25.2238 10.0218C25.2367 9.92918 25.2764 9.84243 25.3378 9.77222L30.7804 3.26757C30.871 3.21031 30.9774 3.18337 31.0843 3.19061C31.1911 3.19785 31.2929 3.23889 31.3751 3.30786C31.4573 3.37683 31.5156 3.47017 31.5417 3.57449C31.5677 3.67881 31.5602 3.78874 31.5203 3.88852L26.0828 10.3983C26.0359 10.4503 25.9789 10.4922 25.9153 10.5211C25.8516 10.55 25.7827 10.5653 25.7128 10.5662Z' fill='white')
                                    path(d='M36.5879 10.5663H31.1504C31.0227 10.5663 30.9002 10.5153 30.8099 10.4246C30.7197 10.334 30.6689 10.211 30.6689 10.0827C30.6689 9.9545 30.7197 9.83152 30.8099 9.74084C30.9002 9.65016 31.0227 9.59922 31.1504 9.59922H36.522L42.6031 7.92471C42.664 7.90696 42.7278 7.90161 42.7907 7.90896C42.8537 7.9163 42.9146 7.9362 42.9698 7.96749C43.025 7.99878 43.0735 8.04082 43.1123 8.09116C43.1512 8.14149 43.1796 8.19911 43.196 8.26063C43.2238 8.38388 43.2049 8.51311 43.1431 8.62318C43.0813 8.73325 42.9809 8.81628 42.8615 8.85612L36.7298 10.551C36.6877 10.556 36.6452 10.556 36.6031 10.551' fill='white')
                                    path(d='M36.5878 10.5662C36.5179 10.5653 36.449 10.55 36.3853 10.5211C36.3217 10.4922 36.2646 10.4503 36.2178 10.3983L30.7803 3.88852C30.7403 3.78874 30.7328 3.67881 30.7589 3.57449C30.785 3.47017 30.8433 3.37683 30.9255 3.30786C31.0076 3.23889 31.1095 3.19785 31.2163 3.19061C31.3232 3.18337 31.4295 3.21031 31.5202 3.26757L36.9577 9.77222C37.0338 9.87313 37.0698 9.99892 37.0586 10.125C37.0473 10.2511 36.9897 10.3685 36.8969 10.4542C36.8103 10.5272 36.7008 10.5669 36.5878 10.5662Z' fill='white')
                                    path(d='M19.5863 32.1059C19.4814 32.1023 19.3803 32.0661 19.2968 32.0023C19.2132 31.9384 19.1515 31.8502 19.1201 31.7496C19.0925 31.6257 19.1121 31.4959 19.1749 31.3857C19.2377 31.2756 19.3393 31.1929 19.4596 31.1541L25.5863 29.4592C25.6284 29.4543 25.6709 29.4543 25.713 29.4592H31.1505C31.2782 29.4592 31.4006 29.5102 31.4909 29.6008C31.5812 29.6915 31.6319 29.8145 31.6319 29.9427C31.6319 30.071 31.5812 30.194 31.4909 30.2846C31.4006 30.3753 31.2782 30.4263 31.1505 30.4263H25.7789L19.713 32.0652C19.6711 32.0725 19.6282 32.0725 19.5863 32.0652' fill='white')
                                    path(d='M31.1502 36.9157C31.08 36.9142 31.0108 36.898 30.9471 36.8682C30.8834 36.8384 30.8266 36.7957 30.7803 36.7426L25.3377 30.238C25.2696 30.1958 25.2123 30.1381 25.1707 30.0695C25.1291 30.0008 25.1042 29.9233 25.0981 29.8431C25.0921 29.763 25.105 29.6826 25.1359 29.6084C25.1667 29.5342 25.2146 29.4685 25.2756 29.4165C25.3366 29.3645 25.4091 29.3278 25.4869 29.3093C25.5648 29.2908 25.6459 29.2911 25.7237 29.3102C25.8014 29.3293 25.8735 29.3665 25.9342 29.419C25.9948 29.4714 26.0422 29.5376 26.0725 29.612L31.5201 36.137C31.5614 36.1854 31.5927 36.2417 31.612 36.3025C31.6314 36.3632 31.6384 36.4273 31.6328 36.4908C31.6271 36.5544 31.6088 36.6162 31.579 36.6725C31.5493 36.7289 31.5085 36.7787 31.4593 36.819C31.3732 36.8928 31.2633 36.9326 31.1502 36.931' fill='white')
                                    path(d='M42.7196 32.1058C42.6667 32.1026 42.615 32.0888 42.5676 32.0651L36.4865 30.3855H31.1504C31.0227 30.3855 30.9002 30.3346 30.8099 30.2439C30.7197 30.1532 30.6689 30.0302 30.6689 29.902C30.6689 29.7737 30.7197 29.6508 30.8099 29.5601C30.9002 29.4694 31.0227 29.4185 31.1504 29.4185H36.5879C36.63 29.4136 36.6725 29.4136 36.7146 29.4185L42.8463 31.1133C42.9398 31.1612 43.0162 31.237 43.065 31.3303C43.1137 31.4236 43.1325 31.5298 43.1185 31.6343C43.1046 31.7387 43.0588 31.8363 42.9873 31.9134C42.9159 31.9906 42.8223 32.0436 42.7196 32.0651' fill='white')
                                    path(d='M31.1503 36.9156C31.0614 36.9135 30.9747 36.8867 30.9 36.8381C30.8253 36.7896 30.7654 36.7211 30.7271 36.6405C30.6888 36.5598 30.6735 36.47 30.6829 36.3811C30.6923 36.2922 30.7261 36.2077 30.7804 36.1369L36.2179 29.6119C36.309 29.5535 36.4162 29.5259 36.524 29.5331C36.6317 29.5403 36.7344 29.5818 36.817 29.6517C36.8996 29.7216 36.9578 29.8162 36.9831 29.9216C37.0085 30.0271 36.9996 30.1379 36.9578 30.2379L31.5203 36.7426C31.4739 36.7956 31.4171 36.8384 31.3534 36.8682C31.2897 36.8979 31.2206 36.9141 31.1503 36.9156Z' fill='white')
                                    path(d='M41.0475 20.4912C40.9175 20.4847 40.7951 20.4282 40.7054 20.3334C40.6158 20.2387 40.5659 20.1129 40.5661 19.9822V14.5464C40.5587 14.5026 40.5587 14.4579 40.5661 14.4141L42.2536 8.26063C42.2699 8.19911 42.2984 8.14149 42.3372 8.09116C42.3761 8.04082 42.4245 7.99878 42.4797 7.96749C42.5349 7.9362 42.5958 7.9163 42.6588 7.90896C42.7218 7.90161 42.7856 7.90696 42.8465 7.92471C42.9648 7.96448 43.0644 8.04672 43.1261 8.15567C43.1878 8.26462 43.2074 8.39261 43.1809 8.51511L41.5086 14.6228V20.0026C41.5086 20.1376 41.4552 20.267 41.3602 20.3625C41.2652 20.4579 41.1363 20.5115 41.0019 20.5115' fill='white')
                                    path(d='M47.5087 20.4911C47.3949 20.4908 47.2852 20.4492 47.1995 20.374L40.7181 14.9128C40.6645 14.8738 40.6195 14.8241 40.5859 14.7669C40.5522 14.7097 40.5307 14.6461 40.5226 14.5801C40.5146 14.5142 40.5201 14.4472 40.5389 14.3835C40.5578 14.3198 40.5895 14.2607 40.6321 14.2098C40.6747 14.159 40.7273 14.1175 40.7866 14.088C40.8458 14.0584 40.9105 14.0415 40.9766 14.0382C41.0427 14.0349 41.1088 14.0453 41.1707 14.0688C41.2326 14.0923 41.289 14.1284 41.3364 14.1748L47.8178 19.636C47.9106 19.7217 47.9682 19.8391 47.9795 19.9652C47.9907 20.0913 47.9547 20.2171 47.8786 20.318C47.8323 20.3711 47.7754 20.4138 47.7117 20.4436C47.6481 20.4734 47.5789 20.4896 47.5087 20.4911Z' fill='white')
                                    path(d='M42.7147 32.1059C42.6107 32.1013 42.5106 32.0646 42.4281 32.0008C42.3456 31.9371 42.2847 31.8494 42.2535 31.7496L40.566 25.5911C40.5478 25.5458 40.5392 25.4973 40.5407 25.4486V20.0026C40.5407 19.8743 40.5914 19.7513 40.6817 19.6607C40.772 19.57 40.8944 19.519 41.0221 19.519C41.1498 19.519 41.2722 19.57 41.3625 19.6607C41.4528 19.7513 41.5035 19.8743 41.5035 20.0026V25.3977L43.1758 31.5053C43.1946 31.6226 43.1719 31.7427 43.1118 31.845C43.0516 31.9472 42.9578 32.0251 42.8464 32.0652C42.8028 32.0726 42.7583 32.0726 42.7147 32.0652' fill='white')
                                    path(d='M41.0475 25.9576C40.9769 25.958 40.9071 25.9428 40.8432 25.9128C40.7792 25.8829 40.7226 25.8391 40.6776 25.7845C40.6014 25.6836 40.5655 25.5578 40.5767 25.4317C40.588 25.3056 40.6456 25.1882 40.7384 25.1025L47.1995 19.6361C47.2442 19.5818 47.3001 19.5378 47.3634 19.5074C47.4268 19.4771 47.4959 19.4609 47.5661 19.4602C47.6363 19.4595 47.7058 19.4742 47.7697 19.5033C47.8336 19.5324 47.8904 19.5752 47.9362 19.6286C47.9819 19.6821 48.0154 19.7449 48.0344 19.8128C48.0534 19.8807 48.0574 19.9519 48.0462 20.0214C48.0349 20.091 48.0086 20.1572 47.9692 20.2155C47.9297 20.2738 47.878 20.3228 47.8178 20.3589L41.3364 25.8354C41.2566 25.9077 41.1548 25.9507 41.0475 25.9576Z' fill='white')
                                    path(d='M21.2836 20.4911C21.1579 20.4849 21.039 20.432 20.95 20.3426C20.861 20.2532 20.8083 20.1338 20.8022 20.0076V14.6125L19.1299 8.50481C19.1343 8.39676 19.1729 8.29295 19.2401 8.20841C19.3072 8.12387 19.3994 8.06301 19.5033 8.03466C19.6072 8.0063 19.7174 8.01192 19.8179 8.0507C19.9184 8.08947 20.004 8.1594 20.0623 8.25033L21.7397 14.414C21.7447 14.4579 21.7447 14.5023 21.7397 14.5463V20.0076C21.7332 20.1381 21.6769 20.2611 21.5826 20.3511C21.4882 20.4411 21.363 20.4912 21.2329 20.4911' fill='white')
                                    path(d='M14.797 20.4912C14.7267 20.4897 14.6576 20.4735 14.5939 20.4437C14.5302 20.4139 14.4734 20.3712 14.427 20.3181C14.3857 20.2697 14.3545 20.2134 14.3351 20.1526C14.3158 20.0919 14.3087 20.0278 14.3144 19.9643C14.3201 19.9007 14.3383 19.8389 14.3681 19.7826C14.3979 19.7262 14.4386 19.6764 14.4879 19.6361L20.9642 14.1749C21.0125 14.1334 21.0685 14.102 21.129 14.0825C21.1895 14.0631 21.2533 14.056 21.3165 14.0617C21.3798 14.0674 21.4413 14.0858 21.4974 14.1157C21.5535 14.1456 21.6031 14.1865 21.6433 14.2359C21.6844 14.284 21.7156 14.3398 21.7349 14.4002C21.7542 14.4606 21.7612 14.5242 21.7555 14.5873C21.7498 14.6505 21.7316 14.7118 21.7019 14.7677C21.6721 14.8237 21.6315 14.873 21.5825 14.9129L15.1061 20.3589C15.019 20.4315 14.9101 20.4727 14.797 20.4759' fill='white')
                                    path(d='M19.5863 32.1059C19.5444 32.1132 19.5015 32.1132 19.4596 32.1059C19.3393 32.067 19.2377 31.9844 19.1749 31.8743C19.1121 31.7641 19.0925 31.6343 19.1201 31.5104L20.7924 25.4027V20.0026C20.7924 19.8743 20.8431 19.7513 20.9334 19.6607C21.0237 19.57 21.1461 19.519 21.2738 19.519C21.4015 19.519 21.5239 19.57 21.6142 19.6607C21.7045 19.7513 21.7552 19.8743 21.7552 20.0026V25.4486C21.7605 25.4908 21.7605 25.5335 21.7552 25.5758L20.0677 31.7343C20.0363 31.8349 19.9746 31.9232 19.8911 31.987C19.8076 32.0508 19.7064 32.087 19.6015 32.0906' fill='white')
                                    path(d='M21.2838 25.9575C21.1712 25.9557 21.0624 25.9163 20.9746 25.8455L14.4882 20.3588C14.4346 20.3198 14.3895 20.2702 14.3559 20.2129C14.3223 20.1557 14.3007 20.0921 14.2927 20.0262C14.2846 19.9602 14.2901 19.8933 14.309 19.8296C14.3278 19.7659 14.3595 19.7067 14.4021 19.6559C14.4447 19.605 14.4973 19.5635 14.5566 19.534C14.6159 19.5045 14.6806 19.4875 14.7466 19.4842C14.8127 19.4809 14.8788 19.4914 14.9407 19.5149C15.0026 19.5384 15.059 19.5744 15.1064 19.6208L21.5827 25.0922C21.65 25.1598 21.697 25.2451 21.7182 25.3382C21.7395 25.4314 21.7343 25.5286 21.7031 25.6189C21.6719 25.7092 21.616 25.7888 21.5418 25.8487C21.4677 25.9086 21.3783 25.9463 21.2838 25.9575Z' fill='white')
                                    path(d='M21.2841 15.0298C21.1571 15.0267 21.0359 14.9759 20.9445 14.8873C20.8605 14.7938 20.814 14.6723 20.814 14.5463C20.814 14.4203 20.8605 14.2988 20.9445 14.2053L25.3837 9.74163C25.4206 9.67093 25.4736 9.60995 25.5383 9.5636C25.603 9.51725 25.6776 9.48683 25.7562 9.4748C25.8347 9.46278 25.915 9.46948 25.9905 9.49437C26.066 9.51925 26.1347 9.56163 26.1909 9.61807C26.247 9.67451 26.2892 9.74343 26.314 9.81927C26.3388 9.89511 26.3455 9.97575 26.3335 10.0547C26.3215 10.1336 26.2912 10.2085 26.2451 10.2735C26.1989 10.3385 26.1382 10.3917 26.0678 10.4287L21.6236 14.8873C21.5322 14.9759 21.411 15.0267 21.2841 15.0298Z' fill='white')
                                    path(d='M41.0473 15.0299C40.9204 15.0268 40.7992 14.976 40.7078 14.8874L36.2686 10.4288C36.1831 10.335 36.1357 10.2124 36.1357 10.0853C36.1357 9.95811 36.1831 9.83555 36.2686 9.74173C36.3617 9.65732 36.4827 9.6106 36.6081 9.6106C36.7336 9.6106 36.8545 9.65732 36.9477 9.74173L41.3869 14.2054C41.4709 14.2989 41.5174 14.4204 41.5174 14.5464C41.5174 14.6724 41.4709 14.7939 41.3869 14.8874C41.2955 14.976 41.1743 15.0268 41.0473 15.0299Z' fill='white')
                                    path(d='M25.7129 30.4058C25.5867 30.4041 25.4656 30.3551 25.3734 30.2684L20.9342 25.8047C20.8546 25.7123 20.8128 25.5931 20.8172 25.4709C20.8216 25.3488 20.8719 25.2329 20.9579 25.1465C21.0439 25.0601 21.1593 25.0096 21.2809 25.0052C21.4025 25.0008 21.5213 25.0428 21.6133 25.1227L26.0575 29.5813C26.143 29.6751 26.1904 29.7977 26.1904 29.9249C26.1904 30.052 26.143 30.1746 26.0575 30.2684C25.9641 30.3563 25.841 30.4054 25.7129 30.4058Z' fill='white')
                                    path(d='M36.588 30.4059C36.4931 30.4055 36.4004 30.377 36.3215 30.3238C36.2427 30.2707 36.1812 30.1953 36.1449 30.1071C36.1087 30.019 36.0991 29.9221 36.1176 29.8285C36.136 29.7349 36.1816 29.649 36.2485 29.5813L40.6877 25.1228C40.731 25.0725 40.7841 25.0318 40.8438 25.003C40.9034 24.9743 40.9683 24.9583 41.0344 24.9559C41.1005 24.9535 41.1664 24.9648 41.228 24.9891C41.2895 25.0134 41.3454 25.0502 41.3922 25.0972C41.439 25.1442 41.4756 25.2003 41.4998 25.2621C41.524 25.324 41.5353 25.3902 41.5329 25.4565C41.5305 25.5229 41.5145 25.5881 41.486 25.648C41.4574 25.708 41.4168 25.7613 41.3668 25.8048L36.9276 30.2684C36.8354 30.3551 36.7143 30.4042 36.588 30.4059Z' fill='white')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M0 25.2501H1.52027C1.7027 25.2043 4.05405 20.9391 4.56081 20.308C4.4611 20.7737 4.33247 21.2327 4.17568 21.6822C4.05405 22.0843 4.08446 22.0029 4.26689 22.3286L5.85811 25.1534H7.45946C7.31757 24.7819 4.79899 20.5727 4.59122 20.2571L6.58784 16.959C6.82318 16.6081 7.03317 16.2407 7.21622 15.8596H5.65541C5.48311 16.0683 4.20101 18.323 3.89696 18.832L3.7348 19.0254C3.60861 18.7575 3.46646 18.4974 3.30912 18.2467C3.14696 17.9617 3.01014 17.7377 2.85304 17.4476L1.93074 15.8596H0.375C0.405405 16.053 1.5 17.8955 1.69764 18.2314C1.89527 18.5673 2.14358 19.0101 2.38176 19.4071C2.82264 20.1553 2.98986 20.2622 2.78209 20.593L0.684122 24.0795C0.435506 24.4572 0.207141 24.848 0 25.2501' fill='white')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M54.7905 25.2804H56.2196V18.7503C56.3451 18.8891 56.4806 19.0184 56.625 19.1372L57.8868 20.4758L58.2871 20.9186L59.5946 22.2572C60.1469 22.8374 60.6993 23.4583 61.2517 24.0385L62.9797 25.8098V15.8899H61.5355V22.3589C61.2061 22.0841 59.777 20.547 59.4426 20.1755L58.1605 18.8318C57.8716 18.5518 57.6537 18.1956 57.3344 17.9309C57.0388 17.6541 56.7596 17.36 56.4983 17.0504L54.7956 15.2944L54.7905 25.2804Z' fill='white')
