// В этом файле должны быть стили для БЭМ-блока list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.list {
    margin: 1em 0;
    padding: 0;
    list-style: none;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    & > li {
        position: relative;
        padding-left: 1em;

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }

        &:before {
            content: '';
            position: absolute;
            display: block;
            top: 0.5em;
            left: 0;
            width: 0.4em;
            height: 0.4em;
            border-radius: 50%;
            background-color: $text-color;
        }
    }
}

