// В этом файле должны быть стили для БЭМ-блока table-responsive, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.table-responsive {
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin: 0;

    &:not(:first-child) {
        margin-top: 1em;
    }

    &:not(:last-child) {
        margin-bottom: 1em;
    }

    caption {
        caption-side: top;
        text-align: left;
        border: 1px solid #E3E3E3;
        border-bottom: 0;
        padding: 0.4em $field-padding-horizontal;
        font-size: $font-size-sm;
        line-height: 1em;
        color: $text-color-muted;

        @media (max-width: ($screen-md - 1)) {
            display: block;
            margin-top: 1em;
            margin-bottom: 0.5em;
            border: 0;
            padding: 0;
            font-family: $font-family;
            font-size: $font-size-h3;
            font-weight: 700;
            line-height: 1.2;
            color: currentColor;
        }
    }

    td,
    th {
        padding: 0.8em 0.5em 0.8em 0;
        vertical-align: top;
        border-bottom: 1px solid #E3E3E3;

        @media (max-width: $screen-md) {
            padding: 0.5em;
        }
    }

    td {
        font-size: 20px;
        font-weight: 500;

        @media (max-width: 1439px) {
            font-size: 16px;
        }

        @media (max-width: $screen-md) {
            font-size: 14px;
            font-weight: 400;
        }
    }

    th {
        font-weight: 500;
        font-size: 18px;
        color: rgba($text-color, 0.5);

        @media (max-width: 1439px) {
            font-size: 16px;
        }
    }

    .btn {
        font-size: 12px;
        border-width: 1px;
        white-space: nowrap;
    }

    &__text-right {
        text-align: right;

        @media (max-width: $screen-md) {
            text-align: left;
        }

        &:last-child {
            padding-right: 0;

            @media (max-width: $screen-md) {
                padding-right: 0.5em;
            }
        }
    }

    @media (max-width: ($screen-md - 1)) {
        display: block;
        border: 0;

        thead {
            display: none;
        }

        tbody {
            display: block;
            width: 100%;

            tr {
                display: block;
                border: 1px solid #E3E3E3;
                border-bottom: 0;

                &:not(:last-child) { // stylelint-disable-line  max-nesting-depth
                    margin-bottom: 1em * $line-height;
                }
            }

            td {
                display: block;
                width: 100%;
                border-right: 0 !important; // stylelint-disable-line  declaration-no-important
                border-left: 0 !important; // stylelint-disable-line  declaration-no-important

                &:before { // stylelint-disable-line  max-nesting-depth
                    content: attr(data-label);
                    display: block;
                    font-weight: 700;
                }
            }
        }
    }
}
