// В этом файле должны быть стили для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social {

    $block-name:                &; // #{$block-name}__

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
}
