// В этом файле должны быть стили для БЭМ-блока account-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.account-nav {
    position: relative;
    
    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        @media (max-width: $screen-lg) {
            display: none;
            position: absolute;
            top: 100%;
            left: 10px;
            width: calc(100% - 20px);
            z-index: 1;
            background-color: $white;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.14);
            border-radius: 0 0 1px 1px;
        }
    }

    &__title {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-size: $font-size-h2;
        font-weight: 600;

        @media (max-width: 1439px) {
            font-size: 24px;
        }

        @media (max-width: $screen-lg) {
            display: none;
        }
    }

    &__select {
        position: relative;
        display: inline-flex;
        align-items: center;
        width: 100%;
        min-height: 35px;
        border-radius: 1px;
        border: 1px solid rgba($green-dark, 0.2);
        background-color: rgba($green-dark, 0.08);
        padding: 0.5em 1.5em 0.5em 0.8em;
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;

        @media (min-width: $screen-lg) {
            display: none;
        }

        .icon {
            margin-right: 5px;

            @media (max-width: $screen-lg) {
                width: 15px;
                height: 15px;
            }
        }

        &:hover,
        &:focus {
            color: $text-color;
        }

        &:before {
            content: '';
            position: absolute;
            display: block;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            background: svg-load('../blocks/categories-tabs/bg-img/select-arrow.svg', width='6px', height='6px') center center no-repeat;
            transition: all 0.3s;
        }

        &--active {

            &:before {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &__item {

        &--active {

            .account-nav__link {
                color: $blue;
                font-weight: 700;

                @media (max-width: $screen-lg) {
                    background-color: rgba($green-dark, 0.08);
                    color: $text-color;
                    font-weight: 400;
                }
            }
        }
    }

    &__link {
        display: flex;
        padding: 0.7em 0;
        font-size: 20px;
        color: $text-color;
        text-decoration: none;
        font-weight: 500;
        border-bottom: 1px solid #E3E3E3;
        transition: font-weight 0s;

        @media (max-width: 1439px) {
            font-size: 18px;
        }

        @media (max-width: $screen-lg) {
            font-size: 14px;
            padding: 0.5em 0.8em;
            font-weight: 400;
            color: $gray-darker;
            border: none;
        }

        &:hover,
        &:focus {
            color: $blue;
        }
    }
}
