// В этом файле должны быть стили для БЭМ-блока delivery, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.delivery {
    font-size: 18px;

    @media (max-width: 1439px) {
        font-size: 16px;
    }

    @media (max-width: $screen-xl) {
        font-size: 14px;
    }
    
    &__row {
        @include row();
        margin-bottom: -40px;

        @media (max-width: $screen-lg) {
            margin-bottom: -30px;
        }
    }

    &__item {
        @include make-col(6);
        @include col(lg, 12, 12, 20px);
    }

    &__text {
        color: $gray-darker;

        &:not(:last-child) {
            margin-bottom: 40px;

            @media (max-width: $screen-lg) {
                margin-bottom: 30px;
            }
        }
    }

    &__item {
        margin-bottom: 40px;

        @media (max-width: $screen-lg) {
            margin-bottom: 30px;
        }
    }

    &__subtitle {
        margin-top: 0;
        font-family: 'Lora', sans-serif;
    }
}
