// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog {
    
    &__wrapper {
        @include row(50px);

        @media (max-width: $screen-lg) {
            margin-left: -15px;
            margin-right: -15px;
        }

        @media (max-width: $screen-sm) {
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    &__filters {
        @include make-col(2.8, 12, 50px);
        @include col(lg, 4, 12, 30px);
    }

    &__products:not(.mfilter-selected-filters) {
        @include make-col(9.2, 12, 50px);
        @include col(lg, 8, 12, 30px);
        @include col(md, 12, 12, 30px);

        @media (max-width: $screen-md) {
            padding-bottom: 0;
        }

        .item-product {

            &:nth-child(n + 11) {/*
                display: none;*/
            }
        }
    }
}
